{% load daddy_avatar %}
<div class="">
	<div class="user-comment">
		<div class="avatar">
			<img class="nav-avatar" src="{{user|get_avatar:80}}">
		</div>
		<div class="text_box">

			<form action="{% url "pin-comment" %}" method="post" class="form" id="add-comment-form">

				<div class="">
					<div class="pa10 pato0">
						<textarea class="form-control" id="id_comment"  name="text" placeholder="نظر خود را وارد کنید" ></textarea>
					</div>
					<div class="pa10 pull-left">
						<input type="submit" id="comment-submit-btn" class="wis_btn orange wide pull-left" name="submit" value="ارسال">
						<img src="{{MEDIA_URL}}v2/images/loading-img.gif" alt="Loading..." class="comment-loading-img" />
					</div>

				</div>
				<input type="hidden" name="post" value="{{post.id}}">
			</form>
		</div>

		<div class="clear"></div>
	</div>
</div>
