{% load pin_tags%}
{% load widget_tweaks %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_CDN}}v2/css/select2.min.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_CDN}}v2/css/owl.carousel.css" />
{% endblock css %}

<div class="modal fade" id="fromImageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form role="form" method="post" class="form-horizontal" action="{% url 'pin-send' %}" id="pin_form">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="fromImageModal">ارسال مطلب جدید<img src="{{STATIC_CDN}}v2/images/icons/wis-icon.png" alt="" class="wis_modal_icon"></h4>
				</div>
				<div class="modal-body">

					
					<div class="col-md-8 col-sm-12 col-xs-12 modal_image">
						<div class="controls">
							<a href="javascript:;" class="upload_img_btn wis_btn green mabo10">انتخاب تصویر</a>
							<div id="file-uploader">
								<input type="file" name="image_uploader" id="image_upload_input" />
							</div>
							<div class="uploaded-image" id="uploaded_image">
								<canvas id="uploaded_image_canvas" height="1000" width="500"></canvas>
							</div>
							<input type="hidden" value="" id="image_field" name="image" />
						</div>
						<div class="filters">
							<div id="PresetFilters" class="owl-carousel owl-theme">

								<a class="filter" id="oldBoot" data-preset="oldBoot"></a>
								<a class="filter" id="glowingSun" data-preset="glowingSun"></a>
								<a class="filter" id="hazyDays" data-preset="hazyDays"></a>
								<a class="filter" id="vintage" data-preset="vintage"></a>
								<a class="filter" id="lomo" data-preset="lomo"></a>
								<a class="filter" id="clarity" data-preset="clarity"></a>
								<a class="filter" id="sinCity" data-preset="sinCity"></a>
								<a class="filter" id="sunrise" data-preset="sunrise"></a>
								<a class="filter" id="crossProcess" data-preset="crossProcess"></a>
								<a class="filter" id="orangePeel" data-preset="orangePeel"></a>
								<a class="filter" id="love" data-preset="love"></a>
								<a class="filter" id="grungy" data-preset="grungy"></a>
								<a class="filter" id="jarques" data-preset="jarques"></a>
								<a class="filter" id="pinhole" data-preset="pinhole"></a>
								<a class="filter" id="herMajesty" data-preset="herMajesty"></a>
								<a class="filter" id="nostalgia" data-preset="nostalgia"></a>
								<a class="filter" id="hemingway" data-preset="hemingway"></a>
								<a class="filter" id="concentrate" data-preset="concentrate"></a>

							</div>

							<a class="prev nav_btn"> <i class="fa fa-chevron-left"></i> </a>
							<a class="next nav_btn"> <i class="fa fa-chevron-right"></i> </a>
						</div>
					</div>

					<div class="col-md-4 col-sm-12 col-xs-12 modal_form">
						<div class="modal_buttons actions row">
							<ul>
								{% comment %}
								<li><a href="javascript:;" class="action_btn img_crop_btn"></a></li>
								<li><a href="javascript:;" class="action_btn img_rotate_btn"></a></li>
								{% endcomment %}
								<li>
									<button class="action_btn img_reset_btn" disabled="disabled" data-toggle="tooltip" data-placement="bottom" title="بازگرداندن به حالت اول"></button>
								</li>
							</ul>
						</div>
						{% csrf_token%}
						<div class="form-group">
							{{ form.errors}}
						</div>
						<div class="form-group ">
							<label>توضیحات: </label>
							<textarea class="form-control" id="id_text" rows="5" cols="40" name="text"> </textarea>
						</div>
						<div class="form-group">
							<label>آدرس:</label>
							<input type="text" name="url" placeholder="URL" class="form-control  span3 ltr">
						</div>
						<div class="form-group">
							<label>گروه </label>
							{% render_field pin_form.category class+="form-control select2" %}
						</div>

						<center>
							<button type="button" class="wis_btn orange sub_btn" disabled="">ذخیره</button>
							<input type="submit" value="ذخیره" style="display:none;" />
						</center>
					</div>
					<div class="clear"></div>



				</div>
			</form>
		</div>
	</div>
</div>

{% block js %}
<script type="text/javascript" src="{{STATIC_CDN}}v2/js/select2.min.js"></script>
<script type="text/javascript" src="{{STATIC_CDN}}v2/js/owl.carousel.min.js"></script>

<script type="text/javascript">
	$.fn.modal.Constructor.prototype.enforceFocus = function () {};
	$('.select2').select2({
		width:'100%',
		dir: "rtl",
	});

	var owl = $("#PresetFilters");

	owl.owlCarousel({
		itemsDesktop : [1000,5], 
		itemsDesktopSmall : [900,3], 
		itemsTablet: [600,2], 
		responsive: false, 
		itemsMobile : false 
	});

	$(".nav_btn.next").click(function(){
		owl.trigger('owl.next');
	});
	$(".nav_btn.prev").click(function(){
		owl.trigger('owl.prev');
	});

</script>
{% endblock js %}