{% load daddy_avatar %}
{% load pin_tags %}
{% load humanize %}
<div class="feed-item masonry-brick new_items">
	<div class="img-content">
		<a class="pin-item-link" href="{% url 'pin-item' item.id%}{% if related %}?from={{post.id}}{%endif%}">
			<img src="{{ item.images.thumbnail.url }}" width="236" height="{{ item.images.thumbnail.height }}" alt="{{item.text|remove_newlines|truncatewords:35}}">
		</a>
		{% if item.images.thumbnail.height > 500 %}
			<div class="expand_post">عکس بلند</div>
		{% endif %}
	</div>
	
	<div class="clearfix"></div>

	<div class="post-action">
		<div class="btn-box likes{% if item.like_with_user %} user-liked {% endif %} {% if user.is_superuser %}col-sm-4{% else %}col-sm-6{% endif %}">
			{% if user.is_authenticated %}
			<a href="{% url 'pin-item-like' item.id %}" class="btn_like">
				<span class="count">{{item.cnt_like|pn}}</span>
				<span class="like_icon"></span>
			</a>
			{% else %}
			<a href="javascript:;" class="login_required">
				<span class="count">{{item.cnt_like|pn}}</span>
				<span class="like_icon"></span>
			</a>
			{% endif %}

		</div>
		<div class="btn-box {% if user.is_superuser %}col-sm-4{% else %}col-sm-6{% endif %} comment">
			<a href="{% url 'pin-item' item.id%}{% if related %}?from={{post.id}}{%endif%}">
				<span class="cnt-like">{{item.cnt_comment|pn}}</span>
				<span class="cmnt_icon"></span>
			</a>
		</div>

		{% if user.is_superuser %}
		<div class="col-sm-2">
			{% if item.show_in_default %}

			<a href="{% url 'pin-item-goto-index' item.id 0%}" class="item-to-index pa10 user-action-btn" data-toggle="tooltip" data-placement="bottom" title="حذف از صفحه اول">
				<i class="fa fa-times red"></i>
			</a>
			{% else %}
			<a href="{% url 'pin-item-goto-index' item.id 1%}" class="item-to-index pa10 f-black user-action-btn" data-toggle="tooltip" data-placement="bottom" title="ارسال به صفحه اول"> 
				<i class="fa fa-check green"></i>
			</a>
			{% endif %}
		</div>
		<div class="col-sm-2">
			<a href="{% url 'pin-item-delete' item.id%}" class="delpost user-action-btn" data-toggle="tooltip" data-placement="bottom" title="حذف تصویر">
				<i class="fa fa-trash red"></i>
			</a>
		</div>
		{% endif %}
		<div class="clearfix"></div>

	</div>

	<div class="clearfix"></div>
	{% if not item.text.strip == "" %}
	<div class="description">
		<p>{{item.text|safe|truncatewords:"50"|linebreaksbr|urlizetrunc:30}}</p>
	</div>
	{% endif %}

	{% if item.tags %}
	<div class="tags">
		{% for t in item.tags %}
		<a href="{{t.permalink.web}}">#{{t.title}}</a>
		{% endfor %}
	</div>
	{% endif %}


	<div class="clear"></div>
	<div class="avatar-box">
		<div class="avatar post-avatar">
			<a href="{% url 'pin-absuser' item.user.username %}">
				<img src="{{item.user.avatar}}" style="display: inline;" > 
			</a>
		</div>
		<span class=''>
			
		</span>
		{% if user.is_authenticated %}
		<div class="dropdown three-dot">
			<a class="dropdown-toggle dl" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				<img src="{{STATIC_CDN}}v2/images/3dot.png" alt="">
			</a>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				<li>
					<a href="{% url "pin-save-as-ads" item.id %}">ویژه کردن عکس <i class="fa fa-bullhorn"></i></a>
				</li>

				{% if user.id == item.user.id or user.is_superuser %}
				<li>
					<a href="{% url 'pin-item-edit' item.id %}" class="" data-toggle="modal" data-target="#postModal"> 
						ویرایش <i class="fa fa-pencil"></i>
					</a>
				</li>

				<li><a href="{% url 'pin-item-delete' item.id%}" class=" delpost user-action-btn" title="حذف تصویر">حذف <i class="fa fa-trash-o"></i></a></li>
				{% endif %}

				<li>
					<a class="report-btn" alt="{{user.id}}/{{item.user.id}}" href="{% url "report_pin" item.id%}"> گزارش تخلف <i class="fa fa-exclamation-triangle"></i> </a>
				</li>
			</ul>
		</div>
		{% endif %}


		<div class="username">
			<a href="{% url 'pin-absuser' item.user.username %}" data-toggle="tooltip" data-placement="bottom" title="{{item.user.username}}">
				{{item.user.username|truncatechars:"18"}}
			</a>
			<span class="post_time">{{item.timestamp|timestamp_to_datetime}}</span>
		</div>	

	</div>
</div>
