{% load daddy_avatar %}
{% load pin_tags %}

<div class="avatar">
	<a href='{% url "pin-absuser" profile.user_id|get_user_name %}'>
		<img src="{{profile.user_id|get_avatar:210}}">
	</a>
</div>

<div class="user-info">
	<div class="col-md-12 col-sm-12 col-xs-12 username">
		<h4>{{profile.user_id|get_user_name}}</h4>

		{% if profile.user_id == request.user.id %}
		<a href="{% url "user-profile-change" %}" class="btn btn-xs btn-primary f-white" data-toggle="modal" data-target="#profileModal">ویرایش</a>
		{% endif %}

		{% if profile.user_id != request.user.id %}
			{% if follow_status == 0 %}
				<a class="btn btn-xs btn-success ajax-follow" href='{% url "pin-follow" profile.user_id 1 %}'>ایجاد دوستی</a>
			{% else %}
				<a class="btn btn-xs btn-danger ajax-follow" href='{% url "pin-follow" profile.user_id 0 %}'>قطع ارتباط</a>
			{%endif%}
		{% endif %}
	</div>
	
</div>

<div class="clear"></div>

<div class="row">
	<div aria-label="Vertical button group" role="group" class=" col-md-12 btn-group-vertical">
		<a class="btn btn-default" href='{% url "pin-absuser-like" profile.user.username %}' type="link">
			مورد علاقه‌های کاربر
		</a>
		<a class="btn {% if page == 'user_following' %} btn-primary {% else %} btn-default {% endif %}" href='{% url "pin-absuser-following" profile.user.username %}' type="button">
			دنبال شوندگان 
			<small>(</small><strong>{{profile.get_cnt_following|pn}}</strong><small>)</small>
		</a>
		<a class="btn {% if page == 'user_follower' %} btn-primary {% else %} btn-default {% endif %}" href='{% url "pin-absuser-followers" profile.user.username %}' type="button">
			دنبال کنندگان
			<small>(</small><strong>{{profile.get_cnt_followers|pn}}</strong><small>)</small>
		</a>
	</div>
</div>

