{% load daddy_avatar %}
{% load pin_tags %}

<div class="avatar">
	<a href="{% url "pin-user" cur_user.id %}">
		<img src="{{cur_user|get_avatar:210}}">
	</a>
</div>

<div class="user-info">
	<div class="col-md-12 col-sm-12 col-xs-12 username">
		<h4>{{cur_user|get_username}}</h4>
	</div>
	{% if cur_user.id != request.user.id %}
<div class="col-md-12">
   {% if follow_status == 0 %}

		<a class="btn btn-success" href="{% url "pin-follow" cur_user.id 1 %}">ایجاد دوستی</a>

	{% else %}

		<a class="btn btn-danger" href="{% url "pin-follow" cur_user.id 0 %}">قطع ارتباط</a>

	{%endif%}

</div>
{% endif %}
	<div class="col-md-12 col-sm-12 col-xs-12 likes f-black">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<a class="f-black" href="{% url "pin-user-like" cur_user.id %}">مطالب مورد علاقه</a>
		</div>
	</div>

	<div class="col-md-12 col-sm-12 col-xs-12 likes f-black">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<a href="{% url "pin-user-following" cur_user.id %}" class="f-black">دنبال شوندگان</a>
		</div>
	</div>

	<div class="col-md-12 col-sm-12 col-xs-12 likes f-black">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<a href="{% url "pin-user-followers" cur_user.id %}" class="f-black">دنبال کنندگان</a>
		</div>
	</div>
</div>