{% load humanize %}
{% load pin_tags %}
<div class="row ">
	<div class="col-md-12 col-sm-12 col-xs-12 detail-info">
		<div class="user-stat">
			<table class="table table-hover">
				<tr>
					<td><small>امتیاز :</small></td>
					<td><strong>{{profile.score|intcomma|pn}}</strong></td>
				</tr>
				<tr>
					<td>تعداد مطالب :</td>
					<td><strong>{{profile.cnt_post|pn}}</strong></td>
				</tr>
				<tr>
					<td>تعداد لایک :</td>
					<td><strong>{{profile.cnt_like|pn}}</strong></td>
				</tr>
				<tr>
					<td>ارسال مطلب :</td>
					<td>
					{% if profile.user.is_active %}
						<strong>فعال</strong>
{% if user.is_superuser %}
<div class="btn-group">
	<button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
		غیر فعال کردن <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="{% url "activate-user" profile.user.id 0%}?q=محتوای غیر اخلاقی">محتوای غیر اخلاقی</a>
		</li>
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="{% url "activate-user" profile.user.id 0%}?q=نقض حریم خصوصی">نقض حریم خصوصی</a>
		</li>
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="{% url "activate-user" profile.user.id 0%}?q=توهین به مقدسات">توهین به مقدسات</a>
		</li>
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="{% url "activate-user" profile.user.id 0%}?q=توهین به مقامات کشوری">توهین به مقامات کشوری</a>
		</li>
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="{% url "activate-user" profile.user.id 0%}?q=توهین به کاربران">توهین به کاربران</a>
		</li>
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="{% url "activate-user" profile.user.id 0%}?q=تکرار تخلف">تکرار تخلف</a>
		</li>
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="{% url "activate-user" profile.user.id 0%}?q=ارسال هرزنامه">ارسال هرزنامه</a>
		</li>
	</ul>
</div>
{% endif %}
					{% else%}
						<strong>غیرفعال</strong>
						{% if user.is_superuser %}
						<a class="btn btn-xs btn-success" href="{% url "activate-user" profile.user.id 1%}">فعال کردن</a>
						{% endif %}
					{%endif%}</td>
					</tr>
					<tr>
						<td>تاریخ عضویت :</td>
						<td><strong>{{profile.user.date_joined|date_filter}}</strong></td>
					</tr>
					{% if profile.website.strip|length > 0 %}
					<tr>
						<td>وب سایت :</td>
						<td><a target="_blank" href="{{profile.website}}"><i class="glyphicon glyphicon-globe"> </i></a></td>
					</tr>
					{% endif %}
					{% comment %}
					{% if profile.user.id == request.user.id %}
					{% endcomment %}
					<tr>
						<td>موجودی حساب :</td>
						<td><strong>{{profile.get_credit|pn}} ویس</strong>  
							{% if request.user.id == user_id %}
							<a href="{% url "pin-inc-credit"%}" class="btn btn-xs btn-success f-white">افزایش اعتبار</a>
							{% endif %}
						</td>
					</tr>
					{% comment %}
					{%endif%}
					{% endcomment %}

					{% if request.user.is_superuser %}
					<tr>
						<td>سطح کاربری :</td>
						<td>{{profile.get_level_string}}
							<div class="btn-group">
								<button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
									تغییر وضعیت <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
									<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "change-level" profile.user.id 2 %}">پلیس</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "change-level" profile.user.id 1 %}">عادی</a></li>
								</ul>
							</div>

						</td>
					</tr>
					{% endif %}
				</table>
			</div>

		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div class="clear"></div>