{% load humanize %}
{% load pin_tags %}
<div class="row ">
	<div class="col-md-12 col-sm-12 col-xs-12 detail-info">
		<div class="user-stat">
			<table class="table table-hover">
				<tr>
					<td><small>امتیاز :</small></td>
					<td><strong>{{cur_user.profile.score|intcomma|pn}}</strong></td>
				</tr>
				<tr>
					<td>تعداد مطالب :</td>
					<td><strong>{{cur_user.profile.cnt_post|pn}}</strong></td>
				</tr>
				<tr>
					<td>تعداد لایک :</td>
					<td><strong>{{cur_user.profile.cnt_like|pn}}</strong></td>
				</tr>
				<tr>
					<td>ارسال مطلب :</td>
					<td>{% if cur_user.is_active %}
						<strong>فعال</strong>
						{% if user.is_superuser %}
						<a class="btn btn-xs btn-danger" href="{% url "activate-user" cur_user.id 0%}">غیر فعال کردن</a>
						{% endif %}
						{% else%}
						<strong>غیرفعال</strong>
						{% if user.is_superuser %}
						<a class="btn btn-xs btn-success" href="{% url "activate-user" cur_user.id 1%}">فعال کردن</a>
						{% endif %}
						{%endif%}</td>
					</tr>
					<tr>
						<td>تاریخ عضویت :</td>
						<td><strong>{{cur_user.date_joined|date:"d-m-Y"}}</strong></td>
					</tr>
					{% if cur_user.profile.website.strip|length > 0 %}
					<tr>
						<td>وب سایت :</td>
						<td><a target="_blank" href="{{cur_user.profile.website}}"><i class="glyphicon glyphicon-globe"> </i></a></td>
					</tr>
					{% endif %}
					{% if cur_user.id == request.user.id %}
					<tr>
						<td>موجودی حساب :</td>
						<td><strong>{{cur_user.profile.get_credit|pn}} ویس</strong>  
							{% if request.user.id == user_id %}
							<a href="{% url "pin-inc-credit"%}" class="btn btn-xs btn-success f-white">افزایش اعتبار</a>
							{% endif %}
						</td>
					</tr>
					{%endif%}

					<tr>
						<td>سطح کاربری :</td>
						<td>{{cur_user.profile.get_level_string}}
							{% if request.user.is_superuser %}
							<div class="btn-group">
								<button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
									تغییر وضعیت <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
									<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "change-level" cur_user.id 2 %}">پلیس</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url "change-level" cur_user.id 1 %}">عادی</a></li>
								</ul>
							</div>

							
							{% endif %}
						</td>
					</tr>
				</table>
			</div>

		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<div class="clear"></div>