{% load daddy_avatar %}
{% load pin_tags %}
<ul>
	<li class="pa15">
		<center>منوی کاربری 
			<a href="javascript:;" class="pull-right colse-menu-btn"><span class='fa fa-close'></span></a>
		</center>
	</li>
	<li class="pa15">
		<div class="col-md-6 col-sm-5 top-search">
			<form action="{% url "search" %}">
				<button class="pull-left">
					<span class="glyphicon glyphicon-search"></span>
				</button>
				<input name="q" type="text">

			</form>
		</div>
	</li>
	{% if user.is_authenticated %}
	<li class="parent user-box">
		<a href="javascript:;">
			<img class="nav-avatar" src="{{user|get_avatar:41}}">
			{{user.username}} <span class="badge">{{user.id|get_user_notify}}</span>
		</a>
		<ul>
			<li>
				<a href="{% url 'pin-absuser' user.username %}">پروفایل</a>
			</li>
			<li>
				<a href="{% url 'pin-notif-user' %}">رخدادها <span class="badge">{{user.id|get_user_notify}}</span></a>
			</li>
			<li>
				<a href="/accounts/password/change/">تعویض رمز عبور</a>
			</li>
			
			<li>
				<a href="/accounts/logout/">خروج</a>
			</li>
		</ul>
	</li>
	<li class="parent">
		<a href="javascript:;">
			ارسال تصویر
		</a>
		<ul>
			<li>
				<a data-toggle="modal" data-target="#fromImageModal" href="#fromImageModal">
					ارسال فایل
				</a>
			</li>
			<li>
				<a data-toggle="modal" data-target="#fromUrlModal" href="#fromUrlModal">
					ارسال از وب
				</a>
			</li>
		</ul>
	</li>
	<li class="{% if page == 'following' %} active{% endif %}">
		<a href="{% url "pin-following" %}">مطالب دوستان</a>
	</li>
	<li class="{% if page == 'user_like' %} active{% endif %}">
		<a href="{% url 'pin-user-like' user.id %}">مطالب مورد علاقه</a>
	</li>
	{% else %}
	<li>
		<a href="/accounts/login/">ورود</a>
	</li>
	<li>
		<a href="/accounts/register/">ثبت نام</a>
	</li>
	{% endif %}
	<li class="{% if page == 'latest' %} active{% endif %}">
		<a href="{% url 'pin-latest' %}">آخرین مطالب</a>
	</li>
	<li>
		<a href="{% url 'policy' %}">قوانین</a>
	</li>
	<li>
		<a href="/search/">جستجو</a>
	</li>

	<li class="parent">
		<a  class="" href="javascript:;"> برترینها</a>
		<ul>
			<li><a href="{% url 'pin-popular' %}">همه زمانها</a></li>
			<li><a href="{% url 'pin-popular-offset' 'month' %}">یک ماه گذشته</a></li>
			<li><a href="{% url 'pin-popular-offset' 'lastweek' %}">هفته گذشته</a></li>
			<li><a href="{% url 'pin-popular-offset' 'lastday' %} ">24 ساعت گذشته</a></li>
			<li><a href="{% url 'pin-popular-offset' 'lasteigth' %} ">8 ساعت گذشته</a></li>
		</ul>
	</li>

	<li class="parent">
		<a class=""  href="javascript:;"> گروه ها</a>
		<ul class="">

			{% for c in subs %}
			<li class="parent"> <a href="javascript:;">{{c.title}}</a>
				<ul>
					{% for cc in c.sub_category.all %}
					<li><a href="/category/{{cc.id}}">{{cc.title}}</a></li>
					{% endfor %}
				</ul>
			</li>
			{% endfor %}

		</ul>
	</li>

	<li class="parent">
		<a href="javascript:;">برترین کاربران</a>
		<ul>
			<li><a href="{% url 'pin-topuser' %}">کل سایت</a></li>
			<li><a href="{% url 'pin-topgroupuser' %}">گروه ها</a></li>
		</ul>
	</li>



</ul>