{% load daddy_avatar %}
{% load pin_tags %}
<div class="profile box">
	<div class="user-detail">
		<div class="avatar">
			<a href="{% url "pin-absuser" post.user_id|get_user_name %}">
				<img src="{{post.user_id|get_avatar:65}}" />
			</a>
		</div>
		<div class="user-info">
			<div class="username">
				<h3>
					<a href="{% url "pin-absuser" post.user_id|get_user_name %}">
						{{post.user.profile.name|truncatechars:"20"}}
					</a>
				</h3>
			</div>

			<div class="user_name">
				<p>{{post.user.username}}</p>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	{% if post.user.id != request.user.id and user.is_authenticated %}
		{% if follow_status == 0 %}
		<a class="wis_btn green w100 mabo10 mato10 ajax-follow" href='{% url "pin-follow" post.user_id 1 %}'>ایجاد دوستی</a>
		{% else %}
		<a class="wis_btn red w100 mabo10  mato10 ajax-follow" href='{% url "pin-follow" post.user_id 0 %}'>قطع ارتباط</a>
		{%endif%}
	{% endif %}

	<div class="clear"></div>


	<div class="user-posts">
		<div class="user-post-items"></div>
	</div>
	<img class="post-loading" src="{{MEDIA_URL}}v2/images/loading-img.gif" alt="">

	<div class="clear"></div>

</div>

{% if not DEBUG %}
<div class="tabliq pa20">
	<script type="text/javascript" src="http://click.sabavision.com/get_camp.php?id=22117,22116,22115,22114,22113,22112"></script>
</div>
{% endif %}

{% include "pin2/mobil_ads.html" %}


{% comment %}
<br />
<div class="tabliq col-sm-12 hidden-xs hidden-sm">
	<div class="row">
		<script type="text/javascript">
		var agahist_pram = agahist_pram || [];
		agahist_pram["aduser"] = "6";
		agahist_pram["category"] = "{{post.category_id}}"; 
		agahist_pram["adheight"] = "250";
		agahist_pram["adwidth"] = "250";			
		</script> 
		<script type="text/javascript" src="http://agahist.com/media/js/pubBanner.js"></script>
	</div>
</div>
	
<br />
{% include "base/ad-290x170.html" %}
<br />
{% include "base/ad-290x100.html" %}
{% endcomment %}
