{% load daddy_avatar %}
{% load pin_tags %}
<div class="profile">

	<div class="col-md-8 col-sm-6 col-xs-8 pato20">
		<div class="username">
			<a href="{% url "pin-absuser" post.user_id|get_user_name %}">
				{{post.user_id|get_username}}
			</a>
		</div>

		<div class="score">
			<p> {{post.get_profile_score}} : امتیاز</p>
		</div>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-4">
		<div class="avatar">
			<a href="{% url "pin-absuser" post.user_id|get_user_name %}">
				<img src="{{post.user_id|get_avatar:65}}" />
			</a>
		</div>
	</div>
	<div class="clear"></div>


</div>
{% include "pin2/mobil_ads.html" %}
{% comment %}
<br />
<div class="tabliq col-sm-12 hidden-xs hidden-sm">
	<div class="row">
		<script type="text/javascript">
		var agahist_pram = agahist_pram || [];
		agahist_pram["aduser"] = "6";
		agahist_pram["category"] = "{{post.category_id}}"; 
		agahist_pram["adheight"] = "250";
		agahist_pram["adwidth"] = "250";			
		</script> 
		<script type="text/javascript" src="http://agahist.com/media/js/pubBanner.js"></script>
	</div>
</div>
	
<br />
{% include "base/ad-290x170.html" %}
<br />
{% include "base/ad-290x100.html" %}
{% endcomment %}
