<ul class="social_icons">
    <!-- <li><a href="test"><img src="{{STATIC_CDN}}v2/images/icons/i_facebook.png" alt=""></a></li> -->
    <li><a href="tg://msg?text={{post.text}}%20%20{{post.get_web_absolute_url}}"><img src="{{STATIC_CDN}}v2/images/icons/i_telegram.png" alt=""></a></li>
    <li>
        <a href="viber://forward?text={{post.text}}%20%20{{post.get_web_absolute_url}}">
            <img src="{{STATIC_CDN}}v2/images/icons/i_viber.png" alt="">
        </a>
    </li>
    <li>
        <a href="whatsapp://send?text={{post.text}}%20%20{{post.get_web_absolute_url}}" data-action="share/whatsapp/share">
            <img src="{{STATIC_CDN}}v2/images/icons/i_whatsapp.png" alt="">
        </a>
    </li>
    <!-- <li><a href="test"><img src="{{STATIC_CDN}}v2/images/icons/i_twitter.png" alt=""></a></li> -->
</ul>