{% load pin_tags %}
{% load humanize %}
{% load daddy_avatar %}

<div class="follow_box box box_xs">

    <div class="follow_avatar">
        <a href="{% url "pin-absuser" u.user %}">
            <img class="img-circle" src="{{u.user.id|get_avatar}}" />
        </a>
    </div>

    <div class="user_name user-username">
        <a class="f-black" href="{% url "pin-absuser" u.user %}" data-next="{{u.user.id}}">
            {{u.user|get_username|truncatechars:30}}
            <br><small>{{u.user.username}}</small>
        </a>
    </div>

    <div class="action">
        {% if u.user.id != request.user.id and request.user.is_authenticated%}
        {% if request.user.id|get_follow_status:u.user.id == False %}
        <a data-user-id="{{u.user.id}}" class="wis_btn green mabo10 ajax-follow" href='{% url "pin-follow" u.user.id 1 %}'>ایجاد دوستی <i class="fa fa-plus"></i></a>
        {% else %}
        <a data-user-id="{{u.user.id}}" class="wis_btn mabo10 red ajax-follow" href='{% url "pin-follow" u.user.id 0 %}'>قطع ارتباط  <i class="fa fa-times"></i></a>
        {%endif%}
        {% else %}
        <a class="wis_btn mabo10" href='{% url "pin-absuser" u %}'>نمایش پروفایل <i class="fa fa-user"></i></a>
        {% endif %}
    </div>

    <div class="follow_stats">
        <div class="col-xs-6">
            دنبال‌کننده <br> <span class="follower_count"><strong>{{u.user.profile.cnt_followers|pn}}</strong></span>
        </div>
        <div class="col-xs-6">
            دنبا‌ل‌شونده <br> <span class="following_count"><strong>{{u.user.profile.cnt_following|pn}}</strong></span>
        </div>
    </div>
</div>
{% comment %}

{% endcomment %}
