<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<meta name="author" content="vchakoshy@gmail.com">
<meta name="samandehi-secure-footprint" content="samandehi-secure-footprint:4c6b6e53726c6e365a75745472646b33684f75624953516e4951586e4d6d357a3841596a736548784c50593d">
<meta name="google-site-verification" content="g7UVzKrh_t-OXNCc9M6SDcKP_tpeFBG4JplG0ZJflt8" />

<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}v2/css/style.css?ver=1.2.4">
	
<script type="text/javascript" src="{{MEDIA_URL}}v2/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}v2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/textextc.js"></script>
<script src="{{MEDIA_URL}}js/fileuploader.js" type="text/javascript"></script>

<script src="{{MEDIA_URL}}js/jquery.masonry.min.js"></script>

<!-- Powered by:
	Django -> Web application
	MySQL -> post, auth, likes
	MongoDB -> Notification, Logs
	Redis -> Denormalized data, streams
	Celery, RabbitMQ, Pillow, Python
	Learned it? Do it. :D -->

<!--[if lt IE 9]>
<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3..0/html5shiv.js"></script>
<script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->