{% load compress %}
<!-- Powered by:
	Django -> Web application
	MySQL -> post, auth, likes
	MongoDB -> Notification, Logs, Stats
	Redis -> Denormalized data, streams
	Solr -> Search engine
	Neo4j -> Relation between users and post,...
	Celery, RabbitMQ, Pillow, Python, Memcache

	Learned it? Do it. :D -->

<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<meta name="author" content="vchakoshy@gmail.com">
<meta name="samandehi-secure-footprint" content="samandehi-secure-footprint:4c6b6e53726c6e365a75745472646b33684f75624953516e4951586e4d6d357a3841596a736548784c50593d">
<meta name="google-site-verification" content="g7UVzKrh_t-OXNCc9M6SDcKP_tpeFBG4JplG0ZJflt8" />

{% block opengraph %}{% endblock %}

<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}v2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}v2/css/bootstrap-rtl.min.css">
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}v2/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}v2/css/font-awesome-animation.min.css">
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}v2/css/fonts.css">
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}v2/css/style.css?ver=1.4.3">



