{% extends "pin2/flat.base.html"%}
{% load pin_tags %}

{% block extra_js %}
<script src="{{MEDIA_URL}}js/jquery.masonry.min.js"></script>
<!-- <script src="{{MEDIA_URL}}js/masonry.pkgd.min.js"></script>-->
{% endblock extra_js %}

{% block title%} - برترین مطالب گروه {{cur_cat.title}} {% endblock title%}

{% block content %}

<script type="text/javascript">
	var start_loading=0;
	var next_pref = '?q={{query}}&offset=';
</script>
{% comment %}
	
{% include "base/app.html" %}
{% include "base/ad-720x92.html" %}
{% endcomment %}

<div class="container">
	<div class="alert col-md-12" style="background: rgb(67, 74, 84); color: rgb(255, 255, 255);">
		<h1 class="pull-right">دسته بندی: <strong style='color:#d39e00;'>{{cur_cat.title}}</strong></h1>
		<a class="label label-danger" style="margin: 18px 10px; display: inline-block; font-size: 18px; padding: 11px; color: rgb(255, 255, 255);float:left;" href="{% url "pin-category" cur_cat.id %}">برترین های این دسته</a>
	</div>
</div>

<div class="clearfix"></div>
<div id="main">
	<div class="container-fluid">
		<div id="feed" class="masonry">
			{% include "pin2/__search.html" %}
		</div>
	</div>
</div>

{% include "pin/pin_scripts.html" %}

{% endblock content %}