{% extends "pin2/flat.base.html"%}
{% load pin_tags %}

{% block title%} - گروه {{cur_cat.title}} {% endblock title%}

{% block extra_js %}
 <script src="{{MEDIA_URL}}js/jquery.masonry.min.js"></script>
<!-- <script src="{{MEDIA_URL}}js/masonry.pkgd.min.js"></script>-->
{% endblock extra_js %}

{% block content %}

<script type="text/javascript">
var start_loading=0;
var next_pref = '?pid=';
</script>

<!-- {% include "base/app.html" %} -->

<div id="main">
	<div class="container">
	{% comment %}
		{% include "base/ad-720x92.html"%}

		<div class="tabliq col-sm-12 hidden-xs hidden-sm">
			<div class="row">
				<script type="text/javascript">
				var agahist_pram = agahist_pram || [];
				agahist_pram["aduser"] = "6";
				agahist_pram["category"] = "{{cur_cat.id}}"; 
				agahist_pram["adheight"] = "90";
				agahist_pram["adwidth"] = "728";			
				</script> 
				<script type="text/javascript" src="http://agahist.com/media/js/pubBanner.js"></script>
			</div>
		</div>
	{% endcomment %}
<div class="clear"></div>

		<div class="category-title alert col-md-12">
				<h1 class="pull-right"><small>دسته بندی:</small> <strong>{{cur_cat.title}}</strong></h1>
				<a class="wis_btn" style="" href="{% url "pin-category-top" cur_cat.id %}">برترین های این دسته</a>
				<div class="clear"></div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="container-fluid">
		<div id="feed" class="masonry">
			{% include "pin2/_items_2_v6.html"%}
		</div>
	</div>
</div>

{% include "pin/pin_scripts.html" %}


{% endblock content %}