{% extends "pin2/flat.base.box.html"%}

{% block content %}

<div class="panel panel-default">
	<div class="panel-heading">ارتباط با ما
	</div>
	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<th>بخش</th>
					<th>آدرس</th>
				</tr>
			</thead>
			<tr>
				<td>ارتباط با ما:</td>
				<td>info@{{SITE_URL_NAME}}</td>
			</tr>
			<tr>
				<td>پشتیبانی: </td>
				<td>support@{{SITE_URL_NAME}}</td>
			</tr>
			<tr>
				<td>سازمان آگهی ها: </td>
				<td>ad@{{SITE_URL_NAME}}</td>
			</tr>
		</table>
	</div>

</div>

{% endblock content %}