<!DOCTYPE html>
<html lang="fa">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{SITE_NAME_FA}} {% block title%}{% endblock title%}</title>

	{% include "pin2/all_header.html" %}

	<script type="text/javascript">
		var media_url = "{{MEDIA_URL}}";
		var upload_url = "{% url "pin-upload" %}";
	</script>
	{% block other_css %} {% endblock %}
	{% include "base/analytics.html"%}
</head>
<body>
	{% include "pin2/nav.html" %}
	{% include "pin2/cats.html" %}

	
	{% if DISPLAY_AD %}
	<div class="tabliq-block" style="text-align:center">
		{% include "base/tabliq.html" %}
	</div>
	{% endif %}
	
	<div class="container">
		{% comment %}
		{% endcomment %}
		
		{% block content %}

		{% endblock content%}
	</div>
	{% include "pin2/footer.html" %}

	{% block footer_script %}{% endblock %}

</body>
</html>