{% extends "pin2/flat.base.html"%}
{% load pin_tags %}

{% block extra_js %}
<script src="{{STATIC_CDN}}js/jquery.masonry.min.js"></script>
<!-- <script src="{{STATIC_CDN}}js/masonry.pkgd.min.js"></script>-->
{% endblock extra_js %}

{% block content %}

<script type="text/javascript">
    var start_loading=0;
    var next_pref = '?pid=';
</script>

<!-- {% include "base/app.html" %} -->

<div id="main">
    <div class="pa20">
        <div id="feed" class="masonry">
            {% include "pin2/_items_2_v6.html"%}
        </div>
    </div>
</div>

{% endblock content %}