{% load compress %}
{% load daddy_avatar %}

<script type="text/javascript" src="{{MEDIA_URL}}v2/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}v2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}v2/js/webui.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}v2/js/alertify.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}v2/js/caman.full.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}v2/js/jquery.form.min.js"></script>


{% include "pin2/__from_image_modal.html" %}
{% include "pin2/__from_url_modal.html" %}

<div class="modal fade" id="postModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Modal title</h4>
			</div>
			<div class="modal-body">
				<p>One fine body&hellip;</p>
			</div>
		</div>
	</div>
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Modal title</h4>

			</div>
			<div class="modal-body"><div class="te"></div></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
<!-- /.modal -->

<a href="javascript:;" class="gotop"><span class="fa fa-arrow-up"></span></a>

<!--[if lt IE 9]>
<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3..0/html5shiv.js"></script>
<script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="{{MEDIA_URL}}js2/all.js?ver={{STATIC_VERSION}}"></script>
{% if user.is_authenticated %}
<script type="text/javascript">
	var profile_url = '{% url "pin-absuser" request.user %}';
	var profile_avatar = '{{request.user|get_avatar:41}}';
</script>
<script type="text/javascript" src="{{MEDIA_URL}}js2/pin-user.js?ver={{STATIC_VERSION}}"></script>
{% endif %}

{% if user.is_superuser %}
<script type="text/javascript" src="{{MEDIA_URL}}js/pin-admin.js?ver={{STATIC_VERSION}}"></script>
{% endif %}
{% comment %}
<script>var _AWFP_user = 1377550367;</script>
<script src="http://static-cdn.anetwork.ir/showad/aw-advance.js"></script>
{% endcomment %}



