<div id="footer">
	<div class="container">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="right col-md-6 col-sm-6 col-xs-12">
				<ul class="footer-nav">
					<li class="">
						<a href="">تبلیغات</a>
					</li>
					<li class="">
						<a href="{% url "policy"%}">قوانین</a>
					</li>
					<li class="">
						<a href="">وبلاگ</a>
					</li>
					<li class="">
						<a href="">درباره ما </a>
					</li>
					<li class="" >
						<a href="" style="border-left:none">تماس با ما</a>
					</li>

				</ul>
			</div>
			<div class="left col-md-6 col-sm-6 col-xs-12 pull-left">
				<p>Designed & developed by <span>Rohk Software Group</span></p>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>

{% include "pin2/__from_image_modal.html" %}
{% include "pin2/__from_url_modal.html" %}

{% if user.is_authenticated %}
<script type="text/javascript" src="{{MEDIA_URL}}js2/pin-user.js?ver=1.1.1"></script>
{% endif %}

{% if user.is_superuser %}
<script type="text/javascript" src="{{MEDIA_URL}}js/pin-admin.js?ver=1.2"></script>
{% endif %}

<script type="text/javascript" src="{{MEDIA_URL}}js2/all.js?ver=1.1"></script>
{% block footer_script %}
{% endblock %}

</body>
</html>