{% load pin_tags %}
{% load daddy_avatar %}
{% load humanize %}

<div class="post-detail row" itemscope itemtype="http://schema.org/CreativeWork">
	<div class="post col-md-9 col-sm-9 col-xs-12 pull-left">

		{% include "base/ad-720x92.html" %}
		<div class="clear"></div>

		{% if user.is_superuser %}
		<a class="btn btn-danger" href="{% url "pin-item-delete" post.id %}">حذف پست</a>
		{% endif %}

		{% if request.user.is_authenticated %}
		<a class="btn btn-success" href="{% url "pin-save-as-ads" post.id %}">این تصویر را ویژه کنید</a>
		{% endif %}

		{% if is_police %}
		<br><br><br>
		{% if post.is_pending %}
		این پست تنها برای شما قابل مشاهده است.
		<a class="btn btn-success" href="{% url "unpending_post" post.id 0 %}">پست مشکلی ندارد</a>
		{% else %}
		<a class="btn btn-danger" href="{% url "pending_post" post.id %}">حذف موقت پست</a>
		{% endif %}
		{% endif %}


		<div class="post-content">
			<div class="photo">
				
				<a href="{{media_prefix}}{{MEDIA_URL}}{{post.image}}" >
					<img style="margin:0 auto" itemprop="image" src="{{media_prefix}}{{MEDIA_URL}}{{ post.image }}" alt="عکس و تصویر {{post.text|remove_newlines|truncatewords:15}}"></a>
				</div>
				<div class="row">
					<div class="discription" itemprop="name">
						<p> 
							{{post.text|urlizetrunc:50|urlize_hashtag|safe|linebreaksbr}}
						</p>
					</div>
					<small class="time-box pull-left">{{post.create|naturaltime}}</small>
				</div>
				<div class="row">
					<div class="tags ">
						<div class="tag ">
						</div>

					</div>
					<div class="clear"></div>
				</div>
				<div class="row likes">
					<div class="content">
						<div class="liker col-md-10 col-sm-10 col-xs-10">
							{% for liker in post.likes %}            
							<a href="{% url "pin-absuser" liker.username %}">
								<img src="{{liker|get_avatar:50}}" style="display: inline;margin: 2px;" >
							</a>
							{% endfor %}
						</div>
						<!-- like icon -->
						<div class="col-md-2 col-sm-2 col-xs-2 like-icon">
							<a href="{% url "pin-item-like" post.id%}" class="btn_like">
								<i class="glyphicon glyphicon-heart {% if user.is_authenticated%}{% user_post_like post.id %}{% endif %}"></i>
								<i class="{% if user.is_authenticated%}{% user_post_like post.id %}{% endif %}">{{post.cnt_likes}}</i>
							</a>
						</div>
						<!-- end like icon -->
						<div class="clear"></div>
					</div>
				</div>
				<div class="row">
					<div class="footer">
						<div class="footer-icons">
							<div class="right-icons col-md-9 col-sm-9 col-xs-9">
								<div class="col-md-2 col-sm-2 col-xs-2 seen cat-border-left ">

									<a href="/category/{{post.category_id}}">{{post.category}}</a>

								</div>
								<div class="col-md-3 col-sm-3 col-xs-3 download cat-border-left">
									<span class="glyphicon glyphicon-download-alt"></span>
									<a href="{{MEDIA_URL}}{{post.image}}">دانلود تصاویر</a>

								</div>
								<div class="col-md-7 col-sm-7 col-xs-7 share cat-border-right">

									<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-553e6fc042430f60" async="async"></script>
									<div class="addthis_native_toolbox"></div>
								</div>
							</div>
							<div class="left-icons col-md-3 col-sm-3 col-xs-3">
								{% if user.is_authenticated%}
								<a alt="{{user.id}}/{{post.user.id}}" href="{% url "report_pin" post.id%}" style="margin-right: 5px" class="btn btn-default btn_report "> <i class="glyphicon glyphicon-camera"></i> گزارش تخلف</a>
								{% endif %}



								<!-- <span class="glyphicon glyphicon-camera"></span> -->
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
			{% include "base/ad-720x92_bottom.html" %}
			<br>
			<div class="clear"></div>
			<br>
			<div class="clear"></div>
			<div class="comment">
				<div class="col-md-12 col-sm-12 col-xs-12">

					{% if user.is_authenticated and user.is_active %}
					{% include "pin2/__comment_submit.html" %}	
					{% endif %}
					<!--
					<script id="rc_spot" type="text/javascript">rc_zone="1139"; rc_sizes="728x90"; rc_height="90"; rc_width="728";  rc_title_color="000fff"; rc_background_color="ffffff"; rc_border_color="ffffff"; rc_domain_color="00cc00"; rc_description_color="666666"; </script><script type="text/javascript" src="http://cdn.rastclick.com/rc_show.js"></script>
				-->

				<div id="comments_box">

				</div>
				<div id="load-more" class="row">
					<div class="" id="comment_load_more">
						<div class="txt">ادامه‌ی دیدگاه ها</div> 
						<div class="loader" style="display:none;">
							<img width="30" class="footer-loading-img" alt="Loading..." src="/media/v2/images/big-loader.gif">
						</div>
					</div>
				</div>

			</div>

			<div class="clear"></div>
		</div>
		<br />
		<br />
	</div>
	<div class="sidebar col-md-3 col-sm-3 col-xs-12">
		{% include "pin2/_pin_sidebar.html" %}
	</div>
</div>