{% load i18n %}
{% load pin_tags %}
{% load daddy_avatar %}
{% load humanize %}

<script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Article",
      "headline": "{{post.text|striptags|remove_newlines|truncatechars:108|addslashes}}",
      "author" : {
        "@type" : "Person",
        "name" : "{{post.user.username}}"
    },
    "mainEntityOfPage":{
        "@type":"WebPage",
        "@id":"http://wisgoon.com/pin"
    },
    "datePublished" : {% language 'en' %}"{{post.create_date|date:'Y-m-d'}}{% endlanguage %}",
    "dateModified": {% language 'en' %}"{{post.create_date|date:'Y-m-d'}}{% endlanguage %}",
    "image": {
        "@type": "ImageObject",
        "url": "{{media_prefix}}{{MEDIA_URL}}{{post.image}}",
        "height": {{post.height}},
        "width": {{post.width}}
    },
    "articleSection" : "{{post.category.title}}",
    "articleBody" : "{{post.text|striptags|remove_newlines|addslashes}}",
    "publisher": {
        "@type": "Organization",
        "name": "Wisgoon",
        "logo": {
          "@type": "ImageObject",
          "url": "http://static.wisgoon.com/media/v2/images/logo_moharam.png",
          "width": 216,
          "height": 44
      }
  }
}
</script>

<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "http://wisgoon.com/pin/",
          "name": "Pin"
      }

  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "http://wisgoon.com/category/{{post.category_id}}/",
      "name": "{{post.category}}"
  }
}]
}
</script>

<div class="post-page mato20">
    <div class="post-content">
        <div class="box post_item_inner">


            <!--  buttons-->
            <div class="post-top-nav {% if user.is_authenticated%} {% user_post_like post.id %}{% endif %}">
                {% if user.is_authenticated %}
                <a href="{% url "pin-item-like" post.id %}" class="wis_btn red_o pull-right{% user_post_like item.id %} btn_like">
                    <span class="count">{{post.cnt_like|pn}}</span>
                    <span class="like_icon"></span>
                </a>
                {% else %}
                <a href="javascript:;" class="wis_btn red_o login_required pull-right">
                    <span class="count">{{post.cnt_like|pn}}</span>
                    <span class="like_icon"></span>
                </a>
                {% endif %}

                {% if request.user_agent.is_mobile %}
                <div class="dropdown three-dot">
                    <a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" id="three_dot" type="button" class="dropdown-toggle dl"><img alt="" src="/media/v2/images/3dot.png"></a>
                    <ul aria-labelledby="three_dot" class="dropdown-menu">
                        <li>
                            <a href="{% url "pin-save-as-ads" post.id %}" class="btn_promote">
                                ویژه کنید <span class="promote_icon"></span>
                            </a>
                        </li>
                        <li>
                            {% if user.is_authenticated %}
                            <a class="btn_report" title="گزارش تخلف" href="{% url "report_pin" post.id%}" data-toggle="tooltip" data-placement="bottom">
                                گزارش تخلف <span class="report_icon"></span>
                            </a>
                            {% endif %}
                        </li>
                        <li>
                            <a href="{{MEDIA_URL}}{{post.image}}" title="دانلود" class="btn_download" data-toggle="tooltip" data-placement="bottom">
                                دانلود تصویر <span class="download_icon"></span>
                            </a>
                        </li>

                        {% if user.is_superuser or request.user.id == post.user_id %}
                        <!-- delete -->
                        <li>
                            <a href="{% url "pin-item-delete" post.id%}" class="delpost btn_del user-action-btn" title="حذف" data-toggle="tooltip" data-placement="bottom"> حذف تصویر <i class="fa fa-trash-o"></i></a>
                        </li>

                        <!-- edit -->
                        <li>
                            <a href="{% url "pin-item-edit" post.id %}" class="btn_edit user-action-btn" title="ویرایش" data-toggle="modal" data-target="#postModal">
                                ویرایش تصویر <i class="fa fa-pencil-square-o" data-toggle="tooltip" data-placement="bottom"></i>
                            </a>
                        </li>

                        {% endif %}

                    </ul>
                </div>

                {% else %}

                <a href="{% url "pin-save-as-ads" post.id %}" class="wis_btn orange_o btn_promote pull-right">
                    ویژه کنید <span class="promote_icon"></span>
                </a>

                {% if user.is_authenticated %}
                <a class="wis_btn orange_o pull-left btn_report" title="گزارش تخلف" href="{% url "report_pin" post.id%}" data-toggle="tooltip" data-placement="bottom">
                    <span class="report_icon"></span>
                </a>
                {% endif %}

                <a href="{{MEDIA_URL}}{{post.image}}" title="دانلود" class="wis_btn green_o pull-left btn_download" data-toggle="tooltip" data-placement="bottom">
                    <span class="download_icon"></span>
                </a>

                {% if user.is_superuser or request.user.id == post.user_id %}
                <!-- delete -->
                <a href="{% url "pin-item-delete" post.id%}" class="wis_btn pull-left red_o delpost btn_del user-action-btn" title="حذف" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-trash-o"></i></a>

                <!-- edit -->
                <a href="{% url "pin-item-edit" post.id %}" class="wis_btn pull-left red_o btn_edit user-action-btn" title="ویرایش" data-toggle="modal" data-target="#postModal"><i class="fa fa-pencil-square-o" data-toggle="tooltip" data-placement="bottom"></i></a>
                {% endif %}

                {% endif %}

                <div class="clear"></div>
            </div>


            <!-- img -->
            <div class="post-img">
                <a href="{{post.images.original.url}}" >
                    <img src="{{ post.images.low_resolution.url }}" alt="عکس و تصویر {{post.text|remove_newlines|truncatewords:15}}">
                </a>
            </div>
            <!-- text -->
            <div class="post-text">
                <h1 class="post-text">
                    {{post.text|urlizetrunc:50|urlize_hashtag|safe|linebreaksbr}}
                </h1>
                {% if post.get_pages %}

                <div class="mato20">
                    <h5 class="mabo10">تصاویر بیشتر در این زمینه:</h5>
                    {% for page in post.get_pages %}
                    {{page|safe}}
                    {% endfor %}
                </div>
                {% endif %}

                <div class="post_footer mato20">
                    <div class="time pull-left">
                        <a href="{{post.get_absolute_url}}">{{post.timestamp|date_filter}} <i class="time_icon"></i></a>
                    </div>
                    <div class="view-Count pull-left">
                        <h2>
                            <span>{{post.cnt_view}}</span>
                            <i class="cnt_view_icon"></i>
                        </h2>
                    </div>
                    <div class="cat pull-left">
                        <h2>
                            <a href="/category/{{post.category.id}}/">{{post.category.title}} <i class="cat_icon"></i></a>
                        </h2>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <!-- tags -->
            {% if post.get_tags %}
            <div class="post-tags">
                {% for t in post.get_tags %}
                <a href="/hashtag/{{t}}/">#{{t}}</a>
                {% endfor %}
                <div class="clear"></div>
            </div>
            {% endif %}

            <div class="post_activity">
                <div class="activity_btn">
                    <div class="btn-box comment">
                        <a href="#submit_comment">
                            <span class="cnt-like">{{post.cnt_comment|pn}}</span>
                            <span class="cmnt_icon"></span>
                        </a>
                    </div>
                    <div class="btn-box likes{% if user.is_authenticated%} {% user_post_like post.id %}{% endif %}">
                        {% if user.is_authenticated %}
                        <a href="{% url "pin-item-like" post.id %}" class="btn_like">
                            <span class="count">{{post.cnt_like|pn}}</span>
                            <span class="like_icon"></span>
                        </a>
                        {% else %}
                        <a href="javascript:;" class="login_required">
                            <span class="count">{{post.cnt_like|pn}}</span>
                            <span class="like_icon"></span>
                        </a>
                        {% endif %}

                    </div>
                    {% if request.user_agent.is_mobile == False %}
                    <div class="btn-box share_btn" data-toggle="modal" data-target="#modal_share">
                        انتشار <span class="share_icon"></span>
                    </div>
                    {% endif %}
                    <div class="clear"></div>
                </div>

                <div class="liker_avatars">
                    {% for liker in post.likes %}
                    <a href="{% url "pin-absuser" liker.username %}" {% if liker.id == request.user.id %}class="my_avatar"{% endif %}>
                        <img src="{{liker|get_avatar:50}}">
                    </a>
                    {% endfor %}

                    {% if post.cnt_like > 5 %}
                    <a data-toggle="modal" data-target="#likers_modal"><span class="likers_popup"><img src="{{STATIC_CDN}}v2/images/3dot-h.png" width="25" height="8" alt=""></span></a>

                    <div class="modal fade" id="likers_modal" tabindex="-1" role="dialog" aria-labelledby="likers_modal_label">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="likers_modal_label">لیست لایک کننده‌ها</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="likers_box"></div>
                                    <div class="likers_loading">
                                        <img src="{{STATIC_CDN}}v2/images/wis_loading.gif" alt="">
                                    </div>
                                    <div class="likers_loading_more" data-offset="0" data-status="enable">
                                        <a href="">بیشتر</a>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endif %}
                </div>
                <div class="clear"></div>

            </div>
        </div>

        {% if request.user_agent.is_mobile %}
        <div class="post-sidebar">
            <div class="profile box">
                <div class="user-detail">
                    <div class="avatar">
                        <a href="{% url "pin-absuser" post.user_id|get_user_name %}">
                            <img src="{{post.user_id|get_avatar:65}}" />
                        </a>
                    </div>
                    <div class="user-info">
                        <div class="username">
                            <h3>
                                <a href="{% url "pin-absuser" post.user_id|get_user_name %}">
                                    {{post.user.profile.name|truncatechars:"20"}}
                                </a>
                            </h3>
                        </div>

                        <div class="user_name">
                            <p>{{post.user.username}}</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                {% if post.user.id != request.user.id and user.is_authenticated %}
                {% if follow_status == 0 %}
                <a class="wis_btn green w100 mabo10 mato10 ajax-follow" data-user-id="{{post.user_id}}" href='{% url "pin-follow" post.user_id 1 %}'>ایجاد دوستی</a>
                {% else %}
                <a class="wis_btn red w100 mabo10  mato10 ajax-follow" data-user-id="{{post.user_id}}" href='{% url "pin-follow" post.user_id 0 %}'>قطع ارتباط</a>
                {%endif%}
                {% endif %}
            </div>
        </div>
        {% endif %}

        <div class="only_mobile_view social_icons_box box">
            {% include "pin2/_share_social.html" %}
        </div>

        {% if DISPLAY_AD %}
        {% include "pin2/tabliq/_468x60.html" %}
        {% endif %}
        

        {% if not request.user_agent.is_mobile %}
        <div class="only_mobile_view">
            {% include "pin2/mobil_ads.html" %}
        </div>
        {% endif %}

        <h3 class="only_mobile_view tari wis_title">ارسال دیدگاه</h3>

        {% if user.is_authenticated and user.is_active %}
        <div id="submit_comment" class="box">
            {% include "pin2/__comment_submit.html" %}  
            <div class="clear"></div>
        </div>
        {% endif %}

        <div id="comments" class="box">

            <div class="col-md-12 col-sm-12 col-xs-12 pa0">

                <div id="comments_box" class="pa10">
                    {% if post.cnt_comment < 1 %}
                    <div class="no-comment">هنوز دیدگاهی ثبت نشده است</div>
                    {% endif %}
                </div>

                <div id="load-more" class="">
                    {% if post.cnt_comment > 10 %}
                    <span class="fa fa-angle-down"></span>
                    {% endif %}
                    <div class="{% if post.cnt_comment < 10 %}nob{% endif %}" id="comment_load_more">
                        {% if post.cnt_comment > 10 %}
                        <div class="txt">ادامه‌ی دیدگاه ها</div>
                        {% endif %}
                        <div class="loader" style="">
                            <img width="30" class="loading-img" alt="Loading..." src="/media/v2/images/big-loader.gif">
                        </div>
                    </div>
                </div>

            </div>

            <div class="clear"></div>
        </div>

        {% if DISPLAY_AD %}
        {% include "pin2/tabliq/_468x60_1.html" %}
        {% endif %}

    </div>
    <div class="post-sidebar">
        <div class="only_mobile_view wis_gap"></div>
        {% include "pin2/_pin_sidebar.html" %}
    </div>

</div>


<!-- share Modal -->
<div class="modal fade" id="modal_share" tabindex="-1" role="dialog" aria-labelledby="modal_shareLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal_shareLabel">گزینه‌های انتشار</h4>
    </div>
    <div class="modal-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs col-sm-12" role="tablist">
            <li role="presentation" class="active col-sm-4"><a href="#x236" aria-controls="x236" role="tab" data-toggle="tab">عرض ۲۳۶</a></li>
            <li role="presentation" class="col-sm-4"><a href="#x500" aria-controls="x500" role="tab" data-toggle="tab">عرض ۵۰۰</a></li>
            <li role="presentation" class="col-sm-4"><a href="#xo" aria-controls="xo" role="tab" data-toggle="tab">اندازه اصلی</a></li>
        </ul>

        <!-- Tab panes -->
        <br>
        <br>
        <div class="tab-content pa20">
            <div role="tabpanel" class="tab-pane active" id="x236">
                <label for="html_txt_1">کد HTML برای سایت یا وبلاگ</label><br>

                <input readonly="readonly" class="w100" type="text" id="html_txt_1" value="<a href='{{SITE_URL}}{% url "pin-item" post.id %}?rfr=embed'><img src='{{post.get_image_236.url}}' alt='عکس و تصویر {{post.text|remove_newlines|truncatewords:15}}' /></a>" />
                <div class="clear"></div>

                <label for="bbcode_txt_1">کد انجمن‌های گفتگو</label><br>
                <input readonly="readonly" class="w100" type="text" id="bbcode_txt_1" value="[url={{SITE_URL}}{% url "pin-item" post.id %}?rfr=embed][img]{{post.get_image_236.url}}[/img][/url]" />
                <div class="clear"></div>

                <label for="link_txt_1">لینک مطلب</label><br>
                <input readonly="readonly" class="w100" type="text" id="link_txt_1" value="{{SITE_URL}}{% url "pin-item" post.id %}?rfr=embed" />
                <div class="clear"></div>

                <label for="direct_txt_1">لینک مستقیم</label><br>
                <input readonly="readonly" class="w100" type="text" id="direct_txt_1" value="{{post.get_image_236.url}}" />
                <div class="clear"></div>
            </div>

            <div role="tabpanel" class="tab-pane" id="x500">
                <label for="html_txt_2">کد HTML برای سایت یا وبلاگ</label><br>
                <input readonly="readonly" class="w100" type="text" id="html_txt_2" value="<a href='{{SITE_URL}}{% url "pin-item" post.id %}?rfr=embed'><img src='{{post.get_image_500.url}}' alt='عکس و تصویر {{post.text|remove_newlines|truncatewords:15}}' /></a>" />

                <div class="clear"></div>

                <label for="bbcode_txt_2">کد انجمن‌های گفتگو</label><br>
                <input readonly="readonly" class="w100" type="text" id="bbcode_txt_2" value="[url={{SITE_URL}}{% url "pin-item" post.id %}?rfr=embed][img]{{post.get_image_500.url}}[/img][/url]" />
                <div class="clear"></div>

                <label for="link_txt_2">لینک مطلب</label><br>
                <input readonly="readonly" class="w100" type="text" id="link_txt_2" value="{{SITE_URL}}{% url "pin-item" post.id %}?rfr=embed" />
                <div class="clear"></div>

                <label for="direct_txt_2">لینک مستقیم</label><br>
                <input readonly="readonly" class="w100" type="text" id="direct_txt_2" value="{{post.get_image_500.url}}" />
                <div class="clear"></div>
            </div>

            <div role="tabpanel" class="tab-pane" id="xo">
                <label for="html_txt_3">کد HTML برای سایت یا وبلاگ</label><br>
                <input readonly="readonly" class="w100" type="text" id="html_txt_3" value="<a href='{{SITE_URL}}{% url "pin-item" post.id %}?rfr=embed'><img src='{{media_prefix}}{{MEDIA_URL}}{{post.image}}' alt='عکس و تصویر {{post.text|remove_newlines|truncatewords:15}}' /></a>" />
                <div class="clear"></div>

                <label for="bbcode_txt_3">کد انجمن‌های گفتگو</label><br>
                <input readonly="readonly" class="w100" type="text" id="bbcode_txt_3" value="[url={{SITE_URL}}{% url "pin-item" post.id %}?rfr=embed][img]{{media_prefix}}{{MEDIA_URL}}{{post.image}}[/img][/url]" />
                <div class="clear"></div>

                <label for="link_txt_3">لینک مطلب</label><br>
                <input readonly="readonly" class="w100" type="text" id="link_txt_3" value="{{SITE_URL}}{% url "pin-item" post.id %}?rfr=embed" />
                <div class="clear"></div>

                <label for="direct_txt_3">لینک مستقیم</label><br>
                <input readonly="readonly" class="w100" type="text" id="direct_txt_3" value="{{media_prefix}}{{MEDIA_URL}}{{post.image}}" />
                <div class="clear"></div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <a class="btn wis_btn red_o" data-dismiss="modal">انصراف</a>
    </div>
</div>
</div>
</div>