{% extends "pin2/flat.base.html" %}
{% load pin_tags %}

{% block title%} - {{post.text|striptags|remove_newlines|truncatechars:66|addslashes}}{% endblock title%}
{% block description%}{{post.text|striptags|remove_newlines|truncatewords:30|addslashes}}{%endblock%}

{% block opengraph %}
<meta property="og:title" content="{{post.text|striptags|remove_newlines|truncatechars:66}}" />
<meta property="og:description" content="{{post.text|striptags|remove_newlines|truncatewords:30}}" />
<meta property="og:type" content="image/jpeg" />
<meta property="og:url" content="{{post.get_host_url}}" />
<meta property="og:image" content="{{post.get_image_absolute_url}}" />
<link rel="canonical" href="{{post.get_host_url}}" />
{% endblock opengraph %}

{% block content %}
<script>
    var comments_url = "{{comments_url}}";
    var related_url = "{{related_url}}";
</script>
<!--
mlt: {{mlt.0.object.id}}
-->
<div id="main">
	<div class="container">
        {% include "pin2/items_inner.html" %}
    </div>
    <div class="pa20" id="related_posts">
        <h3 class="wis_title">تصاویر مرتبط</h3>
        <div id="feed" class="masonry">
            <a href="{{related_url}}"> مطالب مرتبط </a>
        </div>
    </div>
</div>

<div class="clear"></div>
{% endblock content%}

{% block footer_ex_js %}
<script type="text/javascript" src="{{STATIC_CDN}}v2/js/sticky.js?ver=1"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js2/item.js?ver={{STATIC_VERSION}}"></script>
<script type="text/javascript">
    $(function () {
        $.ajax({
            url: '{{SITE_URL}}/api/v6/post/user/{{post.user.id}}/',
        })
        .done(function(d) {
            var html = '';
            var $container = $('.user-post-items');
            var otherPostWidth = 130;
            $container.masonry({
                isFitWidth: true,
                gutterWidth: 3,
                // columnWidth: 130,
                itemSelector: '.user-post-item'
            });
            if (d.objects.length < 12) {
                var t = d.objects.length;
            }else{
                var t = 12;
            }

            for (var i = t - 1; i >= 0; i--) {
                var curObj = d.objects[i];
                var href = curObj.permalink.web;
                var title = curObj.text;
                var path = curObj.images.thumbnail.url;
                var width = curObj.images.thumbnail.width;
                var height = curObj.images.thumbnail.height;
                wpercent = (otherPostWidth / width);
                hsize = parseInt(height * wpercent);
                html += '<div class="user-post-item"><a href="'+href+'"><img width="'+otherPostWidth+'" height="'+hsize+'" src="'+ path +'" title="'+title+'"></a></div>';
            };
            $("div.user-post-items").append(html).each(function(){
                $('.user-post-items').masonry('reload');
                // $container.masonry('reload');
            });
            $('.user-posts').css('display', 'block');
            $container.masonry();
        })
        .fail(function(d) {
            // alertify.error("خطا در نمایش تصاویر کاربر");
        }).always(function() {
            $('.post-loading').hide('fast');
            sticky_sidebar();
        });

        var auth_user = {% if request.user.is_authenticated %}true{% else %}false{% endif %};

        function display_likers(json){
            likers = json.likers;
            for (var i = likers.length - 1; i >= 0; i--) {
                $('#likers_modal .modal-body .likers_box').append(liker_html(likers[i], auth_user));
            };
        }

        $('#likers_modal').on('show.bs.modal', function (e) {
            var modal = $(this);
            var t = $('.likers_loading_more');
            $.ajax({
                url: '{% url "pin-likers" post.id 0 %}',
            })
            .done(function(d) {
                display_likers(d);
                t.data('offset', parseInt(t.data('offset') + 10));
            })
            .fail(function(d) {
                alertify.error('خطا! با مدیریت تماس بگیرید.');
                modal.hide();
            })
            .always(function() {
                modal.find('.likers_loading').hide();
            });
        });

        $('body').on('click', '.likers_loading_more', function(event) {
            event.preventDefault();
            var t = $(this);
            if (t.data('status') === "disabled") {
                return false;
            };
            var offset = $('.likers_loading_more').data('offset');
            $.ajax({
                url: '{% url "pin-likers" post.id %}'+offset+'/',
            })
            .done(function(d) {
                display_likers(d);
                if (d.likers.length < 10) {
                    t.data('status', 'disabled').addClass('disabled');
                }else{
                    t.data('offset', parseInt($('.likers_loading_more').data('offset') + 10));
                }
            })
            .fail(function(d) {
                alertify.error('خطا! با مدیریت تماس بگیرید.');
                $('#likers_modal').hide();
            })
            .always(function() {
                $('#likers_modal').find('.likers_loading').hide();
            });
        });

        $('body').on('click', '#likers_modal .follow_btn', function(event) {
            event.preventDefault();
            t = $(this);
            $.ajax({
                url: t.attr('href'),
            })
            .done(function(d) {
                if (d.status) {
                    t.removeClass('no_follow').addClass('follow').attr('href', '/pin/follow/'+t.data('user-id')+'/0/');
                }else{
                    t.removeClass('follow').addClass('no_follow').attr('href', '/pin/follow/'+t.data('user-id')+'/1/');
                }
                alertify.success(d.message);
            })
            .fail(function() {
                alertify.error('خطا! با مدیریت تماس بگیرید');
            })
            .always(function() {
                console.log("complete");
            });

            return false;

        });

    });
</script>

{% endblock footer_ex_js %}