<div class="box mato50 wis_app">
    <p class="pa10 pull-right">
        <span class="mabo10">دانلود نرم‌افزار اندروید</span>
        <!-- <a href="" class="wis_btn orange ma0">دانلود مستقیم</a> -->
        <a class="wis_btn green ma0 mato20" href="http://cafebazaar.ir/app/ir.mohsennavabi.wisgoon/?l=fa">دانلود از بازار</a>
        <br><br>
    </p>

    <a class="app_btn" target="_blank" title="دانلود نرم افزار موبایل" href="http://cafebazaar.ir/app/ir.mohsennavabi.wisgoon/?l=fa">
    </a>
    <div class="clear"></div>
</div>

<div class="box mato50 pa10 telegram_app">
    <p>کانال رسمی ویسگون در تلگرام</p>
    <p><a href="http://telegram.me/wisgoon">http://telegram.me/wisgoon</a></p>
    <a href="http://telegram.me/wisgoon" class="telegram_btn"></a>
    <div class="clear"></div>
</div>
