<div class="box wis_app">
    <p class="pa10 pull-right">
        <span class="mabo10">دانلود نرم‌افزار اندروید ویسگون</span>
        <!-- <a href="" class="wis_btn orange ma0">دانلود مستقیم</a> -->
        <a class="wis_btn green ma0 mato10" href="https://cafebazaar.ir/app/com.wisgoon.android/?l=fa">دانلود از بازار</a>
    </p>

    <a class="app_btn" target="_blank" title="دانلود نرم افزار موبایل" href="https://cafebazaar.ir/app/com.wisgoon.android/?l=fa">
    </a>
    <div class="clear"></div>
</div>

<div class="box pa10 telegram_app">
    <p>کانال رسمی ویسگون در تلگرام</p>
    <p><a href="http://telegram.me/wisgoon">http://telegram.me/wisgoon</a></p>
    <a href="http://telegram.me/wisgoon" class="telegram_btn"></a>
    <div class="clear"></div>
</div>
