{% load daddy_avatar %}
{% load pin_tags %}
<div class="nav">
	<div class="navbar navbar-default" role="navigation">
		<!-- <div class="container"> -->
		<div class="container" style="position:relative;">

			<a href="javascript:;" class="resp-menu">
				<span class="fa fa-bars"></span>
			</a>

			<div class="menu-box">
				{% include "pin2/_menu.html" %}
			</div>
			<div class="col-md-3 col-sm-4 navbar-header">

				<a href="{% url "home" %}" class="header-brand">
					<img src="{{STATIC_CDN}}v2/images/logo.png" alt="{{SITE_NAME_FA}} {{SITE_NAME_EN}}">
				</a>
				
			</div>
			<div class="col-md-9 col-sm-8 navbar-collapse collapse">
				<div class="row">
					<div class="pull-left" id="top-userinfo">
						<ul>
							
							{% if request.user.is_authenticated %}
							<li>
								<div class="hidden-xs nav_user_avatar">
									<a aria-expanded="true" data-toggle="dropdown" href="javascript:;">
										<img class="nav-avatar" src="{{request.user|get_avatar:41}}">
									</a>
									<ul class="dropdown-menu setting-dropdown" role="menu" aria-labelledby="dropdownMenuDivider">
										<li role="presentation" class="setting-border-bottom">
											<a href="{% url "pin-absuser" request.user %}">نمایش پروفایل</a>
										</li>
										<li role="presentation" class="setting-border-bottom">
											<a href="/accounts/password/change/">تعویض رمز عبور</a>
										</li>
										<li role="presentation" class="setting-border-bottom">
											<a href="/accounts/logout/">خروج</a>
										</li>

									</ul>
								</div>
							</li>
							<li>
								<div class="notification">
									<a href="javascript:;" data-load="{% url 'show_notify' %}" title="اعلانات" class="popnotify" >  
										{{request.user.id|get_user_notify|pn}} 
										<i class="notif_icon"></i>
									</a>
									<img src="{{STATIC_CDN}}v2/images/top-loading.gif" alt="..." class="loading-img" />
								</div>
							</li>
							<li>
								<div class="send-photo">
									<!-- <a aria-expanded="true" data-toggle="dropdown" href=""> <span class="text">ارسال عکس</span>  -->
									<a data-toggle="modal" data-target="#fromImageModal" href="#fromImageModal" href=""> <span class="text">ارسال عکس</span> 
										<span class="send_photo_icon"></span>
									</a>
									{% comment %}
									<ul class="dropdown-menu send-dropdown" role="menu" aria-labelledby="dropdownMenuDivider">
										<li role="presentation" class="send-border-bottom">
											<a data-toggle="modal" data-target="#fromImageModal" href="#fromImageModal">
												ارسال فایل
											</a>
										</li>
										<li role="presentation">
											<a data-toggle="modal" data-target="#fromUrlModal" href="#fromUrlModal">
												ارسال از وب
											</a>
										</li>
									</ul>
									{% endcomment %}
								</div>
							</li>
							{% else %}
							<li class="guest">
								<a href="{% url 'registration_register' %}">عضویت</a>
							</li>

							<li class="guest">
								<a href="/accounts/login/"> ورود</a>
							</li>
							{% endif %}

							<li>
								<div class="top-search">
									<form action="{% url "search" %}">
										<button class="pull-left">
											<span class="glyphicon glyphicon-search"></span>
										</button>
										<input name="q" type="text">

									</form>
								</div>
							</li>
							
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>