{% load daddy_avatar %}
<div class="nav">
	<div class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="col-md-3 col-sm-4 navbar-header">
				<button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="{% url "home" %}" class="header-brand">
					<img src="{{MEDIA_URL}}v2/images/logo.jpg">
				</a>
			</div>
			<div class="col-md-9 col-sm-8 navbar-collapse collapse">
				<div class="col-md-6 top-search">
					<form >
						<button class="pull-left">
							<span class="glyphicon glyphicon-search"></span>
						</button>
						<input type="text">
						
					</form>
				</div>
				<div class="col-md-6 col-sm-12 pull-left" id="top-userinfo">
					<ul>
						<li>
							<div class="send-photo">
								<a aria-expanded="true" data-toggle="dropdown" href="">
									<span class="glyphicon glyphicon-camera"></span>
									ارسال تصویر
								</a>
								<ul class="dropdown-menu send-dropdown"
								role="menu" aria-labelledby="dropdownMenuDivider">
									<li role="presentation" class="send-border-bottom">
										<a href="">
										ارسال از وب
										</a>
									</li>
									<li role="presentation">
										<span class="glyphicon glyphicon-camera"></span>
										ارسال فایل</li>
								</ul>
							</div>
						</li>
							<li>
								<div class="setting">
									<a aria-expanded="true" data-toggle="dropdown" href="">
										<span class="glyphicon glyphicon-cog"></span>
									</a>
									<ul class="dropdown-menu setting-dropdown"
									role="menu" aria-labelledby="dropdownMenuDivider">
									<li role="presentation" class="setting-border-bottom">
										<div class="like">
											vghj
										</div>
										<div class="comment">
											gh
										</div>
										
									</li>
									
								</ul>
							</div>
						</li>
						<li>
							<div class="notification">
								<a aria-expanded="true" data-toggle="dropdown" href="">
									<span class="glyphicon glyphicon-bell"></span>
								</a>
								<ul class="dropdown-menu notification-dropdown"
								role="menu" aria-labelledby="dropdownMenuDivider">
								<li role="presentation" class="notification-border-bottom">
									<span class="glyphicon glyphicon-camera"></span>
									ارسال از وب</li>
									<li role="presentation">
										<span class="glyphicon glyphicon-camera"></span>
										ارسال فایل</li>
									</ul>
								</div>
							</li>
							{% if user.is_authenticated %}
							<li>
								<div class="avatar hidden-xs">
									<a href="{% url "pin-user" user.id %}">
										<img src="{{user|get_avatar:20}}">
										<!-- <img src="{{MEDIA_URL}}v2/images/ava.jpg"> -->
									</a>
								</div>
							</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>