{% extends "pin2/flat.base.html"%}
{% load pin_tags %}

{% block extra_js %}
<script src="{{MEDIA_URL}}js/jquery.masonry.min.js"></script>
<!-- <script src="{{MEDIA_URL}}js/masonry.pkgd.min.js"></script>-->
{% endblock extra_js %}

{% block content %}
<div id="feed" class="container mato20 mabo50">
    {% for item in notif %}
    {% include "pin2/__items_base_v6_notif.html"%}
    {% endfor %}

</div>

{% include "pin/pin_scripts.html" %}

{% endblock content %}
{% block js %}
<script>
    var start_loading=0;
</script>
{% endblock js %}