{% load pin_tags %}

{% load daddy_avatar %}
<a href="{% url 'pin-notif-user' %}" class="wis_btn green w100">مشاهده همه اعلانات</a>

<a aria-label="Close" href="javascript:;" data-dismiss="popover" class="popover-close" type="button">
    <span aria-hidden="true">×</span>
</a>


{% for noti in notif %}
<div class="notif popover_notif notif_{{noti.type}}" style="">

    <a target="_blank" href="{% url 'pin-user' noti.actor %}" class="pull-right actor">
        <img src="{{noti.actor|get_avatar:60}}">
    </a>
    {% if noti.type == 10 or noti.type == 7 %}
        <div class="notif-img pull-left">
        {% if request.user.id|get_follow_status:noti.actor == False  %}
            {% if noti.pending %}
                <a data-user-id="{{noti.actor}}" class="wis_btn pull-left gray mabo10 ajax-follow" href='{% url "remove-follow-request" noti.actor%}'><i class="glyphicon glyphicon-user"></i><i class="fa fa-clock-o"></i></a>
            {% else %}
                <a data-user-id="{{noti.actor}}" class="wis_btn pull-left green mabo10 ajax-follow" href='{% url "pin-follow" noti.actor 1 %}'><i class="glyphicon glyphicon-user"></i> <i class="fa fa-plus"></i></a>
            {% endif %}
       {% else %}
            <a data-user-id="{{noti.actor}}" class="wis_btn pull-left mabo10 red ajax-follow" href='{% url "pin-follow" noti.actor 0 %}'><i class="glyphicon glyphicon-user"></i> <i class="fa fa-minus"></i></a>
       {%endif%}
      </div>

    {% else %}
        <div class="notif-img pull-left">
            <a class="pin-item-link" style="float:right" href="{% url "pin-item" noti.id%}">
                <img src="{{noti.ob.images.thumbnail.url }}" class="img img-circle" style="width:40px;height:40px;" />
            </a>
        </div>
    {% endif %}

    <div class="notif_text pull-right">
        {% if noti.type == 1 %}
        <i class="glyphicon glyphicon-heart"></i> تصویر شما را پسندید
        {% elif noti.type == 2 %}
        <i class="glyphicon glyphicon-comment"></i> برای تصویر شما نظر داد
        {% elif noti.type == 4 %}
        <i class="glyphicon glyphicon-remove"></i> تصویر شما حذف شد
        {% elif noti.type == 10 %}
        <i class="glyphicon glyphicon-user"></i> شما را دنبال می‌کند
        {% elif noti.type == 5 %}
        <i class="glyphicon glyphicon-ok"></i> پست شما برگزیده شد
        {% elif noti.type == 7 %}
            <i class="glyphicon glyphicon-user"></i> درخواست شما را پذیرفت
        {% endif %}
    </div>
{% comment %}
{% endcomment %}
<div class="clear"></div>

</div>

{% endfor %}

