{% extends "pin2/flat.base.html"%}
{% load pin_tags %}

{% block extra_js %}
<script src="{{MEDIA_URL}}js/jquery.masonry.min.js"></script>
<!-- <script src="{{MEDIA_URL}}js/masonry.pkgd.min.js"></script>-->
{% endblock extra_js %}

{% block content %}

<script type="text/javascript">
	var start_loading=0;
	var next_pref = '?q={{query}}&offset=';
</script>

<!-- {% include "base/app.html" %} -->

<div id="main">
	<div class="col-md-12" style="text-align:center;height:97px;">
		{% include "base/ad-720x92.html" %}
	</div>
	<div class="container">
		<form rel="form" class="form-inline">
			<div class="form-group">
				<input type="text" class="form-control" name="q">
				<input type="submit" class="form-control" value="جستجو" >
			</div>
		</form>
	</div>
	<div class="container-fluid">
		<div id="feed" class="masonry">
			{% include "pin2/__search.html" %}
		</div>
	</div>
</div>

{% include "pin/feed_scripts.html" %}
{% include "pin/pin_scripts.html" %}

{% endblock content %}