{% extends "pin2/flat.base.html"%}
{% load pin_tags %}

{% block title%} - آخرین مطالب{% endblock title%}

{% block content %}

<!-- {% include "base/app.html" %} -->

<div id="main">
	{% comment %}
	<div class="col-md-12" style="text-align:center;height:97px;">
		{% include "base/ad-720x92.html" %}
	</div>
	{% endcomment %}
	<div class="container-fluid">
		<div id="feed" class="masonry">
			{% for item in rps %}
			{% if item.get_image_236 %}
			{% if not request.user.is_authenticated %}

			{% else %}
			{% include "pin2/__rp_items_base.html" %}
			{% endif %}

			{% endif %}
			{% endfor %}
		{% comment %}
			{% include "pin2/_items_2.html"%}
			{% endcomment %}
		</div>
	</div>
</div>


{% endblock content %}