{% extends "pin2/flat.base.html"%}
{% load pin_tags %}

{% block extra_js %}
<script src="{{STATIC_CDN}}js/jquery.masonry.min.js"></script>
<!-- <script src="{{STATIC_CDN}}js/masonry.pkgd.min.js"></script>-->
{% endblock extra_js %}

{% block content %}

<script type="text/javascript">
	var start_loading=0;
	var next_pref = '?q={{query}}&offset=';
</script>

<div id="main" class="search_page">
	<div class="container">
		<form rel="form" class="form-inline">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="جستجو کنید..." name="q" value="{{query}}">
				<span class="search_icon fa fa-search"></span>
				<input type="submit" class="form-control" value="جستجو" >
				<div class="clear"></div>

				{% if facets %}
				<div class="tags today_tags">
					<h3>برچسب‌های برتر <span class="green">روز</span></h3>
					{% for tag in facets.facet_today.facet_counts.fields.tags %}
					<a href="/hashtag/{{tag.0}}/">{{tag.0}}</a>
					{% endfor %}
				</div>

				<div class="tags week_tags">
					<h3>برچسب‌های برتر <span class="green">هفته</span></h3>
					{% for tag in facets.facet_week.facet_counts.fields.tags %}
					<a href="/hashtag/{{tag.0}}/">{{tag.0}}</a>
					{% endfor %}
				</div>

				<div class="tags month_tags">
					<h3>برچسب‌های برتر <span class="green">ماه</span></h3>
					{% for tag in facets.facet_month.facet_counts.fields.tags %}
					<a href="/hashtag/{{tag.0}}/">{{tag.0}}</a>
					{% endfor %}
				</div>

				<div class="tags all_tags">
					<h3>برچسب‌های برتر <span class="green">همیشه</span></h3>
					{% for tag in facets.facet_all.facet_counts.fields.tags %}
					<a href="/hashtag/{{tag.0}}/">{{tag.0}}</a>
					{% endfor %}
				</div>
				{% endif %}
				
			</div>

		</form>
	</div>
	<div class="">
		<div id="feed" class="masonry">
			{% include "pin2/__search.html" %}
		</div>
	</div>
</div>

{% endblock content %}