{% extends "pin2/flat.base.html" %}

{%block title%} - آمار سایت {{SITE_NAME_FA}} {%endblock title%}

{% block content %}

<div id="main">
	<div class="container">
		<div class="footer-detail col-md-12">
			<div class="col-md-12 col-sm-12 col-md-12">
				<div class=" content">
					<div>
					
	</head>
	<body>

<div id="constantine" style="min-width: 310px; height: 400px; margin: 0 auto; direction:ltr; text-align:left"></div>

	</body>


					</div>
					
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>

	<br />
	<br />
</div>
<div class="clear"></div>
{% endblock content%}

{% block footer_script %}
<script src="{{MEDIA_URL}}js2/highcharts.js"></script>
<script src="{{MEDIA_URL}}js2/modules/exporting.js"></script>
<script type="text/javascript">
$(function () {
    $('#constantine').highcharts({
        title: {
            text: 'Daily stats',
            x: -20 //center
        },
        subtitle: {
            text: 'Source: wisgoon.com',
            x: -20
        },
        xAxis: {
            categories: {{op.dates}}
        },
        yAxis: {
            title: {
                text: 'Count'
            },
            min: 0,
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Posts',
            data: {{op.posts}}
        }, {
            name: 'Comments',
            data: {{op.comments}}
        }, {
            name: 'Likes',
            data: {{op.likes}}
        }]
    });
});
		</script>
{% endblock %}