{% extends "pin2/flat.base.html"%}
{% load pin_tags %}
{% load daddy_avatar %}
{%load cache %}

{%block title%} کاربران برتر {%endblock title%}

{% block content %}
{% cache 50 topgroupusers %}
<div class="top_user_boxes">
    <div id="accordion">
        {% for cat in cats %}

        <div class="cat{% if forloop.counter == 1 %} open{% endif %}">
            <div class="title">
                <h4>
                    <a class="cat_title">{{cat.title}}</a> 
                    <a class="cat_view pull-left" href="/category/{{cat.id}}">#</a>
                    <div class="clear"></div>
                </h4>
            </div>
            <div id="c_{{cat.id}}" class="content{% if forloop.counter == 1 %} in{% endif %}">
                <div>
                    {% for u in cat.tops %}
                    {% include "pin2/_user_box_score.html" %}
                    {% comment %}
                    <td><a href="{% url "pin-user" u.user.id %}">{{u.user|get_username}}</a></td>
                    <td>امتیاز: {{u.sum_like}}</td>
                    {% endcomment %}
                    {%endfor%}
                </div>
            </div>
        </div>

        {%endfor%}
    </div>

</div>
{%endcache%}

{% endblock content %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            $('body').on('click', '.cat_title', function(event) {
                event.preventDefault();
                var t = $(this);
                console.log(t);
                if (t.parents('.cat').hasClass('open')) {
                    t.parents('.cat').find('.content').css('display', 'none');
                    t.parents('.cat').removeClass('open');
                }else{
                    $('.cat.open .content').css('display', 'none');
                    $('.cat.open').removeClass('open');
                    console.log(t.parents('.cat').find('.content'));
                    t.parents('.cat').find('.content').css('display', 'block');
                    t.parents('.cat').addClass('open');
                }
            });     
        });
    </script>
{% endblock js %}
