{% extends "pin2/flat.base.html"%}
{% load pin_tags %}
{% load daddy_avatar %}
{%load cache %}

{%block title%} کاربران برتر {%endblock title%}

{% block content %}

<div class="top_user_boxes">
    {% for u in top_user %}

        {% if forloop.counter == 1 %}
        <h2 class="pa20"><i class="fa fa-diamond"></i> ۱۲ کاربر برتر سایت</h2>
        <div class="clear"></div>
        {% endif %}
        {% if forloop.counter == 13 %}
        <h3 class="pa20 mabo20"><i class="fa fa-certificate"></i> سایر کاربران برتر</h3>
        <div class="clear"></div>
        {% endif %}

        {% if forloop.counter < 13 %}
            {% include "pin2/_user_box.html" %}
        {% else %}
            {% include "pin2/_user_box_xs.html" %}
        {% endif %}

    {%endfor%}
</div>

{% endblock content %}
