{% extends "pin2/flat.base.profile.html"%}
{% load humanize %}
{% load pin_tags %}
{% load daddy_avatar%}

{% block title%} - {{profile.user_id|get_user_name}}{% endblock title%}

{% block extra_js %}

<script src="{{MEDIA_URL}}js/jquery.masonry.min.js"></script>
<!-- <script src="{{MEDIA_URL}}js/masonry.pkgd.min.js"></script>-->

{% endblock extra_js %}

{% block content %}

<script type="text/javascript">
	var start_loading=0;
// var next_pref = '?pid=';
</script>

<div id="feed" class="masonry pato0">
    {% include "pin2/_items_2_1.html"%}
</div>

<div class="clear"></div>

{% include "pin/pin_scripts.html" %}
{% endblock content %}

{% block footer_script %}

{% endblock footer_script %}
