{% extends "pin2/flat.base.profile.html"%}
{% load humanize %}
{% load pin_tags %}
{% load daddy_avatar%}

{% block title%} - مطالب مورد علاقه {{profile.user|get_username}} - {{profile.user.username}}{% endblock title%}

{% block extra_js %}
<script src="{{STATIC_CDN}}js/jquery.masonry.min.js"></script>
<!-- <script src="{{STATIC_CDN}}js/masonry.pkgd.min.js"></script>-->
{% endblock extra_js %}

{% block content %}

<script type="text/javascript">
	var start_loading=0;
	var next_pref = '?pid=';
</script>

<!-- {% include "base/app.html" %} -->
<div id="main">
	<div id="feed" class="masonry">
		{% include "pin2/_items_2_v6.html"%}
	</div>
</div>


<div class="clear"></div>

{% include "pin/pin_scripts.html" %}

{% endblock content %}