{% extends "pin2/flat.base.html"%}
{% load humanize %}
{% load pin_tags %}
{% load daddy_avatar%}

{% block title%} - {{profile.user_id|get_user_name}}{% endblock title%}

{% block extra_js %}

<script src="{{MEDIA_URL}}js/jquery.masonry.min.js"></script>
<!-- <script src="{{MEDIA_URL}}js/masonry.pkgd.min.js"></script>-->

{% endblock extra_js %}

{% block content %}

<script type="text/javascript">
	var start_loading=0;
// var next_pref = '?pid=';
</script>

<!-- {% include "base/app.html" %} -->
<div id="main">
	<div class="container">
		<div class="profile row">
			<div class="sidebar col-md-3 col-sm-3 col-xs-12 pull-right">	
				{% include "pin2/__user_info_top.html" %}
				
				{% include "pin2/__user_info_stats.html" %}
				
				<!-- <div class="clear"></div> -->
			</div>
			<div class="post col-md-9 col-sm-9 col-xs-12 pull-left">
				<div class="row" style="text-align:center">
					{% include "base/ad-720x92.html" %}
				</div>

				{% include "pin2/__user_info_profile_top.html" %}

				<div id="feed" class="masonry">
					{% include "pin2/_items_2_1.html"%}
				</div>
			</div>
			
			
		</div>
	</div>

</div>
<div class="clear"></div>

{% include "pin/feed_scripts.html" %}
{% include "pin/pin_scripts.html" %}
{% endblock content %}

{% block footer_script %}
	
<script type="text/javascript">
$(document).ready(function() {
	$('body').on('click', '.ajax-follow', function(event) {
		event.preventDefault();
        var t = $(this);
        var href = t.attr('href');
        console.log(href);

        $.ajax({
        	url: href,
        })
        .done(function(d) {
        	console.log(d);
        	if (d.status) {
        		t.attr('href', '{% url "pin-follow" profile.user_id 0 %}');
        		t.text('قطع ارتباط');
        		t.removeClass('btn-success');
        		t.addClass('btn-danger');
        	}else{
        		t.attr('href', '{% url "pin-follow" profile.user_id 1 %}');
        		t.text('ایجاد دوستی');
        		t.removeClass('btn-danger');
        		t.addClass('btn-success');
        	}
        })
        .fail(function(d) {
        	console.log(d);
        	console.log("error");
        })
        .always(function() {
        	console.log("complete");
        });

        return false;
    }); 
});
</script>

{% endblock footer_script %}