{% extends "pin2/flat.base.profile.html"%}
{% load humanize %}
{% load pin_tags %}
{% load daddy_avatar%}


{% block extra_js %}
<script src="{{MEDIA_URL}}js/jquery.masonry.min.js"></script>
<!-- <script src="{{MEDIA_URL}}js/masonry.pkgd.min.js"></script>-->
{% endblock extra_js %}

{% block title%} - دوستان {{user_id|get_username}}{% endblock title%}

{%block pin-ex-nav%}
<li class="nav-right active">
	<a href="{% url "pin-user" user_id %}"><h1>دوستان {{user_id|get_username}}</h1></a>
</li>
{%endblock pin-ex-nav%}

{% block content %}

<script type="text/javascript">
	var start_loading=0;
	var disable_masonry=1;
</script>


{% if user_items %}
<div id="follower-box">
	{% include "pin2/_user_following.html"%}
</div>
{% else %}
<h3>موردی پیدا نشد</h3>
{% endif %}

{% if user_items|length > 15 %}
<center>
    <a href="{% url 'pin-absuser-following' user.username %}" class="wis_btn bg_white mabo50 mato50 load-follow">
        بیشتر
        <img src="{{MEDIA_URL}}v2/images/wis_loading.gif" alt=" بیشتر " />
    </a>
</center>
{% endif %}




{% include "pin/pin_scripts.html" %}

{% endblock content %}

{% block js %} {% endblock js %}