<div ng-include src="'/media/angular/html/nav.html'"></div>
<div class="col-md-2"></div>
<div class="col-md-8">
	<form id="pin_form" class="form-horizontal" name="send-post"
	ng-submit="sendPost()" ng-controller="sendPostController as sendPostCtrl" enctype="multipart/form-data">
	<input type="hidden" >
	<div class="form-group">
		<label>تصویر: </label>
		<div class="controls">
			<div class="qq-upload-button btn btn-primary" style="position: relative; overflow: hidden; direction: ltr;">
				انتخاب تصویر
				<input type="file" name="image" file-model="formData.image" style="position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0;">
			</div>

		</div>
	</div>
	<div class="form-group ">
		<label>توضیحات: </label>
		<textarea class="form-control" name="description" ng-model="formData.description" cols="40" rows="5"> </textarea>
	</div>
	<div class="form-group">
		<label>آدرس:</label>
		<input class="form-control span3 ltr" type="text" placeholder="URL" name="url" ng-model="formData.url">
	</div>
	<div class="form-group" ng-controller="catController">
		<label>گروه </label>
		<select class="form-control" name="category" ng-model="formData.category">
			<option ng-repeat="catItem in catItems" value="{[{catItem.id}]}">{[{catItem.title}]}</option>
		</select>
	</div>
	<button type="submit" class="">ارسال</button>
</form>
</div>
<div class="col-md-2"></div>
