body{
	direction: rtl;
	text-align: right;
	background: url('../img/paper.jpg') repeat ;
}
#feed-ul{
	list-style: none;
	margin:0 auto;
	padding:0;
	width: 91%;
}

#feed-ul .feed-item{
	width : 192px;
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	overflow: hidden;
	border-top: 2px solid #C00;
	box-shadow: 0 2px 4px #86898C;
	float: right;
	padding: 15px 15px 30px;
	background: #FFF;
}

#feed-ul .feed-inner{
	/*width : ;*/
	-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	overflow: hidden;
}

#feed-ul img{
	display: block;
	padding-bottom: 5px;
}
.feed-actions{
	right:0;
	width:100%;
	bottom:-40px;
	position:absolute;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-bottom: 5px;
}

.feed-description{
	font-family:Tahoma,Arial, Helvetica, sans-serif;
	font-size:.8em;
	text-align: justify;
	line-height: 18px;
}

.feed-card {
	background-color: white;
	border-top: 2px solid #0282B8;
	box-shadow: 0 2px 4px #86898C;
	margin-bottom: 15px;
	padding: 15px;
}
.feed-item {
	padding: 5px;
	margin: 5px;
	font-family: 'afsfont';
	font-weight: normal;
}
.feed-item-title {
	font-size: 16px;
	margin: 0px 8px;
	color: #069;
	display: block;
}
.feed-sub{
	font-family: Tahoma;
	cursor: pointer;
}
a {
	text-decoration: none;
	color: #4F4F4F;
	font-weight: normal;
}
.feed-item-desc {
	border-right: 5px solid #E7ECEF;
	color: #5B5F61;
	font-size: 11px;
	line-height: 18px;
	margin: 0;
	overflow: hidden;
	padding-right: 15px;
	text-align: justify;
	font-family: Tahoma;
	margin-left: 15px;
}
.feed-item-bottom {
	background: #F7F5F6;
	border-top: 1px solid gainsboro;
	min-height: 25px;
	padding: 5px 15px 10px;
}

#comments{
	list-style: none;
}

.comment_box {
border-top: 1px solid #E7ECEF;
padding: 15px 0;
}

.comment_box .comment {
border-right: 3px solid #BBB;
min-height: 35px;
padding: 5px 10px;
position: relative;
}

.comment .comment_side {
float: right;
width: 40px;
}

.loading{
	margin: 10px;
	text-align: center;
	display: none;
}

.img-block{
	background: #BBBBBB;
}

#google-oauth{
	background: #fff url(../img/openid-logos.png); background-position: -1px -1px;
	width: 100px;
	height: 60px;
	border: 2px solid #DDD;
	border-right: 2px solid #CCC;
	border-bottom: 2px solid #CCC;
}

#yahoo-oauth{
	background: #fff url(../img/openid-logos.png); background-position: -1px -63px;
	width: 100px;
	height: 60px;
	border: 2px solid #DDD;
	border-right: 2px solid #CCC;
	border-bottom: 2px solid #CCC;
}