*.pyc
*~
/munin/
/.project
/.pydevproject
/feedreader/media/pin/
/feedreader/media/rss/
/feedreader/media/CACHE/
/feedreader/media/cache/
/feedreader/media/daddy_avatar/
/feedreader/media/favicon/
/feedreader/media/app/
