*.pyc
*~
/munin/
/.project
/.pydevproject
/feedreader/media/pin/
/feedreader/media/rss/
/feedreader/media/CACHE/
/feedreader/media/cache/
/feedreader/media/cache2
/feedreader/media/daddy_avatar/
/feedreader/media/favicon/
/feedreader/media/ads/
/feedreader/media/static_cache/
/feedreader/media/avatars/
/feedreader/media/app/
wenv/
feedreader/media/cache2/
/src/
/docs/
/env/
/wisgoon.sublime-*
/index.csv
