*.pyc
*~
/.idea/*
/munin/
/lab/
/.project
/.pydevproject
/feedreader/*media*/pin/
/feedreader/media/v2/test_data/
/node_modules/
/feedreader/*media*/rss/
/feedreader/*media*/CACHE/
/feedreader/*media*/cache/
/feedreader/*media*/cache2
/feedreader/*media*/daddy_avatar/
/feedreader/*media*/favicon/
/feedreader/*media*/ads/
/feedreader/*media*/static_cache/
/feedreader/*media*/avatars/
/feedreader/*media*/app/
/feedreader/*media*/packages/
/feedreader/media/v2/test_data/
/feedreader/*media*/product/
wenv/
feedreader/*media*/cache2/
/src/
/env/
/upgrade/
/wisgoon.sublime-*
/index.csv
/reports/
