BeautifulSoup
Django
MarkupSafe
#MySQL-python==1.2.4
Pillow
PyYAML
Pygments
#South
amqp
anyjson
argparse
autopep8
billiard
biplist
blinker
cassandra-driver
celery
cqlengine
defusedxml
#django-allauth
django-appconf
django-celery
django-ckeditor
django-compressor
django-cors-headers
django-daddy-avatar
django-debug-toolbar
django-devserver
django-haystack
django-registration
django-silk
django-simple-captcha
django-social-auth
django-sphinx
django-taggit
django-tastypie
django-tastypie-mongoengine
django-widget-tweaks
ecdsa
elasticsearch
futures
gdata
gevent
greenlet
grequests
gunicorn
httpagentparser
httplib2
ipython
#johnny-cache
kombu
lxml
meld3
mimeparse
mongoengine
nltk
numpy
oauth
oauth2
oauthlib
paramiko
pep8
py2neo
pyCalverter
pycrypto
pymongo
pysolr
python-dateutil
python-instagram
python-magic
python-memcached
python-mimeparse
python-openid
python-ptrace
pytz
redis
requests
requests-oauthlib
simplejson
six
sorl-thumbnail
sqlparse
statsd
stream-framework
suds
supervisor
textblob
tldextract
urllib3
wsgiref
Khayyam
selenium
paho-mqtt