BeautifulSoup==3.2.1
Django==1.5.2
MySQL-python==1.2.4
Pillow==2.1.0
South==0.8.2
argparse==1.2.1
defusedxml==0.4.1
distribute==0.6.34
django-allauth==0.12.0
django-appconf==0.6
django-compressor==1.3
django-daddy-avatar==1.0.3
django-debug-toolbar==0.9.4
django-devserver==0.6.2
django-registration==1.0
django-simple-captcha==0.3.8
django-social-auth==0.7.25
django-sphinx==2.2.4
django-taggit==0.10
django-tastypie==0.10.0
gdata==2.0.18
gunicorn==17.5
httpagentparser==1.3.0
httplib2==0.8
ipython==1.0.0
johnny-cache==1.4
lxml==3.2.3
meld3==0.6.10
mimeparse==0.1.3
mongoengine==0.8.4
oauth==1.0.1
oauth2==1.5.211
oauthlib==0.5.1
pyCalverter==1.6.1
pymongo==2.6
python-dateutil==2.1
python-memcached==1.53
python-openid==2.2.5
redis==2.8.0
requests==1.2.3
requests-oauthlib==0.3.3
simplejson==3.3.0
six==1.3.0
sorl-thumbnail==11.12
supervisor==3.0
tldextract==1.2
wsgiref==0.1.2
