{% if not DEBUG %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35424332-1']);
  _gaq.push(['_setDomainName', 'wisgoon.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

function ana_ajax(url){
	_gaq.push(['_trackPageview', url]);
}

</script>
{% else %}
<script type="text/javascript">

function ana_ajax(url){
  //_gaq.push(['_trackPageview', url]);
}

</script>
{% endif %}
