{% load rss_tags %}
{% load compress %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
<head>
	<title>فیدخوان {% block title%}{% endblock%}</title>

	<meta name="keywords" content="social,rss,reader" />
	<meta name="description" content="{%block description%}فیدخوان{%endblock%}" />

<link rel="alternate" type="application/rss+xml" href="{% url rss-item-latest-feed%}" />
<link rel="alternate" type="application/rss+xml" href="{% url rss-list-feed%}" />

{% include "base/all_header.html"%}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css?ver=2">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/important.css">
{%endcompress%}
{% compress js %}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/bootstrap.js"></script>

{% block extra_js %}{% endblock extra_js %}
{% endcompress %}
<style type="text/css">
/* thanks to http://afsaran.ir/ */
/*<![CDATA[*/
@font-face
{
	font-family: afsFont;
	src: local('Koodak Bold'),
	url('{{MEDIA_URL}}/fonts/BKoodakBold.woff') format('woff'),
	url('{{MEDIA_URL}}/fonts/BKoodakBold.ttf') format('truetype'),
	url('{{MEDIA_URL}}/fonts/BKoodakBold.eot');
}
/*]]>*/
</style>

{% include "base/analytics.html"%}

</head>
	<body dir="rtl">
		<div class="" id="wrapper">
			<div class="navbar-fixed-top">
			{% include "base/bar_first.html" with rssactive="active" %}
			


<ul class="nav nav-tabs">
	<li>
		<form class="navbar-search pull-left" action="{% url rss-search%}" method="get">
			<input type="text" name="q" class="search-query span3" placeholder="{%if q%}{{q}}{%else%}جستجو{%endif%}" value="{%if q%}{{q}}{%endif%}">

		</form>
	</li>
	<li class="pull-right">
		{% if user.is_authenticated%}
			  	<a data-toggle="modal" data-target="#subModal" href="#subModal">اشتراک فید</a>
			  {%else%}
			  	<a href="/accounts/login/?next=/feedreader">اشتراک فید</a>
			  {%endif%}
		<!--<a href="{% url rss-subs %}">اشتراک فید</a>-->
	</li>
	<li class="pull-right">
		<a href="{% url rss-lastview%}">دیده ها</a>
	</li>
	{% if user.is_authenticated %}
	<li class="dropdown nav-right">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#"> فیدهای شما <b class="caret"></b> </a>
		<ul class="dropdown-menu">
			{% get_user_feeds %}
			{% for sub in user_feeds %}
			<li>
				<a href="{% url rss-feed sub.feed.id %}">{{sub.feed.title|default:sub.feed.url|truncatechars:35}}</a>
			</li>
			{% endfor %}
		</ul>
	</li>
	
	{%endif%}
	<li class="dropdown nav-right">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#"> فیدهای پیشنهادی <b class="caret"></b> </a>
		<ul class="dropdown-menu">
			{% get_recomend_feeds %}
			{% for f in recomend_feeds %}
			<li>
				<a href="{% url rss-feed f.id %}">{{f.title|truncatechars:35}}</a>
			</li>
			{% endfor %}
		</ul>
	</li>
	{% block current_feed %}{% endblock current_feed %}
	
	{% if user.is_authenticated%}
	<li class="nav-right">
		<a class="tooltips" data-placement="bottom" rel="tooltip" title="علاقه مندیهای شما" href="{% url rss-item-likes user.id%}">
			<i class="icon-heart"></i>
		</a>
	</li>
	{%endif%}
</ul>
</div>
	
	
	<div id="content" class="container " style="padding-top: 80px">
		<div class="row">
			
			<div class="span9">
				{% block content %}
				{% endblock content %}
			</div>
			
	<div class="span3">
	<ul class="nav nav-list sites-nav">
	{% if user.is_authenticated%}
		<li class="nav-header">فیدهای شما</li>
		{% get_user_feeds %}
		{% for subs in user_feeds %}
	<li>
		<a href="{% url rss-feed subs.feed.id %}">{{subs.feed.title|default:subs.feed.url|truncatechars:35}}</a>
	</li>
		{% endfor %}
	{% endif %}
	<li class="divider"> </li>
	<li class="nav-header">امکانات سایت</li>
	<li><a href="{% url rss-search%}">جستجو</a></li>
	
	<li class="divider"> </li>
	<li class="nav-header">لیست فیدها</li>
	{% get_all_feeds %}
		{% for allfeed in all_feeds %}
	<li>
		<a href="{% url rss-feed allfeed.id %}">{{allfeed.title|default:allfeed.url|truncatechars:35}}</a>
	</li>
		{% endfor %}
	</ul>
			</div>
		</div>
	</div>
			<div class="loading">
				<img src="{{MEDIA_URL}}img/loader.gif" />
			</div>
		</div>
{% if user.is_authenticated%}
<div style="display: none;" class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2 id="myModalLabel">ارسال گزارش تخلف</h2>
  </div>
  <div class="modal-body">
    {% include "rss/report.html"%}
  </div>
</div>

<div style="display: none;" class="modal" id="subModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2 id="myModalLabel">اشتراک فید</h2>
  </div>
  <div class="modal-body">
    {%include "rss/subscribe_modal.html"%}
  </div>
</div>

{%endif%}
{% include 'base/all_footer.html'%}

	</body>
</html>
