{% load pin_tags %}
{% load compress %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
<head>
<title>ویسگون {% block title%}{% endblock%}</title>
<meta name="keywords" content="social, image, sharing" />
<meta name="description" content="{%block description%}what is going on, social image sharing{%endblock%}" />
{% block nextpost%}{%endblock%}
{% block prevpost%}{%endblock%}
{% comment %}
<link rel="alternate" type="application/rss+xml" href="{% url "pin-latest-feed" %}" />
{% endcomment %}
{% block opengraph%}{% endblock opengraph%}

{% include "base/all_header.html"%}

{% compress css %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css?ver=1.2.0">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/important.css?v=0.1.0">
{%endcompress%}

{% compress js%}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/bootstrap.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/textextc.js"></script>
<script src="{{MEDIA_URL}}js/fileuploader.js" type="text/javascript"></script>
{% block extra_js %}{% endblock extra_js %}
{% block extra_css%}{% endblock extra_css%}
{% endcompress %}


{% include "base/analytics.html"%}

<script type="text/javascript">
var media_url = "{{MEDIA_URL}}";
var upload_url = "{% url "pin-upload" %}";
</script>
</head>

	<body dir="rtl">
		
		<div class="container row-fluid" id="wrapper">
			<div class="">
			{% include "base/bar_first.html" with pinactive="active" %}
			
			<ul class="nav nav-tabs nav-second">
				<li class="nav-right">
					<a href="{% url "pin-latest" %}">آخرین مطالب</a></li>
			  <li class="nav-right">
			  {% if user.is_authenticated%}
			  	<a data-toggle="modal" data-target="#myModal" href="#myModal"><img src="{{MEDIA_URL}}img/new/add.png">ارسال تصویر</a>
			  {%else%}
			  	<a href="/accounts/login/?next=/pin"><img src="{{MEDIA_URL}}img/new/add.png">ارسال تصویر</a>
			  {%endif%}
			  </li>
			  <li class="nav-right">
			  {% if user.is_authenticated%}
			  	<a data-toggle="modal" data-target="#pin-from-url" href="#pin-from-url"><img src="{{MEDIA_URL}}img/new/web.png"> ارسال از وب</a>
			  {%else%}
			  	<a href="/accounts/login/?next=/pin"><img src="{{MEDIA_URL}}img/new/web.png"> ارسال از وب</a>
			  {%endif%}
			  </li>

<li class="nav-right dropdown ">
	<a class="dropdown-toggle" data-toggle="dropdown"  href="#"><img src="{{MEDIA_URL}}img/new/bartarin.png"> برترینها</a>
    <ul class="dropdown-menu">
        <li><a href="{% url "pin-popular" %}">همه زمانها</a></li>
        <li><a href="{% url "pin-popular-offset" "month" %}">یک ماه گذشته</a></li>
        <li><a href="{% url "pin-popular-offset" "lastweek" %}">هفته گذشته</a></li>
        <li><a href="{% url "pin-popular-offset" "lastday" %} ">24 ساعت گذشته</a></li>
        <li><a href="{% url "pin-popular-offset" "lasteigth" %} ">8 ساعت گذشته</a></li>
      <!-- links -->
    </ul>
</li>

<li class="nav-right dropdown ">
    <a class="dropdown-toggle" data-toggle="dropdown"  href="#"><img src="{{MEDIA_URL}}img/new/category.png">  گروه ها</a>
    <ul class="dropdown-menu">
        {% for cat in cats %}
        <li><a href="{% url "pin-category" cat.id %}">{{cat.title}}</a></li>
        {% endfor %}
      <!-- links -->
    </ul>
</li>

<li class="nav-right dropdown ">
	<a class="dropdown-toggle" data-toggle="dropdown"  href="#">برترین کاربران</a>
    <ul class="dropdown-menu">
        <li><a href="{% url "pin-topuser" %}">کل سایت</a></li>
        <li><a href="{% url "pin-topgroupuser" %}">گروه ها</a></li>
    </ul>
</li>

{% if user.is_authenticated%}
<li class="nav-right">
	<a href="{% url "pin-following" %}">مطالب دوستان</a>
</li>
<li class="nav-right">
	<a href="{% url "pin-user-like" user.id %}"><i class="icon-heart"></i></a>
</li>
<li class="nav-right">
	<a href="#notify" data-load="{% url "show_notify" %}" title="اعلانات" class="popnotify"><i class="icon-bell"> </i> {{user.id|get_user_notify}} </a>
</li>
{%endif%}
			  
			  {%block pin-ex-nav%}{%endblock pin-ex-nav%}

<li><g:plusone href="http://www.wisgoon.com/"></g:plusone></li>
			  
			</ul>
			</div>
			<div >
				{% if messages %}
				
			    {% for message in messages %}
			    <div class="span6 alert alert-{{ message.tags }}" style="float: none; margin: 5px auto;">
			    	<button type="button" class="close" data-dismiss="alert">&times;</button>
			    {{ message|safe}}
				</div>
			    {% endfor %}
			
				{% endif %}
			</div>
			<div id="content" class="container row-fluid" style="">
				
				{% block content %}
				{% endblock content %}
			</div>
			<div class="loading">
				<img src="{{MEDIA_URL}}img/loader.gif" />
			</div>
		</div>

{% if user.is_authenticated %}
<div style="display: none;" class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2 id="myModalLabel">ارسال مطلب جدید</h2>
  </div>
  <div class="modal-body">
    {% include "pin/_send.html"%}
  </div>
</div>

<div style="display: none;" class="modal" id="pin-from-url" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close btn-large" data-dismiss="modal" aria-hidden="true">×</button>
    <h2 id="myModalLabel">ارسال از وب</h2>
  </div>
  <div class="modal-body">
    {% include "pin/_sendurl.html"%}
  </div>
</div>

<!-- Modal -->
<div id="profileModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2 id="myModalLabel">ویرایش مشخصات</h2>
  </div>
  <div class="modal-body">
  </div>
</div>

{%endif%}

<div style="display: none;" class="modal modal-pin-item fade" id="pinitem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close btn-large" data-dismiss="modal" aria-hidden="true">×</button>
    <h2 id="myModalLabel">ویرایش پین</h2>
  </div>
  <div class="modal-body">
    
  </div>
</div>

{% include 'base/all_footer.html'%}
{% if user.is_authenticated %}
<script type="text/javascript" src="{{MEDIA_URL}}js/pin-user.js?ver=1.1"></script>
{% endif %}

{% if user.is_superuser %}
<script type="text/javascript" src="{{MEDIA_URL}}js/pin-admin.js?ver=1.2"></script>
{% endif %}

<script type="text/javascript" src="{{MEDIA_URL}}js/all.js?ver=1"></script>
{% block footer_script %}
{% endblock %}
<!--<script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script> -->
<script type="text/javascript" src="http://static-cdn.anetwork.ir/showad/aw-apfbc.js?v=0.12"></script>
<div class="anetwork-xfb-120-125-main" style="left: 4px; bottom: 4px; display: none" id="anetwork-xfb-125-lb">
<div class="anetwork-xfb-120-125-title" onClick="document.getElementById('anetwork-xfb-125-lb').style.display = 'none'; setCookie('anetwork-xfb-125-lb', 1)">
<span class="anetwork-xfb-120-125-close">×</span> بستـن تبلـیــغ
</div>
<script type="text/javascript"> 
var anetwork_pram = anetwork_pram || []; 
anetwork_pram['aduser'] = '1377550367'; 
anetwork_pram['adheight'] = '125'; 
anetwork_pram['adwidth'] = '125'; 
</script> 
<script type="text/javascript" src="http://static-cdn.anetwork.ir/showad/pub.js"></script>
</div>
	</body><!-- end body -->
</html>
