{% load rss_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
<head>
	<title>ویسگون {% block title%}{% endblock%}</title>
	<meta name="keywords" content="social,rss,reader" />
	<meta name="description" content="what is going on, social rss reader" />

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/important.css">
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/bootstrap.js"></script>

{% block extra_js %}

{% endblock extra_js %}

<style type="text/css">
/* thanks to http://afsaran.ir/ */
/*<![CDATA[*/
			@font-face
			{
				font-family: afsFont;
				src: local('Koodak Bold'),
					 url('{{MEDIA_URL}}/fonts/BKoodakBold.woff') format('woff'),
					 url('{{MEDIA_URL}}/fonts/BKoodakBold.ttf') format('truetype'),
					 url('{{MEDIA_URL}}/fonts/BKoodakBold.eot');
			}
/*]]>*/
</style>

</head>

	<body dir="rtl">
		
		<div class="container row-fluid" id="wrapper">
			{% include "base/bar_first.html" %}
			
			<ul class="nav nav-tabs">
			  <li class="nav-right">
			  	<a data-toggle="modal" data-target="#myModal" href="#myModal">ارسال مطلب جدید</a>
			  </li>
			</ul>
			
			<div id="content" class="container row-fluid">
				{% block content %}
				{% endblock content %}
			</div>
			<div class="loading">
				<img src="{{MEDIA_URL}}img/loader.gif" />
			</div>
		</div>


<div style="display: none;" class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2 id="myModalLabel">ارسال مطلب جدید</h2>
  </div>
  <div class="modal-body">
    {% include "pin/_send.html"%}
  </div>
</div>


	</body>
</html>
