{% load rss_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
<head>
	<title>ویسگون {% block title%}{% endblock%}</title>
	<meta name="keywords" content="social,rss,reader" />
	<meta name="description" content="what is going on, social rss reader" />

{% include "base/all_header.html"%}

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/important.css?v=0.0.1">
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/bootstrap.js"></script>

{% block extra_js %}

{% endblock extra_js %}

<style type="text/css">
/* thanks to http://afsaran.ir/ */
/*<![CDATA[*/
			@font-face
			{
				font-family: afsFont;
				src: local('Koodak Bold'),
					 url('{{MEDIA_URL}}/fonts/BKoodakBold.woff') format('woff'),
					 url('{{MEDIA_URL}}/fonts/BKoodakBold.ttf') format('truetype'),
					 url('{{MEDIA_URL}}/fonts/BKoodakBold.eot');
			}
/*]]>*/
</style>
{% include "base/analytics.html"%}
</head>

	<body dir="rtl">
		
		<div class="container row-fluid" id="wrapper">
			{% include "base/bar_first.html" with pinactive="active" %}
			
			<ul class="nav nav-tabs nav-second">
				<li>
					<form class="navbar-search pull-left" action="{% url rss-search%}" method="get">
						<input type="text" name="q" class="search-query" placeholder="جستجو">
			
					</form>
				</li>
				<li class="nav-right">
					<a href="{% url pin-home %}">آخرین مطالب</a></li>
			  <li class="nav-right">
			  {% if user.is_authenticated%}
			  	<a data-toggle="modal" data-target="#myModal" href="#myModal">ارسال مطلب جدید</a>
			  {%else%}
			  	<a href="/accounts/login/?next=/pin">ارسال مطلب جدید</a>
			  {%endif%}
			  </li>
			  <li class="nav-right">
			  {% if user.is_authenticated%}
			  	<a data-toggle="modal" data-target="#pin-from-url" href="#pin-from-url">ارسال از وب</a>
			  {%else%}
			  	<a href="/accounts/login/?next=/pin">ارسال از وب</a>
			  {%endif%}
			  </li>
			  
			  {% if user.is_authenticated%}
			  <li class="nav-right">
			  	<a href="{% url pin-following%}">دنبال شوندگان</a>
			  </li>
			  
			  {%endif%}
			  
			  {%block pin-ex-nav%}{%endblock pin-ex-nav%}
			  
			  
			</ul>
			
			<div id="content" class="container row-fluid">
				{% block content %}
				{% endblock content %}
			</div>
			<div class="loading">
				<img src="{{MEDIA_URL}}img/loader.gif" />
			</div>
		</div>

{% if user.is_authenticated%}
<div style="display: none;" class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h2 id="myModalLabel">ارسال مطلب جدید</h2>
  </div>
  <div class="modal-body">
    {% include "pin/_send.html"%}
  </div>
</div>

<div style="display: none;" class="modal" id="pin-from-url" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close btn-large" data-dismiss="modal" aria-hidden="true">×</button>
    <h2 id="myModalLabel">ارسال از وب</h2>
  </div>
  <div class="modal-body">
    {% include "pin/_sendurl.html"%}
  </div>
</div>

{%endif%}

<div style="display: none;" class="modal modal-pin-item fade" id="pinitem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close btn-large" data-dismiss="modal" aria-hidden="true">×</button>
    <h2 id="myModalLabel"></h2>
  </div>
  <div class="modal-body">
    
  </div>
</div>

{% include 'base/all_footer.html'%}

	</body>
</html>
