<p class="mabo20 pa20 tace" style="background: rgb(255, 110, 2) none repeat scroll 0% 0%; border: 50px none; border-radius: 50px; color: rgb(255, 255, 255); font-size: 18px; font-weight: bold;">مشکلات ویسگون را با ایمیل <span style="color: #272E38;">support@wisgoon.com</span> در میان بگذارید</p>

<div>
    <h1>درباره ما</h1>
</div>


<p>
    گروه نرم‌افزاری رخ از سال ۱۳۹۰ فعالیت‌های خود را زمینه شبکه‌های اجتماعی آغاز کرده و با ارائه شبکه‌های اجتماعی در زمینه‌های عکس، صدا و تصویر، سعی در غنی‌سازی این بستر در داخل کشور داشته و هم‌اکنون با توسعه این شبکه‌ها جایگاه مناسبی در بین مخاطبان داخل و خارج از کشور پیدا کرده است.
    
    گروه نرم‌افزاری رخ با تیم حرفه‌ای و تخصصی خود در تمامی زمینه‌های مورد نیاز برای راه‌اندازی یک شبکه اجتماعی موفق اعم از برنامه نویسی، مدیریت سرور و طراحی رابط کاربری، سعی در حفظ جایگاه خود و تلاش برای استفاده از جدیدترین تکنولوژی‌های روز دنیا داشته و تا به حال به زعم صدهاهزار کاربر که از این شبکه‌ها استفاده می کنند موفق بوده است.
    
    این گروه در سال ۱۳۹۲ نیز در جشنواره وب ایران در زمینه شبکه‌های اجتماعی برنده جایزه «برترین نرم‌افزار شبکه‌های اجتماعی» شد.
</p>

<hr class="mato20">

<h4>معرفی  محصولات</h4>



<h1>ویسگون</h1>
<!-- <img src="http://statics.wisgoon.com/media/v2/images/screen-shot/sc-wisgoon.png" alt="" /> -->
<p>ویسگون، شبکه اجتماعی اشتراک عکس یکی از موفق‌ترین نمونه شبکه های اجتماعی است که گروه نرم افزاری رخ تا کنون ایجاد کرده. این شبکه بزرگترین شبکه موبایلی ایران است. شما می توانید در این شبکه تصاویر خود را با دوستانتان به اشتراک بگذارید. بسیاری از امکانات شبکه‌های اجتماعی در این نرم‌افزار در اختیار شما قرار خواهد گرفت. از ویسگون لذت ببرید.</p>

<img src="{{MEDIA_URL}}v2/images/screen-shot/sc-wisgoon.png" alt="" class="mato20 mabo20" />

<div class="only_web">
    <table style="width: 100%;text-align:center;">
        <tr>
            <th style='text-align: center;'>دانلود از کافه‌بازار</th>
            <th style='text-align: center;'>دانلود مستقیم</th>
        </tr>
        <tr>
            <td>
                <a class="wis_btn green ma0 mato10" href="https://cafebazaar.ir/app/com.wisgoon.android/?l=fa">دانلود</a>
            </td>
            <td>
                <a class="wis_btn orange ma0 mato10" href="http://static.wisgoon.com/media/app/latest.apk">دانلود</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://cafebazaar.ir/app/com.wisgoon.android/?l=fa">
                    <img class="qr" src="{{MEDIA_URL}}v2/images/qr-code/wis_bazar_download.png" alt="">
                </a>
            </td>
            <td>
                <a href="http://static.wisgoon.com/media/app/latest.apk">
                    <img class="qr" src="{{MEDIA_URL}}v2/images/qr-code/wis_direct_download.png" alt="">
                </a>
            </td>
        </tr>
    </table>
</div>

<hr class="mato50">

<h1>پارسوید</h1>

<p>با توجه به نیاز بازار و بررسی شبکه‌های اجتماعی و همچنین استفاده بیشتر کاربران از ویدیو، شبکه اجتماعی پارسوید با قابلیت‌های کامل یک شبکه اجتماعی با محوریت فیلم و ویدیو طراحی شده و شروع به کار کرده است. پارسوید یک سایت آپلود ویدیو نیست. پارسوید یک شبکه اجتماعی ست که می توانید ویدیوهای خود را با سایر کاربران به اشتراک بگذارید.</p>

<img src="{{MEDIA_URL}}v2/images/screen-shot/sc-parsvid.png" alt="" class="mato20 mabo20" />

<div class="only_web">
    <table style="width: 100%;text-align:center;">
        <tr>
            <th style='text-align: center;'>دانلود از کافه‌بازار</th>
            <th style='text-align: center;'>دانلود مستقیم</th>
        </tr>
        <tr>
            <td>
                <a class="wis_btn green ma0 mato10" href="https://cafebazaar.ir/app/com.may3am.parsvid/?l=fa">دانلود</a>
            </td>
            <td>
                <a class="wis_btn orange ma0 mato10" href="http://media.parsvid.com/app/latest.apk">دانلود</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://cafebazaar.ir/app/com.may3am.parsvid/?l=fa">
                    <img class="qr" src="{{MEDIA_URL}}v2/images/qr-code/parsvid_bazar_download.png" alt="">
                </a>
            </td>
            <td>
                <a href="http://media.parsvid.com/app/latest.apk">
                    <img class="qr" src="{{MEDIA_URL}}v2/images/qr-code/parsvid_direct_download.png" alt="">
                </a>
            </td>
        </tr>
    </table>
</div>

<hr class="mato50">

<h1>رینگتون</h1>

<p>
    این نرم‌افزار می‌تواند شما را در یافتن آهنگ مناسب برای زنگ گوشی کمک کند. شما علاوه بر دانلود رایگان می‌توانید آهنگ‌های مناسب و جذاب خود را با سایر کاربران به اشتراک بگذارید.
</p>
<img src="{{MEDIA_URL}}v2/images/screen-shot/sc-ringtone.png" alt="" class="mato20 mabo20" />

<div class="only_web">
    <table style="width: 100%;text-align:center;">
        <tr>
            <th style='text-align: center;'>دانلود از کافه‌بازار</th>
            <th style='text-align: center;'>دانلود مستقیم</th>
        </tr>
        <tr>
            <td>
                <a class="wis_btn green ma0 mato10" href="https://cafebazaar.ir/app/com.wisgoon.android/?l=fa">دانلود</a>
            </td>
            <td>
                <a class="wis_btn orange ma0 mato10" href="http://ringbaz.com/media/app/latest.apk">دانلود</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://cafebazaar.ir/app/ir.mohsennavabi.ringtone/?l=fa">
                    <img class="qr" src="{{MEDIA_URL}}v2/images/qr-code/ring_bazar_download.png" alt="">
                </a>
            </td>
            <td>
                <a href="http://ringbaz.com/media/app/latest.apk">
                    <img class="qr" src="{{MEDIA_URL}}v2/images/qr-code/ring_direct_download.png" alt="">
                </a>
            </td>
        </tr>
    </table>
</div>
