<div>
    <h3>قوانین سایت</h3>
</div>
<ol style="padding:0 15px;margin: 5px 0 0 0;">
    <li>مطالب کاربران جدید ویسگون بعد از رسیدن به امتیاز «ده هزار» در سایت قابل مشاهده خواهد بود و مطالب کاربرانی که به این امتیاز نرسیده‌اند تنها در پروفایل آنها در دسترس سایر کاربران قرار می‌گیرد. لذا از ارسال چندباره عکس خودداری نمایید و سعی کنید با لایک کردن، کامنت گذاشتن و فعالیت در سایت، سایر کاربران را متقاعد کنید تا با لایک کردن مطالبتان، شما را به امتیاز لازم برسانند.</li>
    <li>مطالب و نظرات کاربران در ویسگون پالایش و مورد بررسی قرار می‌گیرد و در صورت مشاهده هرگونه مغایرت با قوانین، حذف و در صورت تکرار تخلف، حساب کاربر متخلف مسدود می‌گردد.</li>
    <li>قوانین سایت با «فهرست مصادیق محتوای مجرمانه» منطبق شده و سایت ویسگون تابع قوانین جمهوری اسلامی ایران فعالیت می‌کند.</li>
    <li>علاوه بر قوانین کشور، رعایت قوانین داخلی ویسگون نیز برای کاربران الزامی است. فهرست تخلفات ویسگون به شرح زیر است:
        <ul>
            <li>ارسال پیاپی یک مطلب (هرزنامه یا اسپم) در قالب پست یا کامنت</li>
            <li>عدم رعایت دسته‌بندی</li>
            <li>توهین و تمسخر کاربران و نقض حریم خصوصی افراد</li>
            <li>استفاده از الفاظ رکیک و زشت</li>
            <li>نژادپرستی، توهین و تمسخر اقوام، مذاهب، عقاید و ملیت‌های مختلف</li>
            <li>توهین به مسئولین، مقامات کشوری و بزرگان دینی و ملی</li>
            <li>ترویج شایعه و خرافات</li>
            <li>انتشار تصاویر دلخراش و منزجرکننده از قبیل کشتار و آزار انسان‌ها، حیوان‌آزاری، کالبدشکافی و...</li>
            <li>استفاده تجاری از ویسگون در قالبی که برای کاربران ایجاد مزاحمت کند</li>
        </ul>
    </li>

    <li>کاربران خوب ویسگون چنانچه تخلفی ببینند ابتدا تذکر می‌دهند و چنانچه نتیجه‌ای نداشت از طریق گزینه‌ی «گزارش تخلف <i class="glyphicon glyphicon-warning-sign"></i>» مدیران سایت را در جریان می‌گذارند. شما هم در اداره ویسگون سهیم باشید و در عین حال مراقب باشید که در این رابطه اغراض شخصی دخیل نشوند. لازم به یادآوری است گزارش تخلف بی‌مورد به منزله ارسال هرزنامه (اسپم) می‌باشد.</li>
    <li>هر زمان متوجه شدید مطلب شما حذف یا پروفایل شما مسدود شده است، قبل از هر اقدامی آن را از طریق ایمیل به مدیریت سایت اعلام نموده و علت را جویا شوید. توجه داشته باشید که در بسیاری از موارد، مشکلات شما با پیگیری، حل و فصل می‌شود، پس برای ساختن پروفایل جدید عجله نکنید.</li>


</ol>



<p>
    <h3>مصاديق محتوای مجرمانه</h3>
</p>

<ul style="padding:0 15px;margin: 5px 0 0 0">
    <li>محتوا علیه عفت و اخلاق عمومی</li> 
    <li>محتوا علیه مقدسات اسلامی</li> 
    <li>محتوا علیه امنیت و آسایش عمومی</li> 
    <li>محتوا علیه مقامات و نهادهای دولتی و عمومی</li> 
    <li>محتوای که برای ارتکاب جرایم رایانه ای به کار می رود (محتوا مرتبط با جرایم رایانه ای)</li> 
    <li>محتوای که تحریک، ترغیب، یا دعوت به ارتکاب جرم می کند (محتوای مرتبط با سایر جرایم)</li> 
    <li>محتوا مجرمانه مربوط به امور سمعی و بصری و مالکیت معنوی</li> 
    <li>محتوای مجرمانه مرتبط با انتخابات ریاست جمهوری</li> 

</ul>

<p><strong>برای مطالعه دقیق‌تر قوانین می توانید به این لینک مراجعه کنید:</strong></p> 
<pre class="dl">http://internet.ir/crime_index.html</pre>
<div class="clear"></div>
