<table cellpadding="0" cellspacing="0" border="0" style="width:700px;color:#fff;direction: rtl;" align="center">
	<tr>
		<td style="height:40px;width:40px;background: #272E38;"></td>
		<td style="height:40px;line-height:20px;background: #272E38;"></td>
		<td style="height:40px;width:40px;"><img src="{{MEDIA_URL}}v2/images/corner.png" alt=""></td>
	</tr>
	<tr style="background: #272E38;">
		<td></td>
		<td align="center">
			<a href="" style="color: #FF6B01;text-decoration: none;" >
				<img src="http://wisgoon.com/media/v2/images/logo.png" alt="wisgoon :: ویسگون">
			</a>
		</td>
		<td></td>
	</tr>

	<tr style="background: #272E38;">
		<td colspan="3">
			<hr style="border-bottom: 1px solid #FF6B01;margin: 20px 0;">
		</td>
	</tr>

	<tr style="background: #272E38;border-bottom: 1px solid #FF6B01;">
		<td colspan="3">