{% extends "dashboard/base.html"%}
{% block content %}
<div class="content-wrapper">
	<section class="content-header">
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> خانه</a></li>
			<li><a href="#">آمار</a></li>
			<li class="active">فعالیت های کاربران</li>
			<div class="clear"></div>
		</ol>
		<h1>
			پست های گزارش شده
		</h1>
		<div class="clear"></div>

	</section>
	<section class="content">
		<div class="row">
			<div class="box box-solid photo">
				<a href=""><span class="fa fa-square-o pull-left"></span></a>
				<a href="">
					<img src="{{ MEDIA_URL }}dashboard/dist/img/photo1.png">
				</a>
				<div class="user">
					<div class="clear"></div>
					<a href=""><img src="{{ MEDIA_URL }}dashboard/dist/img/user8-128x128.jpg"></a>
				</div>
				<div class="report-count">
					<a href=""  data-toggle="modal" data-target="#reporter-modal">
						<h5><span class="fa fa-flag-o"></span>۱۶ گزارش تخلف</h5>
					</a>
				</div>
				<div class="reporters">
					<ul>
						<li>
							<a href="">
								<img src="{{ MEDIA_URL }}dashboard/dist/img/avatar.png">
							</a>
						</li>
						<li>
							<a href="">
								<img src="{{ MEDIA_URL }}dashboard/dist/img/avatar2.png">
							</a>
						</li>
						<li>
							<a href="">
								<img src="{{ MEDIA_URL }}dashboard/dist/img/avatar3.png">
							</a>
						</li>
						<li>
							<a href="">
								<img src="{{ MEDIA_URL }}dashboard/dist/img/avatar04.png">
							</a>
						</li>
						<li>
							<a href="">
								<img src="{{ MEDIA_URL }}dashboard/dist/img/avatar5.png">
							</a>
						</li>
						<li>
							<a href="">
								<img src="{{ MEDIA_URL }}dashboard/dist/img/avatar.png">
							</a>
						</li>
						<li>
							<a href="">
								<img src="{{ MEDIA_URL }}dashboard/dist/img/avatar2.png">
							</a>
						</li>
					</ul>
				</div>
				<div class="score">
					<label><i class="fa fa-star-o"></i>امتیازات :</label> <span>۲۱۴،۲۵۴،۵۴</span>
				</div>
				<div class="dropdown user-info">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						اطلاعات کاربر
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li><a href="#">پست های حذف شده توسط مدیر</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li><a href="#">Separated link</a></li>
					</ul>
				</div>
				<div class="box-tools">
					<button class="undo">
						<i class="fa fa-check"></i>
					</button>
					<button class="delete" >
						<i class="fa fa-times"></i>
					</button>
				</div>
			</div>
			<div class="box box-solid photo">
				<a href=""><span class="fa fa-check-square-o pull-left"></span></a>
				<a href="">
					<img src="{{ MEDIA_URL }}dashboard/dist/img/photo2.png">
				</a>
				<div class="user">
					<div class="clear"></div>
					<a href=""><img src="{{ MEDIA_URL }}dashboard/dist/img/user8-128x128.jpg"></a>
				</div>
				<div class="report-count">
					<a href=""  data-toggle="modal" data-target="#reporter-modal">
						<h5><span class="fa fa-flag-o"></span>۱۶ گزارش تخلف</h5>
					</a>
				</div>
				<div class="reporters">
					<ul>
						<li>
							<a href="">
								<img src="{{ MEDIA_URL }}dashboard/dist/img/avatar.png">
							</a>
						</li>
						<li>
							<a href="">
								<img src="{{ MEDIA_URL }}dashboard/dist/img/avatar2.png">
							</a>
						</li>
						<li>
							<a href="">
								<img src="{{ MEDIA_URL }}dashboard/dist/img/avatar3.png">
							</a>
						</li>
						<li>
							<a href="">
								<img src="{{ MEDIA_URL }}dashboard/dist/img/avatar04.png">
							</a>
						</li>
						<li>
							<a href="">
								<img src="{{ MEDIA_URL }}dashboard/dist/img/avatar5.png">
							</a>
						</li>
						<li>
							<a href="">
								<img src="{{ MEDIA_URL }}dashboard/dist/img/avatar.png">
							</a>
						</li>
						<li>
							<a href="">
								<img src="{{ MEDIA_URL }}dashboard/dist/img/avatar2.png">
							</a>
						</li>
					</ul>
				</div>
				<div class="score">
					<label><i class="fa fa-star-o"></i>امتیازات :</label> <span>۲۱۴،۲۵۴،۵۴</span>
				</div>
				<div class="dropdown user-info">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						اطلاعات کاربر
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li><a href="#">پست های حذف شده توسط مدیر</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li><a href="#">Separated link</a></li>
					</ul>
				</div>
				<div class="box-tools">
					<button class="undo">
						<i class="fa fa-check"></i>
					</button>
					<button class="delete" >
						<i class="fa fa-times"></i>
					</button>
				</div>
			</div>
		</div>
	</section>
</div>
<div class="modal fade" id="reporter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">گزارش دهندگان</h4>
			</div>
			<div class="modal-body">
				<div class="reporters">
					<div class="reporter-item">
						<div class="col-md-2">
							<a href="">
								<img src="{{ MEDIA_URL }}dashboard/dist/img/avatar.png">
							</a>
						</div>
						<div class="col-md-10 user-score">
							<h2>۲۵۴،۴۵۷،۴۵۴،۵۴</h2>
						</div>
						<div class="clear"></div>
					</div>
					<div class="reporter-item">
						<div class="col-md-2">
							<a href="">
								<img src="{{ MEDIA_URL }}dashboard/dist/img/avatar2.png">
							</a>
						</div>
						<div class="col-md-10 user-score">
							<h2>۲۵۴،۳۶۴</h2>
						</div>
						<div class="clear"></div>
					</div>
					<div class="reporter-item">
						<div class="col-md-2">
							<a href="">
								<img src="{{ MEDIA_URL }}dashboard/dist/img/avatar3.png">
							</a>
						</div>
						<div class="col-md-10 user-score">
							<h2>۲۵۴،۴۵۷،۷۸</h2>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}