{% extends "dashboard/base.html"%}
{% block content %}
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> خانه</a></li>
      <li><a href="#">آمار</a></li>
      <li class="active">فعالیت های کاربران</li>
    </ol>
    <h1>
      فعالیت های کاربران
    </h1>
    <div class="clear"></div>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- block -->
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">بلاک ها</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div class="chart">
          <canvas id="lineChart" style="height:250px"></canvas>
        </div>
      </div><!-- /.box-body -->
    </div>

    <!-- followers -->
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">فالورها</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div class="chart">
          <canvas id="lineChart" style="height:250px"></canvas>
        </div>
      </div><!-- /.box-body -->
    </div>

    <!-- likers -->
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">لایک ها</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div class="chart">
          <canvas id="lineChart" style="height:250px"></canvas>
        </div>
      </div><!-- /.box-body -->
    </div>

    <!-- comments-->
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">نظرات</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div class="chart">
          <canvas id="lineChart" style="height:250px"></canvas>
        </div>
      </div><!-- /.box-body -->
    </div>
    <!-- users-->
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">کاربران</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div class="chart">
          <canvas id="lineChart" style="height:250px"></canvas>
        </div>
      </div><!-- /.box-body -->
    </div> 
  </section>
</div>

{% endblock content %}
