
@font-face {
    font-family: 'irfont';
    src: url('../fonts/iran.eot');
    src: url('../fonts/iran.eot?#iefix') format('embedded-opentype'),
         url('../fonts/iran.woff') format('woff'),
         url('../fonts/iran.ttf') format('truetype'),
         url('../fonts/iran.svg#irfont') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'irfont';
    src: url('../fonts/isl.eot');
    src: url('../fonts/isl.eot?#iefix') format('embedded-opentype'),
         url('../fonts/isl.woff') format('woff'),
         url('../fonts/isl.ttf') format('truetype'),
         url('../fonts/isl.svg#irfont') format('svg');
    font-weight: normal;
    font-style: normal;

}