{% comment %}

<!-- clickyab -->
<script type="text/javascript"> 
    var clickyab_ad = clickyab_ad || []; 
    clickyab_ad['id'] = 6801448283017; 
    clickyab_ad['domain'] = 'wisgoon.com'; 
    clickyab_ad['slot'] = 76729575531;
    clickyab_ad['width'] = 728;
    clickyab_ad['height'] = 90;
</script>
<script type="text/javascript" src="http://a.clickyab.com/show.js"></script>
{% endcomment %}

{% comment %}
<script type="text/javascript" src="http://click.sabavision.com/get_camp.php?id=22943,22942,22941,22940,22939,22938"></script>
{% endcomment %}



{% comment %}
   <!-- anetwork -->
<script type="text/javascript">
;!( function( w, d ) {
'use strict';
var ad = { user: "1377550367", width: 728, height: 90, id: 'anetwork-' + ~~( Math.random() * 999999  ) },
h = d.head || d.getElementsByTagName( 'head' )[ 0 ],
s = location.protocol + '//static-cdn.anetwork.ir/aw/aw.js';
if ( typeof w.anetworkParams != 'object' )
w.anetworkParams = {};
d.write( '<div id="' + ad.id + '" style="display: inline-block"></div>' );
w.anetworkParams[ ad.id ] = ad;
d.write( '<script type="text/javascript" src="' + s + '" async></scri' + 'pt>' );
})( this, document );</script>

{% endcomment %}


{% comment %}
<!-- fastclick -->
<iframe src="http://fastclick.co/a.aspx?ZoneID=633&amp;Task=Get&amp;PageID=34545&amp;SiteID=55" width=728 height=90 Marginwidth=0 Marginheight=0 Hspace=0 Vspace=0 Frameborder=0 Scrolling=No>

<script language='javascript1.1' src="http://fastclick.co/a.aspx?ZoneID=633&amp;Task=Get&amp;Browser=NETSCAPE4&amp;NoCache=True&PageID=34545&amp;SiteID=55"></script>

<noscript><a href="http://fastclick.co/a.aspx?ZoneID=633&amp;Task=Click&amp;Mode=HTML&amp;SiteID=55&amp;PageID=34545" target="_blank">

<img src="http://fastclick.co/a.aspx?ZoneID=633&amp;Task=Get&amp;Mode=HTML&amp;SiteID=55&amp;PageID=34545" width="728" height="90" border="0" style="max-width:100%; height:auto;" alt=""></a>

</noscript>

</iframe>
{% endcomment %}



<!-- agahist -->
<script type="text/javascript">
    var agahist_pram = agahist_pram || [];
    agahist_pram["aduser"] = "6";
    agahist_pram["banner"] = "1"; 
    agahist_pram["adheight"] = "90";
    agahist_pram["adwidth"] = "728";
</script> 
<script type="text/javascript" src="http://agahist.com/media/js/pubBanner.js"></script>