{% comment %}
<script type="text/javascript"> 
    var clickyab_ad = clickyab_ad || []; 
    clickyab_ad['id'] = 6801448283017; 
    clickyab_ad['domain'] = 'wisgoon.com'; 
    clickyab_ad['slot'] = 76729575531;
    clickyab_ad['width'] = 728;
    clickyab_ad['height'] = 90;
</script>
<script type="text/javascript" src="http://a.clickyab.com/show.js"></script>
{% endcomment %}

<script type="text/javascript" src="http://click.sabavision.com/get_camp.php?id=22943,22942,22941,22940,22939,22938"></script>