$red            : #FF002A;
$red_dark       : #D80827;
$green          : #3CB100;
$green_dark     : #369B00;
$orange         : #FF6B01;
$orange_dark    : #EA6100;
$blue           : #257399;
$blue_hover     : #236C8E;
$toosi_dark     : #272E38;
$toosi_medium   : #434A54;
$toosi_light    : #9099A5;
$sefid_dark     : #E9E9E9;
$sefid_light    : #E5E5E5;
$border         : #d5d7e4;