{% extends "pin2/flat.base.box.html" %}
{% load thumbnail %}
{% load daddy_avatar %}
{% load pin_tags%}
{% load humanize %}


{% block content%}

<div class="row">
	<div class="col-md-12 blog">
		<div class="row">
			{% if user.is_superuser %}
			<a class="btn btn-primary" href="{% url "blog-admin" %}" style="position:fixed;top:100px;left:10px;">Admin</a>
			{% endif %}
		</div>

		<div class="col-md-12">
			{% for post in posts %}
			{% include "blog/post-view.html" %}
			{% endfor %}
		</div>

		{% comment %}
		<div class="col-md-3 blog-sidebar">
			<div class="tags blog-widget">
				<div class="">
					{% for t in top_tags %}
					<a class="btn btn-default" href="{% url "blog-tag" t %}">{{t}}</a>
					{% endfor %}
				</div>

			</div>
		</div>
		{% endcomment %}
		
	</div>
</div>

{% endblock content%}