{% load thumbnail %}
{% load daddy_avatar %}
{% load pin_tags%}
{% load humanize %}

<div class="blog-post post-box">
	<div class="blog-header">
		<h1 class="blog-title pull-right"><a href="{% url 'blog-view-post' post.id %}">{{post.title}}</a></h1>

		<div class="clear"></div>
		<hr/>
		<div class="pull-left">
			<small>{{post.create_time|naturaltime}}</small>
			<small class="sep"> :: </small>
			<small class="comment-count pull-left">  
				{% if post.comments %}
				{{post.comments|length}}
				{% else %}
				۰
				{% endif %}
				دیدگاه
			</small>
		</div>
	</div>
	<div class="content">
		{{post.abstract|safe|linebreaks|urlizetrunc:30}}
	</div>
	<a href="{% url 'blog-view-post' post.id %}" class="pull-left">  ادامه مطلب <span class="glyphicon glyphicon-circle-arrow-left"></span> </a>
	
	<div class="clear"></div>
	<hr />
	<div class="blog-footer">
		<div class="avatar">
			<a href="{% url "pin-user" post.user %}">
				<img src="{{post.user|get_avatar:54}}" style="display: inline;" > 
			</a>
		</div>
		<div class="username">
			<a href="{% url "pin-user" post.user %}">
				{{post.user|get_userdata_name}}
			</a>
		</div>
	</div>
	<div class="clear"></div>



</div>