{% load pin_tags%}
{% load humanize %}
{% load thumbnail %}
{% load daddy_avatar%}

{% spaceless %}
{% for item in notif %}

<div class="notif-item" >
	{% thumbnail item.po "40x40" crop="center" as im %}
	<div class="notif-img pull-left">
		<a class="pin-item-link" style="float:right" href="{% url "pin-item" item.id%}">
			<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img img-circle">
		</a>
	</div>
	{% endthumbnail %}
	<div class="notif-actors col-md-5 pull-right">
		<div>
			{% for actor in item.actors %}
			<a target="_blank" href="{% url 'pin-user' actor %}" class="user-avatar">
				<img class="nav-avatar" src="{{actor|get_userdata_avatar:50}}">
			</a>
			{% endfor %}
		</div>
	</div>
	<div class="notif-type col-md-3">
		{% if item.type == 1 %}
		<i class="glyphicon glyphicon-heart-empty red"></i> تصویر شما را پسندید
		{% elif item.type == 2 %}
		<i class="glyphicon glyphicon-comment"></i> برای تصویر شما نظر داده است
		{% elif item.type == 3 %}
		<i class="icon-ok"></i>
		{% elif item.type == 4 %}
		<i class="icon-remove"></i>
		{% endif %}
	</div>
	{% if offset %}
	<span data-next="{{offset}}" ></span>
	{%else%}
	<span data-next="{{item.date|date:"U"}}" ></span>
	{%endif%}
	<div class="clear"></div>
</div>
<div class="clear"></div>

{%endfor%}
{% endspaceless %}
