{% load pin_tags %}
{% load humanize %}
{% load daddy_avatar %}
{% if user_items %}
	{% for u in user_items %}
	<div class="col-md-3 col-sm-3 col-xs-6 user-friend user-item">
		<div class="topuser-thumb show-pop-code-delay" data-title='<a href="{% url "pin-absuser" u.username %}">{{u|get_username}}</a>' data-content='<div class="topuser-info"><div class="user-post-count">تعداد مطالب: <span class="count"><strong>{{u.profile.cnt_post|pn}}</strong></span></div><div class="user-score">امتیاز: <span class="count"><strong>{{u.profile.score|pn}}</strong></span></div></div>'>
			<div class="user-avatar">
				<a href="{% url "pin-absuser" u.username %}">
					<img src="{{u.id|get_avatar:165}}" style="width:" />
				</a>
			</div>
			<div class="clear"></div>
			<div class="user-username mato10">
				<a class="f-black" href="{% url 'pin-absuser' u.username %}">
					<center>{{u|get_username|truncatechars:20}}</center>
				</a>
			</div>
		</div>
	</div>
	{%endfor%}
{% else %}
<div>
	موردی یافت نشد
</div>
{% endif %}
