{% load pin_tags %}
{% load daddy_avatar %}

<div id="profile" class="row row-fluid">
	<div id="feed-ul" class="container"style="width:940px;" >
    <table style="width:100%" width="100%">
        <tr>
        {% for u in user_items %}
        <td>
        <div class="feed-item" style="padding:5px">
            <a href="{% url "pin-user" u.id %}">
                
                <img src="{{u.id|get_avatar:192}}" style="float:left; width:192px;height:192px" >
                
            </a>
            <table>
            <tr>
            <td><a href="{% url "pin-user" u.id %}">{{u|get_username}}</a></td>
            </tr><tr>
            <td>تعداد مطالب: {{u.profile.cnt_post}}</td>
            </tr>
            <tr>
            <td>امتیاز: {{u.profile.score}}</td>
            </tr>
            </table>
        </div>
        </td>
        {% if forloop.counter|divisibleby:4 %}
        </tr>
        <tr>
        {% endif %}
        <span data-next="{{offset}}"></span>
        {%endfor%}
        </tr>
    </table>
	</div>
</div>
