{% extends "base/pin.html"%}
{% load daddy_avatar %}
{% load pin_tags%}
{% load thumbnail %}

{% block title%} - دانلود عکس و تصویر {{post.text|striptags|remove_newlines|truncatechars:66}}{% endblock title%}
{%block description%}{{post.text|striptags|remove_newlines|truncatewords:30}}{%endblock%}

{% block opengraph%}
<meta property="og:title" content="{{post.text|striptags|remove_newlines|truncatechars:66}}" />
<meta property="og:description" content="{{post.text|striptags|remove_newlines|truncatewords:30}}" />
<meta property="og:type" content="image/jpeg" />
<meta property="og:url" content="{{ post.get_host_url}}" />
<meta property="og:image" content="{{ post.get_image_absolute_url }}" />
{% endblock opengraph%}

{% block extra_js %}
<script src="{{MEDIA_URL}}js/jquery.masonry.min.js"></script>
{% endblock extra_js %}

{% comment %}

{% block pin-ex-nav %}
<li class="nav-right active">
	<a href="#"><h1 style="display: inline">{{post.text|striptags|remove_newlines|truncatewords:15}}</h1></a>
</li>
{% endblock pin-ex-nav %}
{% endcomment %}

{% block content %}

<script type="text/javascript">
var start_loading=0
</script>

{% include "base/app.html" %}


<div class="container">
    <div class="span3">
        <div class="box">
            <div class="box-title">مشخصات فرستنده</div>
            <div class="box-content">
                <a href="{% url "pin-user" post.user_id %}"><img src="{{post.user_id|get_avatar:188}}" /></a>
            </div>
        </div>
        <div class="box">
            <div class="box-title">تبلیغات</div>
            {% comment %}
            <div class="box-content" style="text-align:center">
                <script type="text/javascript">
                var agahist_pram = agahist_pram || [];
                agahist_pram["aduser"] = "2";
                agahist_pram["adheight"] = "125"; 
                agahist_pram["adwidth"] = "125"; 
                </script> 
                <script type="text/javascript" src="http://agahist.com/media/js/pub.js"></script>
            </div>
            {% endcomment %}
        </div>
        {% if post.cnt_likes %}
        <div class="box">
            <div class="box-title">
                علاقه مندان
            </div>
            <div class="box-content">
                <div class="row-fluid">
                    <div>
        {% for liker in post.likes %}            
            <a href="{% url "pin-user" liker %}">
                <img src="{{liker|get_avatar:50}}" style="display: inline;margin: 2px;" >
            </a>
        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
        {% endif %}

{% comment %}
        {% if post.next %}

{% block nextpost%}<link rel="next" href="{{post.next.get_absolute_url}}">{%endblock%}

        <div class="box">
            <div class="box-title">
                عکس بعدی
            </div>
            <div class="box-content">
                <a href="{{post.next.get_absolute_url}}">
                {% thumbnail post.next.image "192" as img %}
                <img src="{{img.url}}" >
                {% endthumbnail %}
                </a>
            </div>
        </div>
        {% endif %}
        
        {% if post.prev %}

{% block prevpost%}<link rel="prev" href="{{post.prev.get_absolute_url}}">{%endblock%}

        <div class="box">
            <div class="box-title">
                عکس قبلی
            </div>
            <div class="box-content">
                <a href="{{post.prev.get_absolute_url }}">
                {% thumbnail post.prev.image "192" crop="center" as img %}
                <img src="{{img.url}}" >
                {% endthumbnail %}
                </a>
            </div>
        </div>
        {% endif %}
{% endcomment %}
    </div>

	<div class="span9">
	    <div id="feed-ul">
            {% include "pin/item_inner.html" %}
	    </div>
	</div>
	
	
</div>
<script type="text/javascript">
var start_loading = 1;
</script>


{% endblock content %}
