{% load pin_tags %}
{% load thumbnail %}
{% load daddy_avatar %}
<a href="{% url "pin-notif-user" %}">مشاهده همه اعلانات</a>
{% for noti in notif %}
<div class="notif {{noti.type}}" style="height:100px">
    {% if noti.type == 4 %}
        <a href="{% url "pin-item" noti.id %}">
            <img src="{{noti.post_image.url}}" style="float:left;margin-right:5px" />
        </a>
        <div class="post-like-right">
            <i class="icon-remove"></i>
        </div>
        {% for ac in noti.actors|slice:":9" reversed %}
        <a target="_blank" href="{% url "pin-user" ac %}"><img src="{{ac|get_avatar:30}}"></a>
        {% endfor %}
    {% else %}
        {% thumbnail noti.po "100x100" crop="center" as im %}
        <a href="{% url "pin-item" noti.id %}"><img src="{{im.url}}" style="float:left;margin-right:5px" /></a>
        {% endthumbnail%}
        <div class="post-like-right">
        {% if noti.type == 1 %}
            <i class="icon-heart"></i>
        {% elif noti.type == 2 %}
            <i class="icon-comment"></i>
        {% elif noti.type == 3 %}
            <i class="icon-ok"></i>
        {% elif noti.type == 4 %}
            <i class="icon-remove"></i>
        {% endif %}
        </div>
        {% for ac in noti.actors|slice:":9" reversed %}
        <a target="_blank" href="{% url "pin-user" ac %}"><img src="{{ac|get_avatar:30}}"></a>
        {% endfor %}
	{% endif %}
</div>
{% endfor %}

