{% load pin_tags%}
{% load thumbnail %}
{% load daddy_avatar%}
{% for noti in notif %}
<div class="notif" style="height:100px">
        {% thumbnail noti.post.image "100x100" crop="center" as im %}
        <a href="{% url pin-item noti.post.id %}"><img src="{{im.url}}" style="float:left;margin-right:5px" /></a>
        {% endthumbnail%}
        <div class="post-like-right">
        {% if noti.type == 1 %}
            <i class="icon-heart"></i>
        {% else %}
            <i class="icon-comment"></i>
        {% endif %}
        </div>
        {% for actor in noti.actors reversed %}
            {% if forloop.counter < 10 %}
            <a target="_blank" href="{% url pin-user actor.actor.id %}"><img src="{{actor.actor|get_avatar:30}}"></a>
            {% endif %}
        {% endfor%}
	
	
</div>
{% endfor %}
