{% load daddy_avatar%}
{% load humanize %}
{% load pin_tags %}
<div class="ProfileHeader">
<div class="FixedContainer row clearfix" style="">
	<div class="ProfileInfo ProfilePanel ">
    <a href="" class="ProfileImage">
    	<img src="{{cur_user.email|daddy_avatar:165}}" alt="">
	</a>
    <div class="content">
        <span class="profile-name">{{cur_user|get_username}}</span>
<table class="table">
<tr>
       <td><b>امتیاز</b>: {{cur_user.profile.score|intcomma}}</td>
       <td><b>تعداد مطالب</b>: {{cur_user.profile.cnt_post}}</td>
       <td><b>تعداد لایک</b>: {{cur_user.profile.cnt_like}}</td>
</tr>
</table>
        {% if cur_user.profile.trusted and cur_user.profile.trusted_by_id %}
        توسط <a href="{% url pin-user cur_user.profile.trusted_by.id %}"><img src="{{cur_user.profile.trusted_by.email|daddy_avatar:30}}"></a> تایید شده است.
        {%else%}
            {% if request.user.is_superuser %}                             
                <a href="{% url trust_user cur_user.id %}">ﺕﺍییﺩ ﺍیﻥ کﺍﺮﺑﺭ</a><br>
            {% endif %}
        {%endif%}

        <p class="colormuted">{{cur_user.profile.bio}}</p>
        
        {% if cur_user.profile.website != '' %}
        <a href="{{cur_user.profile.website}}">{{cur_user.profile.website}}</a>
        {% endif %}
        <div class="profile-actions">
        	{% if cur_user.id != request.user.id %}
				{% include "pin/following_box.html"%}
			{% else %}
    <a href="{% url user-profile-change%}" role="button" class="btn" data-toggle="modal" data-target="#profileModal">ویرایش مشخصات</a>

			{% endif%}
        </div>
    </div>
</div>
</div>
</div>
