{% extends "pin2/flat.base.html"%}
{% load humanize %}
{% load pin_tags %}
{% load daddy_avatar%}


{% block extra_js %}
<script src="{{MEDIA_URL}}js/jquery.masonry.min.js"></script>
<!-- <script src="{{MEDIA_URL}}js/masonry.pkgd.min.js"></script>-->
{% endblock extra_js %}

{% block title%} - دوستان {{user_id|get_username}}{% endblock title%}

{%block pin-ex-nav%}
<li class="nav-right active">
	<a href="{% url "pin-user" user_id %}"><h1>دوستان {{user_id|get_username}}</h1></a>
</li>
{%endblock pin-ex-nav%}

{% block content %}

<script type="text/javascript">
	var start_loading=0;
	var disable_masonry=1;
</script>

<div class="container">
	<div class="profile row">
		<div class="sidebar col-md-3 col-sm-3 col-xs-12 pull-right">
			{% include "pin2/__user_info_top.html" %}

			{% include "pin2/__user_info_stats.html" %}

		</div>
		<div class="post col-sm-9 col-xs-12 pull-left">
			<div class="mato50"></div>
			<!-- {% include "pin2/__user_info_profile_top.html" %} -->

			{% if user_items %}
			<div id="follower-box" class="col-md-12">
				<div id="follower-box">
					{% include "pin/_user_followers.html"%}
				</div>
			</div>
			{% else %}
			<h3>موردی پیدا نشد</h3>
			{% endif %}
		</div>


	</div>
</div>



{% include "pin/feed_scripts.html" %}
{% include "pin/pin_scripts.html" %}

{% endblock content %}

{% block js %}
<script type="text/javascript">
	$(function () {
		$('body').on('click', '.load-follow', function(event) {
			event.preventDefault();
			var t = $(this);
			t.children('img').css('display', 'inline-block');
			var next_page = $('.user-username a:last').attr('data-next');
			$.ajax({
				url: t.attr('href'),
				type: 'POST',
				data: {'older': next_page}
			})
			.done(function(response) {
				if (response == '0') {
					t.addClass('disabled');
					alert_show('مورد بیشتری پیدا نشد', 'error');
				}else{
					t.remove();
					$('#follower-box').append(response);
				}
			})
			.fail(function() {
				alert_show('خطا. با مدیر تماس بگیرید');
			})
			.always(function() {
				t.children('img').css('display', 'none');
			});
			return false;

		});
	});
</script>
{% endblock js %}