{% extends "base/pin.html"%}

{% block title%}ارتباط با ما{% endblock title%}

{% block content %}

<script type="text/javascript">
var start_loading=0;
</script>

<div class="row row-fluid ">
	<div class="span12 well">
		<h1>ارتباط با ما</h1>
		{% if form_saved == 1 %}
		<div class="alert">
			پیام شما با موفقیت ثبت شد.
		</div>
		{% else %}
		
		<form method="post" class="form-horizontal">
			{%csrf_token%}
			{% for f in form%}
			<div class="control-group">
				<label class="control-label">{{f.label}}:</label>
				<div class="controls">
					{{f}}
					<div class="errors" style="display: inline">
						{{f.errors.0}}
					</div>
				</div>
				
			</div>
			{%endfor%}
			<div class="control-group">
				<label class="control-label"></label>
				<div class="controls">
					<input type="submit" class="btn btn-primary" />
				</div>
			</div>
			
		</form>
		{% endif %}
	</div>
</div>

{% endblock content %}