{% load widget_tweaks %}
{{form.errors}}
<form class="form-horizontal profile_change" method="post" enctype="multipart/form-data" action="{% url "user-profile-change"%}">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">تغییر مشخصات کاربری</h4>
    </div>
    <div class="modal-body ma10">

        {% csrf_token %}
        <div class="avatar_box row">
            <div class="">
                <div class="current_avatar col-sm-6">
                    <h4>آواتار فعلی:</h4>
                    <img class="img img-circle" id="avatar_img" src="{{MEDIA_URL}}{{user.profile.avatar}}" alt="">

                    <div class="hide">
                        <h4>آواتار جدید</h4>
                        <div class="new_avatar"></div>
                        <a href="javascript:;" class="wis_btn save_crop">ذخیره</a>
                    </div>

                </div>
                <div class="avatar_crop col-sm-6">
                    <h4>تغییر آواتار:</h4>
                    <img src="{{MEDIA_URL}}v2/images/upload_img.png" class="upload_img_btn" alt="">
                    <div class="clear"></div>
                    <div class="old_content">
                        <div class="mato20"></div>
                        <input id="avatar-clear_id" type="checkbox" name="avatar-clear">
                        <label for="avatar-clear_id">پاک کردن</label>
                        <input id="id_avatar" type="file" name="avatar">

                        {% comment %}
                        {% render_field form.avatar %}
                        {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>

        <div class="row">
            <div class="col-sm-6 pull-right">
                <label class="control-label" for="">{{form.name.label}}</label>
                <div>
                    <input id="id_name" class="form-control" type="text" name="name" value="{{form.name.value|default_if_none:" "}}" maxlength="250" />
                </div>
            </div>
            <div class="col-sm-6 pull-right">
                <label class="control-label" for="">جنسیت</label>
                <div>
                    {% render_field form.jens class+="form-control" %}
                </div>
            </div>
        </div>
        <div class="clear"></div>

        <div class="row">
            <div class="col-sm-6">
                <label class="control-label" for="">{{form.location.label}}</label>
                <div class="">
                    <input id="id_location" type="text" class="form-control" name="location" value="{{form.location.value|default_if_none:" "}}" maxlength="250" />
                </div>
            </div>
        </div>
        <div class="clear"></div>

        <div class="row">
            <div class="col-sm-12">
                <label class="control-label" for="">{{form.website.label}}</label>
                <div>
                    <input id="id_website" class="form-control ltr" type="text" name="website" value="{{form.website.value|default_if_none:" "}}" maxlength="200" />
                </div>
            </div>
        </div>
        <div class="clear"></div>

        <div class="row">
            <div class="col-sm-12">
                <label class="control-label" for="">{{form.bio.label}}</label>
                <div>
                    <textarea id="id_bio" class="form-control" name="bio">{{form.bio.value|default_if_none:""}}</textarea>
                </div>
            </div>
        </div>
        <div class="clear"></div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">انصراف</button>
        <button type="submit" class="btn btn-primary">بروز رسانی</button>
    </div>
</form>

<!-- Crop Modal -->
<div class="modal fade" id="cropModal" tabindex="-1" role="dialog" aria-labelledby="cropModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close_crop"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="cropModalLabel">برش تصویر</h4>
            </div>
            <div class="modal-body dl">
                <div class="crop_modal_content"></div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="wis_btn save_crop">ذخیره</a>
            </div>
        </div>
    </div>
</div>