
<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Highcharts Example</title>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'line'
            },
            title: {
                text: 'مطالب در مورد اشخاص سیاسی'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: {{dateList|safe}}
            },
            yAxis: {
                title: {
                    text: 'مطالب وارد شده'
                }
            },
            tooltip: {
                enabled: false,
                formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y +'°C';
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: 'مشایی',
                data: {{resCount.0}}
            }, {
                name: 'خامنه ای',
                data: {{resCount.1}}
            }, {
                name: 'احمدی نژاد',
                data: {{resCount.2}}
            }, {
                name: 'حداد عادل',
                data: {{resCount.3}}
            }, {
                name: 'ولایتی',
                data: {{resCount.4}}
            }]
        });
    });
    
});
		</script>
	</head>
	<body>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

	</body>
</html>