hr{
	margin: 5px;
}
.blog-post,
.blog-widget{
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0 2px #e2e4e7;
	margin-bottom: 10px;
	margin-left: 10px;
	padding: 30px 20px;
}
.blog-post .blog-header{
	margin-bottom: 50px;
}
.blog-post .blog-header small{
	color: #aaa;
}
.blog-post .blog-title{
	font-weight: bold;
}
.blog-post .blog-footer .avatar{
	float: right;
}
.blog-post .blog-footer {
	opacity: .5;
}
.blog-post .blog-footer:hover{
	opacity: 1;
}
.blog-post .blog-footer .username{
	float: right;
	padding: 10px;
}
.blog-post .blog-footer img{
	width: 45px;
	height: 45px;
}
.sep{
	margin: 0 10px;
}