
@font-face {
    font-family: 'mj_dinar_two_mediumregular';
    src: url('../fonts/dinar.eot');
    src: url('../fonts/dinar.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dinar.woff') format('woff'),
         url('../fonts/dinar.ttf') format('truetype'),
         url('../fonts/dinar.svg#mj_dinar_two_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*@font-face {
    font-family: 'irfont';
    src: url('../fonts/isl.eot');
    src: url('../fonts/isl.eot?#iefix') format('embedded-opentype'),
         url('../fonts/isl.woff') format('woff'),
         url('../fonts/isl.ttf') format('truetype'),
         url('../fonts/isl.svg#irfont') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
    font-family: 'irfont';
    src: url('../fonts/ism.eot');
    src: url('../fonts/ism.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ism.woff') format('woff'),
         url('../fonts/ism.ttf') format('truetype'),
         url('../fonts/ism.svg#irfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*@font-face {
    font-family: 'irfont';
    src: url('../fonts/isb.eot');
    src: url('../fonts/isb.eot?#iefix') format('embedded-opentype'),
         url('../fonts/isb.woff') format('woff'),
         url('../fonts/isb.ttf') format('truetype'),
         url('../fonts/isb.svg#irfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/