{% extends "pin2/flat.base.box.html"%}

{% block content %}

<div class="panel panel-default">
	<div class="panel-heading">مدیریت آگهی ها
	</div>
	<div class="panel-body">
		<form class="form-inline" method="post">
			{% csrf_token %}
			<div class="form-group">
				<label>post id</label>
				<input class="form-control" type="text" name="post" placeholder="post id">
			</div>
			<div class="form-group">
				<label>ttl</label>
				<select name="ttl" class="form-control">
					<option value="1">1 day</option>
					<option value="2">2 day</option>
					<option value="3">3 day</option>
					<option value="4">4 day</option>
					<option value="5">5 day</option>
					<option value="6">6 day</option>
					<option value="7">7 day</option>
				</select>
			</div>
			<div class="form-group">
				<input class="form-control btn btn-primary" type="submit" value="Save">
			</div>
		</form>
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					
				</tr>
			</thead>
			{% for ad in ads %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td><a href="{% url "pin-item" ad.post%}">{{ad.post}}</a></td>
				<td>{{ad.cnt_view}}</td>
				<td>{{ad.ttl}}</td>
				<td><a href="?delete={{ad.id}}">delete</a></td>
			</tr>
			{% endfor %}

		</table>
	</div>

</div>

{% endblock content %}