{% extends "pin2/flat.base.box.html" %}
{% load i18n %}
{% block content %}

<div class="panel panel-default">
	<div class="panel-heading">{%trans "Change password"%}
	</div>
	<div class="panel-body">
	{% if READ_ONLY %}
		{% trans "Website update in progress" %}
	{% else %}
		<form method="post" action="." class="form-horizontal">
		  {% csrf_token %} 
		  {% include "pin2/forms-horizontal.html" %}

		<div class="form-group">
    		<div class="col-sm-offset-2 col-sm-10">
				<input type="submit" class="btn btn-primary" value='{% trans "Change password" %}' />
			</div>
		</div>
		</form>
	{% endif %}
	</div>

</div>

{% endblock %}

