<div class="content-wrapper">
	<section class="content-header">
		<ol class="breadcrumb">
			<li><a ui-sref="home"><i class="fa fa-dashboard"></i> خانه</a></li>
			<li class="active">گزارشات سیستم</li>
			<div class="clear"></div>
		</ol>
		<h1 class="hidden-xs">
			گزارشات سیستم
		</h1>
		<div class="clear"></div>
	</section>
	<section class="content reported">
		<div class="select">
			<div class="dropdown score">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					نوع نمایش : {[{scoreFilterText}]}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
					<li><a ng-click="filter(0)" href="">همه</a></li>
					<li><a ng-click="filter(0.7)" href="">اولویت بالای ۷۰٪</a></li>
				</ul>
			</div>
				<!--<button class="button hidden-xs" ng-click="select = ! select;">انتخاب دسته ای پست ها</button>
				<span><a href="" ng-show="select" ng-click="batchDelete()"><i class="fa fa-trash"></i></a></span> -->

				<a id="socketStatus" onclick="client.disconnect();" class="refresh" href="">
					عدم ارتباط
				</a>
				<div class="clear"></div>

			</div> 
			<div class="clear"></div>
			<div id="checkP_feed" class="post-items resize" id="feed" load-images="false"  masonry reload-on-resize>
				<div  ng-show='loading'>
					<div id="mySpinner"  class="loader">Loading...</div>
				</div>
				<div ng-if="check_ps.msg.number >= scoreFilter" class="masonry-brick col-md-6" ng-repeat="check_ps in reportsShow track by check_ps.id">
					<div  class="box box-solid" id="br-{[{check_ps.id}]}" postId="{[{check_ps.id}]}">
						<div class="col-md-6 pa0">
							<a class="photo" href="{[{check_ps.permalink.web}]}">
								<img ng-src="{[{check_ps.images.thumbnail.url}]}" height="{[{check_ps.images.thumbnail.height}]}" width="{[{check_ps.images.thumbnail.width}]}">
							</a>
						</div>
						<div class="col-md-6 box-info">
							<div class="head col-md-12 pa0">
							<!-- <a href="">
								<span class="fa  fa-exclamation-triangle"></span>
							</a> -->
							<a class="user" href="{[{check_ps.user.permalink}]}"><img ng-src="{[{check_ps.user.avatar}]}"></a>
							<a class="username" href="{[{check_ps.user.permalink}]}">{[{check_ps.user.username | limitTo: 15}]}</a>
						</div>
						<div class="clear"></div>
						<div ng-hide="!check_ps.user.imei.imei" class="users-imei">
							<button ng-click="imeiList(check_ps.user.imei.imei)" class="list-button dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								لیست حساب ها
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li ng-repeat="imeilListItem in imeilListItems"><a href="{[{imeilListItem.permalink}]}">{[{imeilListItem.username}]}</a></li>
							</ul>
						</div>

						<div class="description" ng-init="limit = 50; moreShown = false">
							<p><label>توضیحات پست‌ :</label>
								{[{check_ps.text | limitTo: limit}]}
								<a ng-show="check_ps.text.length > limit" href ng-click="limit=check_ps.text.length; moreShown = true">...بیشتر
								</a>
							</p>
						</div>
					</div>

					<div class="ban-stats col-md-12">
						<div class="post-number">
							
							{[{check_ps.msg.number*100 | number : 1}]} %
						</div>
						<div class="col-md-4">
							<label>بن پروفایل: </label>
							<span ng-show="check_ps.user.banned_profile" class="fa-ban fa"></span>
							<span ng-show="!check_ps.user.banned_profile" class="fa-check fa"></span>
						</div>
						<div class="col-md-4">
							<label>انسداد imei: </label>
							<span ng-show="check_ps.user.imei.imei == null ">ندارد</span>
							<span ng-show="check_ps.user.imei.imei !== null && check_ps.user.imei.banned_imi" class="fa-ban fa"></span>
							<span ng-show="check_ps.user.imei.imei !== null && !check_ps.user.imei.banned_imi" class="fa-check fa"></span>
						</div>
						<div class="col-md-4">
							<label>فعال بودن کاربر: </label>
							<span ng-show="!check_ps.user.is_active" class="fa-ban fa"></span>
							<span ng-show="check_ps.user.is_active" class="fa-check fa"></span>
						</div>
						<div class="col-md-4">
							<label>پست حذف شده: </label>
							<span>{[{check_ps.user.cnt_admin_deleted}]}</span>
						</div>
						<div class="col-md-4">
							<label>پست ها: </label>
							<span>{[{check_ps.user.cnt_post}]}</span>
						</div>
						<div class="col-md-4">
							<label>اولویت گزارش: </label>
							<span>--</span>
						</div>
						<div class="box-tools">
							<button class="undo" ng-click="undoPost(check_ps.id)">
								<i class="fa fa-check"></i>
							</button>
							<button class="delete"ng-really-message="آیا میخواهید این پست پاک شود؟" ng-really-click="deletePost(check_ps.id)">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</div>
					<div class="clear"></div>
					<div class="modal fade userIinfoModal text-ri" id="userInfo" tabindex="-1" role="dialog" aria-labelledby="userIinfoModalLabel">
						<div class="loading" ng-show='loading'>
							<div id="mySpinner"  class="loader">Loading...</div>
						</div>
						<div class="modal-dialog" role="document" >
							<div class="modal-content">
								<div class="modal-header hidden-md hidden-lg">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								</div>
								<div class="modal-body">
									<div class="reporters-head">
										<div class="col-md-6">اطلاعات گزارش دهندگان</div>
										<div class="col-md-3">تعداد گزارش ها</div>
										<div class="col-md-3">گزارش های موثر</div>
										<div class="clear"></div>
									</div>
									<div class="reporters-info" ng-repeat="report in modalBrickReportrs">
										<div  class="col-md-6">
											<a href="" >
												<img ng-src="{[{report.avatar}]}">
											</a>
											<a href="">
												{[{report.username | limitTo: 15}]}
											</a>
										</div>
										<div class="col-md-3">{[{report.cnt_report}]}</div>
										<div class="col-md-3">{[{report.positive_report}]}</div>
										<div class="clear"></div>	
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<script type="text/javascript">
	var globalMessageFromMQTT = [];
	var clid = 'mqttjs_' + Math.random().toString(16).substr(2, 8);
	client = new Paho.MQTT.Client("79.127.125.98", 10001, clid);

	client.onConnectionLost = onConnectionLost;
	client.onMessageArrived = onMessageArrived;

	client.connect({onSuccess:onConnect});

	function onConnect() {
		$("#socketStatus").text("متصل")
		client.subscribe("wisgoon/check/porn");
	}

	// called when the client loses its connection
	function onConnectionLost(responseObject) {
		setTimeout(function(){
			$("#socketStatus")
			.text("عدم اتصال")
			.bind("click",function(){
				client.disconnect();
				setTimeout(function(){
					client.connect({onSuccess:onConnect});
				},500)
				return false
			})
		},1000)		
		if (responseObject.errorCode !== 0) {
			console.log("onConnectionLost:"+responseObject.errorMessage);
			client.connect({onSuccess:onConnect});
		}
	}

	// called when a message arrives
	function onMessageArrived(message) {
		console.log("onMessageArrived:"+message.payloadString);
		var objs = jQuery.parseJSON( message.payloadString );
		globalMessageFromMQTT.push(objs);
	}

</script>