<div class="content-wrapper">
  <section class="content-header">
    <ol class="breadcrumb">
      <li><a ui-sref="home"><i class="fa fa-dashboard"></i> خانه</a></li>
      <li class="active">جست و جوی کاربر</li>
    </ol>
    <h1 class="hidden-xs">
      جست و جوی کاربر
    </h1>
    <div class="clear"></div>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-xs-12 searchUser">
        <div class="input-group input-group-lg col-md-8">
          <form name="searchForm" class="searchForm">
            <span class="input-group-addon" id="sizing-addon1"><button type="submit" ng-click="showSearchUser()"><i class="ion-ios-search-strong"></i></button></span>
            <input type="text" class="form-control" placeholder="جست و جوی ..." aria-describedby="sizing-addon1" ng-model="query">
          </form>
        </div>
        <div class="loader-button" ng-show='loading'>
          <div id="mySpinner"  class="loader">Loading...</div>
        </div>
        <div style="text-align: center">
          {[{statusSearch}]}
        </div>
        <hr>
        <div class="resultItems">
          <div ng-repeat="resultItem in resultItems" class="col-md-3 col-xs-12" id="{[{resultItem.id}]}">
            <div class="resultItem">
              <div class="avatar col-xs-4 col-md-4 pa0">
                <a href=""><img ng-src="{[{resultItem.avatar}]}"></a>
              </div>
              <div class="col-md-8 col-xs-8 ">
                <h1>{[{resultItem.username | limitTo: 12}]}</h1>
                <div class="user-info">
                  <a ng-click="getInfo(resultItem.id)"  data-toggle="modal" data-target="#userInfo{[{resultItem.id}]}">
                    اطلاعات کاربر
                  </a>
                </div>
              </div>
              <div class="clear"></div>
            </div>
            <div class="modal fade userIinfoModal" id="userInfo{[{resultItem.id}]}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="loading" ng-show='loading'>
                <div id="mySpinner"  class="loader">Loading...</div>
              </div>
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header hidden-md hidden-lg">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">
                    <div class="userIinfo">
                      <div class="col-md-8 col-xs-12 otherInfo">
                        <h2>اطلاعات کاربر</h2>
                        <hr>
                        <div class="">
                          <ul>
                            <li class="postInfo">
                              <label>تعداد پست ها:</label>
                              <span>
                              {[{searchInfo.cnt_post}]}
                              </span>
                            </li>
                            <li class="postInfo">
                              <label>تعداد پست های حذف شده توسط ادمین:</label>
                              <span>
                              {[{searchInfo.cnt_admin_deleted}]}
                              </span>
                            </li>
                            <li>
                              <label>وضعیت کاربر :</label>
                              <span >
                                <i class="fa-check fa" ng-show="searchInfo.profile.user_active"> فعال </i>
                                <i class="fa-ban fa" ng-show="!searchInfo.profile.user_active"> غیر فعال </i>
                              </span>
                              <div class="banDesc">
                                <span class="side-up hidden-xs"></span>
                                <form novalidate ng-submit="activeUser()" >
                                 <div class="col-xs-2 col-md-1 pa0">
                                  <input type="checkbox" name="activeStatus" id="activeStatus" ng-model="formData.activeStatus" ng-checked="!formData.activeStatus">
                                </div>
                                <div class="col-xs-9 col-md-9 pa0">
                                  <input type="text" name="description1" ng-model="formData.description1" placeholder="علت بن شدن کاربر...">

                                  <input type="hidden" name="activeId" ng-model="formData.activeId" ng-value="formData.activeId='{[{resultItem.id}]}'">

                                </div>
                                <div class="col-md-2 pa0">
                                 <button type="submit" ng-click="submitted=true">ثبت</button>
                               </div>
                             </form>
                             <div class="clear"></div>
                             <span class="side-down hidden-xs"></span>
                           </div>
                         </li>
                         <li>
                          <label>وضعیت پروفایل کاربر:</label>
                          <span>
                            <i class="fa-check fa" ng-show="!searchInfo.profile.userBanne_profile"> فعال </i>
                            <i class="fa-ban fa" ng-show="searchInfo.profile.userBanne_profile"> غیر فعال </i>
                          </span>
                          <div class="banDesc">
                            <span class="side-up hidden-xs"></span>
                            <form novalidate ng-submit="banProfile()" >
                             <div class="col-xs-1 col-md-1 pa0">
                              <input type="checkbox" name="profileBanstatus" id="profileBanstatus" ng-model="formData.profileBanstatus" ng-checked="formData.profileBanstatus">
                            </div>
                            <div class="col-xs-9 col-md-9 pa0">
                              <input type="text" name="description2" ng-model="formData.description2" placeholder="علت غیر فعال شدن پروفایل کاربر...">

                              <input type="hidden" name="profileBanId" ng-model="formData.profileBanId" ng-value="formData.profileBanId='{[{resultItem.id}]}'">

                            </div>
                            <div class="col-md-2 pa0">
                             <button type="submit" ng-click="submitted=true">ثبت</button>
                           </div>
                         </form>
                         <div class="clear"></div>
                         <span class="side-down hidden-xs"></span>
                       </div>
                     </li>
                     <li>
                      <label>وضعیت imei :</label>
                      <span ng-hide="searchInfo.profile.imei == ''">
                        <i class="fa-check fa" ng-show="!searchInfo.profile.imei_status"> فعال </i>
                        <i class="fa-ban fa" ng-show="searchInfo.profile.imei_status"> غیر فعال </i>
                      </span>
                      <span class="banImeiText" ng-show="searchInfo.profile.imei == ''">
                        این کاربر imei  ندارد.
                      </span>
                      <div class="banDesc" ng-show="searchInfo.profile.imei != ''">
                        <span class="side-up hidden-xs"></span>
                        <form novalidate ng-submit="banImei()" >
                         <div class="col-xs-1 col-md-1 pa0">
                           <input type="checkbox" name="status" id="status" ng-model="formData.status" ng-checked="formData.status">
                         </div>
                         <div class="col-xs-9 col-md-9 pa0">
                          <input type="text" name="description3" ng-model="formData.description3" placeholder="علت غیر فعال شدن پروفایل کاربر...">

                          <input ng-value="formData.imei='{[{searchInfo.profile.imei}]}'" type="hidden" ng-model="formData.imei" />
                        </div>
                        <div class="col-md-2 pa0">
                         <button type="submit" ng-click="submitted=true">ثبت</button>
                       </div>
                     </form>
                     <div class="clear"></div>
                     <span class="side-down hidden-xs"></span>
                   </div>
                 </li>
                 <li ng-hide="searchInfo.profile.imei == ''">
                  <label>لیست حساب ها بر اساس imei :</label>
                  <span>
                    <div class="dropdown">
                      <button ng-click="imeiList(searchInfo.profile.imei)" class="btn btn-default dropdown-toggle" type="button" id="userImeis" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        لیست حساب های کاربری
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="userImeis">
                        <li ng-repeat="imeilListItem in imeilListItems"><a href="{[{imeilListItem.permalink}]}">{[{imeilListItem.username}]}</a></li>
                      </ul>
                    </div>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 hidden-xs rightInfo">
            <div class="user_avatar">
              <a href="">
                <img ng-src="{[{resultItem.avatar}]}">
              </a>
              <div ng-controller="deleteAvatarController" class="delavatar">
                <a href="" ng-click="delAvatar(resultItem.id)">حذف آواتار کاربر</a>
              </div>
            </div>
            <h1><a href="">{[{resultItem.username}]}</a></h1>
            <div class="sex">
              <label>جنسیت :</label>
              <span ng-show="searchInfo.profile.jens == 'M'">مرد</span>
              <span ng-show="searchInfo.profile.jens != 'M'">زن</span>
            </div>
            <div class="score">
              <label>امتیاز :</label>
              <span>{[{searchInfo.profile.score}]}</span>
            </div>
            <div class="wis">
              <label>اعتبار ویس :</label>
              <span>{[{searchInfo.profile.credit}]}</span>
            </div>
            <div class="joinDate">
              <label>تاریخ عضویت :</label>
              <span>{[{searchInfo.profile.date_joined}]}</span>
            </div>
            <div class="email">
              <label>ایمیل :</label>
              <span>{[{searchInfo.profile.email}]}</span>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</section>
</div>