{% load daddy_avatar %}
{% load pin_tags %}
<!DOCTYPE html>
<html lang="fa">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>wisgoon shop</title>

	<link rel="stylesheet" type="text/css" href="/media/shop/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/media/shop/css/bootstrap-rtl.min.css">
	<link rel="stylesheet" type="text/css" href="/media/shop/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/media/shop/css/font-awesome-animation.min.css">
	<link rel="stylesheet" type="text/css" href="/media/shop/css/fonts.css">
	<link rel="stylesheet" type="text/css" href="/media/shop/css/style.css?ver=0.0.2">

</head>
<body>
	<div>
		<nav class="nav">
			<div class="navbar navbar-default">
				<div class="container">
					<div class="col-md-2 col-xs-6 col-sm-2 logo">
						<a href="{% url "shop-home" %}">
							<img src="/media/shop/images/logo.png">
						</a>
					</div>
					<div class="col-md-8 col-sm-7 hidden-xs" ></div>
					<div class="col-md-2 user col-xs-6 col-sm-3">
						<div class="nav_user_avatar">
							<a aria-expanded="true" data-toggle="dropdown" href="javascript:;">
								<img class="nav-avatar" src="{{request.user|get_avatar:41}}">
							</a>
							<ul class="dropdown-menu setting-dropdown hidden-xs" role="menu" aria-labelledby="dropdownMenuDivider" style="right: 80px;">
								<li role="presentation" class="setting-border-bottom">
									<a href="{% url "pin-home" %}">بازگشت به ویسگون</a>
								</li>
							</ul>
						</div>

						<a class="cart_btn" href="{% url "shop-cart" %}"><span>سبد خرید</span></a>
					</div>
				</div>
			</div>
		</nav>
		<div class="main">
			<div class="container">
				{% block content %} {% endblock content%}
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<footer>
		<div class="footer">
			<div class="container">
				<div class="col-md-4">
					ایمیل پشتیبانی:
					<a href="">info@wisgoon.com</a>
				</div>
				<div class="col-md-4">

				</div>
				<div class="col-md-4">
					طراحی و توسعه توسط  <a href="">گروه نرم افزاری رخ</a>
				</div>
			</div>	
		</div>
	</footer>
	<script type="text/javascript" src="/media/shop/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/media/shop/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/media/shop/js/masonry.min.js"></script>
	{% block footer-script %}
	{% endblock%}
</body>
</html>