{% extends "shop/base.html" %}
{% block content %}
<div id="feed" class="content grid">

	{% for product in products %}

		{% if product.images.first %}

			{% if product.mode == 1 %}
				{% include "shop/product/_product_normal.html" %}
			{% elif product.mode == 2 %}
				{% include "shop/product/_product_x2.html" %}
			{% elif product.mode == 3 %}
				{% include "shop/product/_product_h2.html" %}
			{% elif product.mode == 4 %}
				{% include "shop/product/_product_x2h2.html" %}
			{% endif %}

		{% else %}

			{% if product.mode == 1 %}
				{% include "shop/product/_text_normal.html" %}
			{% elif product.mode == 2 %}
				{% include "shop/product/_text_x2.html" %}
			{% elif product.mode == 3 %}
				{% include "shop/product/_text_h2.html" %}
			{% elif product.mode == 4 %}
				{% include "shop/product/_text_x2h2.html" %}
			{% endif %}

		{% endif %}

	{% endfor %}

</div>
{% endblock content %}

{% block footer-script %}
<script type="text/javascript">
	$(document).ready( function() {

		$('.grid').masonry({
			itemSelector: '.grid-item',
			columnWidth: 285,
			percentPosition: true,

		});

	});		
</script>
{% endblock%}