<!DOCTYPE html>
<html lang="fa">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>wisgoon shop</title>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-rtl.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome-animation.min.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
	<div>
		<nav class="nav">
			<div class="navbar navbar-default">
				<div class="container">
					<div class="col-md-2 col-xs-6 col-sm-2 logo">
						<a href="">
							<img src="images/logo.png">
						</a>
					</div>
					<div class="col-md-8 col-sm-7 hidden-xs" ></div>
					<div class="col-md-2 user col-xs-6 col-sm-3">
						<img src="images/avatar.jpg">
						<a href=""><span>پیگیری سفارش</span></a>
					</div>
				</div>
			</div>
		</nav>
		<div class="main">
			<div class="container">
				<div class="col-md-2"></div>
				<div class="col-md-8 payment-box">
					<p>
						کاربر گرامی ،<br/>
						<span>سعید نقدی</span>
						محصول خریداری شده شما با شماره پیگیری <i>۵۴۷۸۵۲</i>
						به آدرس <i>تهران- خیابان انقلاب- کوچه گرامی- پلاک ۴- طبقه ۲</i>
						برای شما ثبت گردید. در اسرع وقت برای شما ارسال خواهد شد.
						<br/>
						<br/>
						باتشکر از اعتماد و حسن سلیقه شما
					</p>
					<div class="back">
						<a href="">
							بازگشت
							<i class="fa fa-level-down"></i>
						</a>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
			<div class="clear"></div>
			<footer>
				<div class="footer">
					<div class="container">
						<div class="col-md-4">
							ایمیل پشتیبانی:
							<a href="">info@wisgoon.com</a>
						</div>
						<div class="col-md-4">

						</div>
						<div class="col-md-4">
							طراحی و توسعه توسط  <a href="">گروه نرم افزاری رخ</a>
						</div>
					</div>	
				</div>
			</footer>
		</div>
		<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/masonry.min.js"></script>

	</body>
	</html>