{% extends "shop/base.html" %}
{% load thumbnail %}

{% block header-css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_CDN}}v2/css/owl.carousel.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_CDN}}v2/css/owl.theme.css" />
{% endblock header-css %}

{% block content %}
<div class="main">
	<div class="container">
		<div class="product">
			<div class="col-md-5 col-xs-12 product-info">
				<h1>{{product.title}}</h1>
				<h3 class="price"> {{product.price}} تومان </h3>
				{% if user.is_superuser %}
				<a href="/admin/shop/product/{{product.id}}" class="btn btn-success btn-xs">ویرایش</a>
				{% endif %}
				<hr/>
				<div class="add-card">
					<form method="post" action="{% url "shop-cart-add-product" %}">
						{% csrf_token%}
						<input type="number" name="quantity" value="1">
						<input type="hidden" name="product_id" value="{{product.id}}">
						<button class="shop_btn" type="submit">افزودن به سبد خرید</button>
					</form>
				</div>
				<hr/>
				<div class="product-desc">
					{{product.description}}
				</div>
			</div>
			<div class="col-md-5 col-xs-12 product-img ">
				<div id="pslider" class="owl-carousel">
					{% for i in product.images.all %}
					{% thumbnail i.image "450x450" as img %}
					<div class="item"><img src="{{img.url}}" alt="{{product.title}}"></div>
					{% endthumbnail %}
					{% endfor %}
				</div>
			</div>

			<div class="clear"></div>
		</div>
	</div>
	
</div>
{% endblock content %}

{% block footer-script %}
<script type="text/javascript" src="{{STATIC_CDN}}v2/js/owl.carousel.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {

	$("#pslider").owlCarousel({
		navigation : true, 
		slideSpeed : 300,
		paginationSpeed : 400,
		singleItem:true,
		navigationText: ['قبلی', 'بعدی']
	});

});
</script>
{% endblock%}