<!-- saba300 -->
<div class="mato10 mabo10 tab_300 tabliq" style="border-radius:8px;overflow:hidden;height:250px;">
	<script type="text/javascript">
var clickyab_ad = clickyab_ad || [];
clickyab_ad['id'] = 6801448283017;
clickyab_ad['domain'] = 'wisgoon.com';
clickyab_ad['slot'] = 73211639014;
clickyab_ad['width'] = 300;
clickyab_ad['height'] = 250;
</script>
<script type="text/javascript" src="http://a.clickyab.com/show.js"></script>
	{% comment %}
    <script type="text/javascript" src="http://click.sabavision.com/get_camp.php?id=27480,27479,27478,27477,27476,27475&banner_position=left-top"></script>
	{% endcomment %}
</div>

{% comment %}
<div class="mabo10" style="border-radius:8px;overflow:hidden;height:100px;">
    <script type="text/javascript" src="http://click.sabavision.com/get_camp.php?id=27486,27485,27484,27483,27482,27481&banner_position=left-top"></script>  
</div>

{% endcomment %}
