<div class="box tabliq">
<div class="box" style="text-align: center; padding-top: 6px;">
	<script type="text/javascript">adnegah.fix(468, 60, "c");</script>

</div>

{% comment %}
    <script type="text/javascript"> (function(d) { var id = 'click_sabavision_' + ~~(Math.random() * 999999), url = location.protocol + '//click.sabavision.com/get_camp.php?id=69345,69344,69343,69342&appended_id='+id; d.write('<div id="' + id + '"></div>'); d.write('<script type="text/javascript" src="' + url + '" async></scri' + 'pt>'); })(document);</script>


<script type="text/javascript">
    var clickyab_ad = clickyab_ad || [];
    clickyab_ad['id'] = 6801448283017;
    clickyab_ad['domain'] = 'wisgoon.com';
    clickyab_ad['slot'] = 83069383100;
    clickyab_ad['width'] = 468;
    clickyab_ad['height'] = 60;
</script>
<script type="text/javascript" src="http://a.clickyab.com/show.js"></script>
{% endcomment %}



</div>

