{% load rss_tags%}
{% load humanize %}
{% load thumbnail %}
{% load daddy_avatar%}

{% spaceless %}
{% for item in latest_items %}

	<div class="feed-item" >
		{% thumbnail item.image "192" as im %}
		<div class="img-block" style="height: {{im.height}}px; width: {{im.width}}px">
			<a href="{% url pin-item item.id%}">
			<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{item.text}}">
			</a>
		</div>
		{% endthumbnail %}
		<p>{{item.text}}</p>
		
		<div style="height: 30px">
		<img src="{{item.user.email|daddy_avatar:25}}" style="display: inline;margin-left: 5px" > 
		<a href="{% url pin-user item.user.id %}">
			<b>{{item.user.username}}</b>
		</a>
		</div>
		{% if offset %}
		<span data-next="{{offset}}" ></span>
		{%else%}
		<span data-next="{{item.timestamp}}" ></span>
		{%endif%}
		

	</div>
{%endfor%}
{% endspaceless %}
