{% load rss_tags%}
{% load humanize %}
{% load thumbnail %}

{% spaceless %}
{% for item in latest_items %}

	<div class="feed-item" >
		{% thumbnail item.image "192" as im %}
		<div class="img-block" style="height: {{im.height}}px; width: {{im.width}}px">
			<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{item.title}}">
		</div>
		{% endthumbnail %}
		<p>{{item.text}}</p>
		
		{% if offset %}
		<span data-next="{{offset}}" ></span>
		{%else%}
		<span data-next="{{item.timestamp}}" ></span>
		{%endif%}
		

	</div>
{%endfor%}
{% endspaceless %}
