{% extends "base/pin.html"%}

{% load rss_tags%}

{% block title%} - {{item_inner.text|striptags|remove_newlines|truncatechars:66}}{% endblock title%}
{%block description%}{{item_inner.text|striptags|remove_newlines|truncatewords:30}}{%endblock%}

{% block extra_js %}
<script src="{{MEDIA_URL}}js/jquery.masonry.min.js"></script>
{% endblock extra_js %}

{% block pin-ex-nav %}
<li class="nav-right active">
	<a href="#"><h1 style="display: inline">{{item_inner.text|striptags|remove_newlines|truncatewords:15}}</h1></a>
</li>
{% endblock pin-ex-nav %}

{% block content %}

<script type="text/javascript">
var start_loading=0
</script>

<div class="row row-fluid">
	<div class="span12">
	
	<div id="feed-ul">
		{% with display_item=1%}
		{% include "pin/_items.html"%}
		{% endwith%}
	</div>
	</div>
	
	
</div>
<script type="text/javascript">
var start_loading = 1;
</script>
{% include "rss/feed_scripts.html" %}

{% endblock content %}