{% extends 'base/pin.html'%}

{% block content%}
<form method="post" class="form-horizontal" >

	<div class="control-group ">
            
        <label class="control-label">Title</label>
		<div class="controls">
			<input id="id_title" type="text" name="title" maxlength="250" />
		<span class="help-inline"></span>
		</div>
    </div>

	<div class="control-group ">
            
        <label class="control-label">Text</label>
		<div class="controls">
			<textarea id="id_text" rows="10" cols="40" name="text"></textarea>
		<span class="help-inline"></span>
		</div>
    </div>

	<div class="control-group">
            
        <label class="control-label">Image</label>
		<div class="controls">
			<div id="file-uploader">       
			    <noscript>          
			        <p>Please enable JavaScript to use file uploader.</p>
			        <!-- or put a simple form for upload here -->
			    </noscript>         
			</div>
		</div>
    </div>


<div class="form-actions">
	<input type="submit" class="btn btn-primary" value="ذخیره" />
</div>
</form>

<script src="{{MEDIA_URL}}js/fileuploader.js" type="text/javascript"></script>
    <script>
        function createUploader(){            
            var uploader = new qq.FileUploader({
                element: document.getElementById('file-uploader'),
                action: '{% url pin-upload%}',
                debug: true,
                multiple: false,
            });           
        }
        
        // in your app create uploader as soon as the DOM is ready
        // don't wait for the window to load  
        window.onload = createUploader;     
    </script>    


{% endblock content%}