{% extends "base/pin.html"%}
{% load rss_tags %}
{%load cache %}

{% block extra_js %}
<script src="{{MEDIA_URL}}js/jquery.masonry.min.js"></script>
{% endblock extra_js %}

{%block pin-ex-nav%}
<li class="nav-right active">
	<a href="{%url pin-user latest_items.0.user_id %}"><h1>ارسال شده های کاربر {{latest_items.0.user.username}}</h1></a>
</li>
{%endblock pin-ex-nav%}

{%block title%} - کاربر {{latest_items.0.user.username}} {%endblock title%}

{% block content %}

<script type="text/javascript">
var start_loading=0;
</script>

<div class="row row-fluid">
	<div class="span12">
		<div id="feed-ul">
			{% if latest_items.0.user_id != request.user.id %}
				{% include "pin/following_box.html"%}
			{% endif%}
			
			{% include "pin/_items.html"%}
		</div>
	</div>
</div>

{% include "rss/feed_scripts.html" %}

{% endblock content %}