<div class="content-wrapper">
	<section class="content-header">
		<ol class="breadcrumb">
			<li><a ui-sref="home"><i class="fa fa-dashboard"></i> خانه</a></li>
			<li class="active">آگهی ها</li>
		</ol>
		<h1>
			آگهی ها
		</h1>
		<div class="clear"></div>
	</section>

	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-info">
					<div class="loading" ng-show='loading'>
						<div id="mySpinner"  class="loader">Loading...</div>
					</div>
					<div class="box-header with-border">
						<h3 class="box-title hidden-xs">آگهی ها</h3>
						<div class="box-tools pull-right">
							<label>از تاریخ :</label>
							<input id="ads_start" type="text"/>
							<input id="ads_start_value" type="hidden"/>
							<label>تا تاریخ :</label>
							<input id="ads_end" type="text"/>
							<input id="ads_end_value" type="hidden"/>
							<a href="" ng-click="refresh_ads()"><i class="fa fa-refresh"></i></a>
							<button class="btn btn-box-tool hidden-xs" data-widget="collapse"><i class="fa fa-minus"></i></button>
							<button class="btn btn-box-tool hidden-xs" data-widget="remove"><i class="fa fa-times"></i></button>
						</div>
					</div>
					<div class="box-body">
						<div class="chart">
							<highchart class="chart-ltr" config="highchartsNG"></highchart>
						</div>
					</div><!-- /.box-body -->
				</div>

				<div class="">
					<div class="col-md-6" ng-repeat="showPost in showPosts">
						<div class="ads-item">
							<div class="col-md-6 ad-info pa0">
								<ul>
									<li><label>شناسه پست:</label><span>{[{showPost.post.id}]}</span></li>
									<li><label>زمان شروع پروموت:</label><span>{[{showPost.start}]}</span></li>
									<li><label>زمان پایان پروموت:</label><span>{[{showPost.ended}]}</span></li>
									<li><label>ارسال کننده پست:</label><span>{[{showPost.user.username}]}</span></li>
									<li><label>شناسه پروموت کننده:</label><span>{[{showPost.user.id}]}</span></li>
									<li><label>نوع پروموت:</label><span>{[{showPost.ads_type}]}</span></li>

								</ul>
							</div>
							<div class="col-md-6 ad-photo pa0">
								<a href="{[{showPost.post.permalink.web}]}">
									<img ng-src="{[{showPost.post.images.original.url}]}">
								</a>
								<span class="post-view"><li class="fa fa-eye"></li> {[{showPost.cnt_view}]}</span>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<script type="text/javascript">
					$(document).ready(function () {
						
						var d = new Date();
						var end_time = d.getTime();
						var start_time = end_time-604800000;
						$('#ads_start').pDatepicker({
							timePicker: {
								enabled: true
							},
							altField: '#ads_start_value',
							format: 'YYYY-MM-DD'
						});
						$("#ads_start").pDatepicker("setDate", start_time);
						
						$('#ads_end').pDatepicker({
							altField: '#ads_end_value',
							format: 'YYYY-MM-DD'
						});
					});
				</script>
			</section>
		</div>
