<div class="content-wrapper">
  <section class="content-header">
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> خانه</a></li>
      <li class="active">لاگ های برنامه</li>
    </ol>
    <h1>
      لاگ های برنامه
    </h1>
    <div class="clear"></div>
  </section>
  <section class="content" ng-controller="logsCtrl">
    <div class="row">
      <div class="col-xs-12 logs">
        <div class="select">
          <form name="searchForm" ng-submit="showSearchPost()" ng-controller="searchController">
            <input type="text" placeholder="جست و جو ..." ng-model="query"><button type="submit"><i class="fa fa-search"></i></button>
          </form>
          <span class="pagination-table pull-left">
            <a href="" ng-click=""><i class="fa fa-angle-right"></i></a>
            <a href=""><i class="fa fa-angle-left"></i></a>
            ۱۰ پست از ۵۰۰
          </span>
        </div>
        <div class="filter">
          <div class="box">
           <div class="box-header with-border">
            <h3 class="box-title">
              <a href="" data-widget="collapse"><i class="fa fa-bars"></i> فیلترها </a>
            </h3>
          </div>
          <div class="box-body">
            <form>
              <div class="col-md-3">
                <div class="title">
                  <h6> بر اساس actions </h6>
                </div>
                <div >
                  <div class="">
                    <ul>
                      <li><label><input type="radio" name="filter-item">همه</label></li>
                      <li><label><input type="radio" name="filter-item">delete</label></li>
                      <li><label><input type="radio" name="filter-item">pending</label></li>
                      <li><label><input type="radio" name="filter-item">bad comment</label></li>
                      <li><label><input type="radio" name="filter-item">bad post</label></li>
                      <li><label><input type="radio" name="filter-item">ban imei</label></li>
                      <li><label><input type="radio" name="filter-item">ban by admin </label></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="title">
                 <h6>بر اساس content type</h6>
               </div>
               <div>
                <div class="">
                  <ul>
                    <li><label><input type="radio" name="filter-item">همه</label></li>
                    <li><label><input type="radio" name="filter-item">post</label></li>
                    <li><label><input type="radio" name="filter-item">comment</label></li>
                    <li><label><input type="radio" name="filter-item">user</label></li>
                    <li><label><input type="radio" name="filter-item">comment test</label></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
          </form>
        </div>
      </div>
    </div>
    <div class="box">
     <div class="box-header with-border">
      <h3 class="box-title">
        لاگ ها
      </h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <div class="box-body">
      <table id="example2" class="table table-bordered ">
        <thead>
          <tr>
            <th><input type="checkbox" id="action-toggle" ></th>
            <th>ID</th>
            <th>User</th>
            <th>Owner</th>
            <th>user id</th>
            <th>action</th>
            <th>object id</th>
            <th>content type</th>
            <th>get thumbnail</th>
            <th>creat time</th>
            <th>ip address</th>
            <th>text</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="log in logsItem.logs">
            <td><input type="checkbox" id="action-toggle" ></td>
            <td>{[{log.id}]}</td>
            <td>{[{log.user.username}]}</td>
            <td>{[{log.owner.id}]}</td>
            <td> {[{log.user.id}]}</td>
            <td>{[{log.action}]}</td>
            <td>{[{log.object_id}]}</td>
            <td>{[{log.content_type}]}</td>
            <td><img ng-src="{[{log.post_image}]}"></td>
            <td>{[{log.create_time}]}</td>
            <td>{[{log.ip_address}]}</td>
            <td style="width: 150px;">{[{log.text}]}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</section>
</div>
