<div class="content-wrapper">
	<section class="content-header">
		<ol class="breadcrumb">
			<li><a ui-sref="home"><i class="fa fa-dashboard"></i> خانه</a></li>
			<li class="active">پست های گزارش شده</li>
			<div class="clear"></div>
		</ol>
		<h1 class="hidden-xs">
			پست های گزارش شده
		</h1>
		<div class="clear"></div>
	</section>
	<section class="content reported">
		<div class="select">
			<button class="button hidden-xs" ng-click="select = ! select;">انتخاب دسته ای پست ها</button>
			<span><a href="" ng-show="select" ng-click="batchDelete()"><i class="fa fa-trash"></i></a></span>
			<span>
				<small class="label pull-left bg-green">{[{bricks.meta.total_count}]}</small>
			</span>
			<a ng-hide='loading' class="refresh" ng-click="reported()" href="">
				<span class="fa fa-refresh"></span>
			</a>
			<a ng-show='loading' class="refresh-spinner" href="">
				<span class="fa fa-refresh fa-spin"></span>
			</a>
			<div class="clear"></div>
			
		</div>

		<div class="clear"></div>
		<div class="post-items resize" id="feed" load-images="false"  masonry reload-on-resize style="width:1070px;">
			<div  ng-show='loading'>
				<div id="mySpinner"  class="loader">Loading...</div>
			</div>
			<div class="masonry-brick col-md-6" ng-repeat="brick in bricks.objects">
				<div class="box box-solid" id="br-{[{brick.id}]}" postId="{[{brick.id}]}">
					<div class="col-md-6 pa0">
						<a href="" ng-show="select" ng-click="selectItem(brick.id)">
							<span ng-class="class" class="fa fa-square-o pull-left"></span>
						</a>
						<a class="photo" href="{[{brick.permalink.web}]}">
							<img ng-src="{[{brick.images.thumbnail.url}]}" height="{[{brick.images.thumbnail.height}]}" width="{[{brick.images.thumbnail.width}]}">
						</a>
					</div>
					<div class="col-md-6 box-info">
						<div class="head col-md-12 pa0">
							<a href="">
								<span class="fa  fa-exclamation-triangle"></span>
							</a>
							<a class="user" href="{[{brick.user.permalink}]}"><img ng-src="{[{brick.user.avatar}]}"></a>
							<a class="username" href="{[{brick.user.permalink}]}">{[{brick.user.username | limitTo: 15}]}</a>
						</div>
						<div class="clear"></div>

						<div class="reporters " >
							<a ng-repeat="reporter in brick.reporters" href=""><img ng-src="{[{reporter.avatar}]}" title="user avatar">
							</a>
							<a ng-click="showReportersModal(brick.reporters)" class="more" href="">+ 5</a>
						</div>
						<div class="users-imei">
							<button class="list-button dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								لیست حساب ها
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><a href="#">ali</a></li>
							</ul>
						</div>
						<div class="description" ng-init="limit = 50; moreShown = false">
							<p><label>توضیحات پست‌ :</label>
								{[{brick.text | limitTo: limit}]}
								<a ng-show="brick.text.length > limit" href ng-click="limit=brick.text.length; moreShown = true">...بیشتر
								</a>
							</p>
						</div>
					</div>

					<div class="ban-stats col-md-12">
						<div class="col-md-4">
							<label>بن پروفایل : </label>
							<span ng-show="brick.user.banned_profile" class="fa-ban fa"></span>
							<span ng-show="!brick.user.banned_profile" class="fa-check fa"></span>
						</div>
						<div class="col-md-4">
							<label>انسداد imei :P</label>
							<span ng-show="brick.user.imei == null ">ندارد</span>
							<span ng-show="brick.user.imei !== null && brick.user.banned_imi" class="fa-ban fa"></span>
							<span ng-show="brick.user.imei !== null && !brick.user.banned_imi" class="fa-check fa"></span>
						</div>
						<div class="col-md-4">
							<label>فعال بودن کاربر : </label>
							<span ng-show="brick.user.is_active" class="fa-ban fa"></span>
							<span ng-show="!brick.user.is_active" class="fa-check fa"></span>
						</div>
						<div class="col-md-4">
							<label>پست حذف شده:</label>
							<span>{[{brick.user.cnt_admin_deleted}]}</span>
						</div>
						<div class="col-md-4">
							<label>پست ها :</label>
							<span>{[{brick.user.cnt_post}]}</span>
						</div>
						<div class="col-md-4">
							<label>اولویت گزارش:</label>
							<span>۳۰</span>
						</div>
						<div class="box-tools">
							<button class="undo" ng-click="undoPost(brick.id)">
								<i class="fa fa-check"></i>
							</button>
							<button class="delete"ng-really-message="آیا میخواهید این پست پاک شود؟" ng-really-click="deletePost(brick.id)">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</div>
					<div class="clear"></div>
					<div class="modal fade userIinfoModal text-ri" id="userInfo" tabindex="-1" role="dialog" aria-labelledby="userIinfoModalLabel">
						<div class="loading" ng-show='loading'>
							<div id="mySpinner"  class="loader">Loading...</div>
						</div>
						<div class="modal-dialog" role="document" >
							<div class="modal-content">
								<div class="modal-header hidden-md hidden-lg">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								</div>
								<div class="modal-body">
									<div class="reporters-head">
										<div class="col-md-6">اطلاعات گزارش دهندگان</div>
										<div class="col-md-3">تعداد گزارش ها</div>
										<div class="col-md-3">گزارش های موثر</div>
										<div class="clear"></div>
									</div>
									<div class="reporters-info" ng-repeat="report in modalBrickReportrs">
										<div  class="col-md-6">
											<a href="" >
												<img ng-src="{[{report.avatar}]}">
											</a>
											<a href="">
												{[{report.username | limitTo: 15}]}
											</a>
										</div>
										<div class="col-md-3">125</div>
										<div class="col-md-3">2</div>
										<div class="clear"></div>	
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>
</section>
</div>