<div class="content-wrapper">
	<section class="content-header">
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> خانه</a></li>
			<li><a href="#">آمار</a></li>
			<li class="active">فعالیت های کاربران</li>
			<div class="clear"></div>
		</ol>
		<h1>
			پست های گزارش شده
		</h1>
		<div class="clear"></div>
	</section>
	<section class="content">
		<div class="row">
			<div id="feed" masonry load-images="false" reload-on-resize infinite-scroll='postItem.nextPage()' infinite-scroll-distance='1' style="width:1036px">
				<div ng-show='postItem.busy'>Loading data...</div>
				<div  class="masonry-brick" ng-repeat="brick in postItem.bricks">
					<div class="box box-solid photo">
						<a href=""><span class="fa fa-square-o pull-left"></span></a>
						<a href="">
							<img ng-src="{[{brick.images.thumbnail.url}]}" height="{[{brick.images.thumbnail.height}]}" width="{[{brick.images.thumbnail.width}]}">
						</a>
						<div class="user">
							<div class="clear"></div>
							<a href=""><img ng-src="{[{brick.user.avatar}]}"></a>
						</div>
						<div class="report-count">
							<a href=""  data-toggle="modal" data-target="#reporter-modal">
								<h5><span class="fa fa-flag-o"></span>{[{brick.cnt_report}]} گزارش تخلف</h5>
							</a>
						</div>
						<div class="reporters">
							<ul>
								<li ng-repeat="report in brick.reporter">
									<img ng-src="{[{report.detail.avatar}]}" title="user avatar">
								</li>
								<div class="modal fade" id="reporter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title" id="myModalLabel">گزارش دهندگان</h4>
											</div>
											<div class="modal-body">
												<div class="reporters" ng-repeat="brick in postItem.bricks">
													<div class="reporter-item" ng-repeat="report in brick.reporter">
														<div class="col-md-2">
															<a href="">
																<img ng-src="{[{report.detail.avatar}]}" title="user avatar">
															</a>
														</div>
														<div class="col-md-10 user-score">
															<h2>{[{report.profile.score}]}</h2>
														</div>
														<div class="clear"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</ul>
						</div>
						<div class="score">
							<label><i class="fa fa-star-o"></i>امتیازات :</label> <span>{[{brick.reporter_scores}]}</span>
						</div>
						<div class="dropdown user-info">
							<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								اطلاعات کاربر
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><a href="#">پست های حذف شده توسط مدیر</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</div>
						<div class="box-tools">
							<button class="undo">
								<i class="fa fa-check"></i>
							</button>
							<button class="delete" >
								<i class="fa fa-times"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>