<div class="content-wrapper">
	<section class="content-header">
		<ol class="breadcrumb">
			<li><a ui-sref="home"><i class="fa fa-dashboard"></i> خانه</a></li>
			<li class="active">پست های گزارش شده</li>
			<div class="clear"></div>
		</ol>
		<h1>
			پست های گزارش شده
		</h1>
		<div class="clear"></div>
	</section>
	<section class="content reported">
		<div class="select">
			<button class="button" ng-click="select = ! select;">انتخاب دسته ای پست ها</button>
			<span><a href="" ng-show="select" ng-click="batchDelete()"><i class="fa fa-trash"></i></a></span>
		</div>
		<div class="clear"></div>
		<div id="feed" load-images="false" class="resize" masonry reload-on-resize  infinite-scroll='postItem.nextPage()' infinite-scroll-distance='1'>
			<div ng-show='postItem.busy'>Loading data...</div>
			<div  class="masonry-brick" ng-repeat="brick in postItem.bricks">
				<div class="box box-solid photo" id="br-{[{brick.id}]}" postId="{[{brick.id}]}">
					<a href="" ng-show="select" ng-click="selectItem(brick.id)">
						<span ng-class="class" class="fa fa-square-o pull-left"></span>
					</a>
					<a href="{[{brick.permalink.web}]}">
						<img ng-src="{[{brick.images.thumbnail.url}]}" height="{[{brick.images.thumbnail.height}]}" width="{[{brick.images.thumbnail.width}]}">
					</a>
					<div class="user">
						<div class="clear"></div>
						<a href=""><img ng-src="{[{brick.user.avatar}]}"></a>
					</div>
					<div class="report-count">
						<a href=""  data-toggle="modal" data-target="#reporter-modal{[{brick.id}]}">
							<h5><span class="fa fa-flag-o"></span>{[{brick.cnt_report}]} گزارش تخلف</h5>
						</a>
					</div>
					<div class="reporters">
						<ul>
							<li ng-repeat="report in brick.reporter">
								<img ng-src="{[{report.detail.avatar}]}" title="user avatar">
							</li>
						</ul>
					</div>
					<div class="score">
						<label><i class="fa fa-star-o"></i>امتیازات :</label> <span>{[{brick.reporter_scores}]}</span>
					</div>
					<div class="dropdown user-info">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							اطلاعات کاربر
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li>بن:<span>{[{brick.user.banned}]}</span></li>
							<li>پست های حذف شده توسط ادمین:<span>{[{brick.user.cnt_admin_deleted}]}</span></li>
							<li>امتیاز کار بر:<span>{[{brick.user.score}]}</span></li>
							<li>پست های حذف شده توسط کاربر:<span>{[{brick.user.cnt_deleted}]}</span></li>
						</ul>
					</div>
					<div class="box-tools">
						<button class="undo" ng-click="undoPost(brick.id)">
							<i class="fa fa-check"></i>
						</button>
						<button class="delete" ng-click="deletePost(brick.id)">
							<i class="fa fa-times"></i>
						</button>
					</div>
					<div class="modal fade reporter-modal" id="reporter-modal{[{brick.id}]}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-repeat="report in brick.reporter">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">گزارش دهندگان</h4>
								</div>
								<div class="modal-body">
									<div class="reporters">
										<div class="reporter-item" ng-repeat="report in brick.reporter">
											<div class="col-md-2">
												<a href="">
													<img ng-src="{[{report.detail.avatar}]}" title="user avatar">
												</a>
											</div>
											<div class="col-md-10 user-score">
												<h2>{[{report.profile.score}]}</h2>
											</div>
											<div class="clear"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</section>
</div>