<div class="content-wrapper">
  <section class="content-header">
    <ol class="breadcrumb">
      <li><a ui-sref="home"><i class="fa fa-dashboard"></i> خانه</a></li>
      <li class="active">فعالیت های کاربران</li>
    </ol>
    <h1>
      فعالیت های کاربران
    </h1>
    <div class="clear"></div>
  </section>

  <section class="content user-activity">

    <div class="box box-info" ng-controller="followCtrl">
      <div class="box-header with-border">
        <h3 class="box-title hidden-xs">فالورها</h3>
        <div class="box-tools pull-right">
          <label>از تاریخ :</label>
          <input id="follow_start" type="text"/>
          <input id="follow_start_value" type="hidden"/>
          <label>تا تاریخ :</label>
          <input id="follow_end" type="text">
          <input id="follow_end_value" type="hidden"/>
          <a class="xs-setting" href="" ng-click="refresh_follows()"><i class="fa fa-refresh"></i></a>
          <a ng-show='loading' class="load-stat-activity"><i class="fa fa-refresh fa-spin"></i></a>
          <button class="btn btn-box-tool hidden-xs" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool hidden-xs" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div class="chart">
          <highchart class="chart-ltr" config="highchartsNG"  width='100%'></highchart>
        </div>
      </div>
    </div>

    <div class="box box-info" ng-controller="blockCtrl">
      <div class="box-header with-border">
        <h3 class="box-title hidden-xs">بلاک ها</h3>
        <div class="box-tools pull-right">
          <label>از تاریخ :</label>
          <input id="block_start" type="text"/>
          <input id="block_start_value" type="hidden"/>
          <label>تا تاریخ :</label>
          <input id="block_end" type="text">
          <input id="block_end_value" type="hidden"/>
          <a class="xs-setting" href="" ng-click="refresh_blocks()"><i class="fa fa-refresh"></i></a>
          <a ng-show='loading' class="load-stat-activity"><i class="fa fa-refresh fa-spin"></i></a>
          <button class="btn btn-box-tool hidden-xs" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool hidden-xs" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div class="chart">
          <highchart class="chart-ltr" config="highchartsNG"></highchart>
        </div>
      </div>
    </div>

    <div class="box box-info" ng-controller="likesCtrl">
      <div class="box-header with-border">
        <h3 class="box-title hidden-xs">لایک ها</h3>
        <div class="box-tools pull-right">
          <label>از تاریخ :</label>
          <input id="like_start" type="text"/>
          <input id="like_start_value" type="hidden"/>
          <label>تا تاریخ :</label>
          <input id="like_end" type="text">
          <input id="like_end_value" type="hidden"/>
          <a class="xs-setting" href="" ng-click="refresh_likes()"><i class="fa fa-refresh"></i></a>
          <a ng-show='loading' class="load-stat-activity"><i class="fa fa-refresh fa-spin"></i></a>
          <button class="btn btn-box-tool hidden-xs" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool hidden-xs" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div class="chart">
          <highchart class="chart-ltr" config="highchartsNG"></highchart>
        </div>
      </div>
    </div>

    <div class="box box-info" ng-controller="commentCtrl">
      <div class="box-header with-border">
        <h3 class="box-title hidden-xs">نظرات</h3>
        <div class="box-tools pull-right">
          <label>از تاریخ :</label>
          <input id="comment_start" type="text"/>
          <input id="comment_start_value" type="hidden"/>
          <label>تا تاریخ :</label>
          <input id="comment_end" type="text">
          <input id="comment_end_value" type="hidden"/>
          <a class="xs-setting" href="" ng-click="refresh_comments()"><i class="fa fa-refresh"></i></a>
          <a ng-show='loading' class="load-stat-activity"><i class="fa fa-refresh fa-spin"></i></a>
          <button class="btn btn-box-tool hidden-xs" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool hidden-xs" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
       <div class="chart">
        <highchart class="chart-ltr" config="highchartsNG"></highchart>
      </div>
    </div>
  </div>

  <div class="box box-info" ng-controller="userCtrl">
    <div class="box-header with-border">
      <h3 class="box-title hidden-xs">کاربران</h3>
      <div class="box-tools pull-right">
        <label>از تاریخ :</label>
        <input id="user_start" type="text"/>
        <input id="user_start_value" type="hidden"/>
        <label>تا تاریخ :</label>
        <input id="user_end" type="text">
        <input id="user_end_value" type="hidden"/>
        <a class="xs-setting" href="" ng-click="refresh_users()"><i class="fa fa-refresh"></i></a>
        <a ng-show='loading' class="load-stat-activity"><i class="fa fa-refresh fa-spin"></i></a>
        <button class="btn btn-box-tool hidden-xs" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <button class="btn btn-box-tool hidden-xs" data-widget="remove"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <div class="box-body">
      <div class="chart">
        <highchart class="chart-ltr" config="highchartsNG"></highchart>
      </div>
    </div>
  </div> 

  <script type="text/javascript">
    $(document).ready(function () {
      var d = new Date();
      var end_time = d.getTime();
      var start_time = end_time-604800000;
    //user
    $('#user_start').pDatepicker({
     timePicker: {
      enabled: true
    },
    altField: '#user_start_value',
    format: 'YYYY-MM-DD'
  });
    $("#user_start").pDatepicker("setDate", start_time);
    
    $('#user_end').pDatepicker({
      altField: '#user_end_value',
      format: 'YYYY-MM-DD'
    });
    //comment
    $('#comment_start').pDatepicker({
     timePicker: {
      enabled: true
    },
    altField: '#comment_start_value',
    format: 'YYYY-MM-DD'
  });
    $("#comment_start").pDatepicker("setDate", start_time);

    $('#comment_end').pDatepicker({
      altField: '#comment_end_value',
      format: 'YYYY-MM-DD'
    });
     //like
     $('#like_start').pDatepicker({
      timePicker: {
        enabled: true
      },
      altField: '#like_start_value',
      format: 'YYYY-MM-DD'
    });

     $("#like_start").pDatepicker("setDate", start_time);

     $('#like_end').pDatepicker({
      endDate: end_time,
      altField: '#like_end_value',
      format: 'YYYY-MM-DD'
    });
    //block
    $('#block_start').pDatepicker({
     timePicker: {
      enabled: true
    },
    altField: '#block_start_value',
    format: 'YYYY-MM-DD'
  });
    $("#block_start").pDatepicker("setDate", start_time);

    $('#block_end').pDatepicker({
      altField: '#block_end_value',
      format: 'YYYY-MM-DD'
    });
      //follow
      $('#follow_start').pDatepicker({
       timePicker: {
        enabled: true
      },
      altField: '#follow_start_value',
      format: 'YYYY-MM-DD',
    });
      $("#follow_start").pDatepicker("setDate", start_time);

      $('#follow_end').pDatepicker({
        altField: '#follow_end_value',
        format: 'YYYY-MM-DD',
      });
    });
</script>
</section>
</div>
