{% load rss_tags%}
{% load humanize %}
{% load thumbnail %}

{% for item in latest_items %}
	<div class="feed-item" >
		<a target="_blank" rel="nofollow" href="{{item.url}}">{{item.title}}</a>
		<p class="feed-description">{{item.description|striptags|truncatewords:25}}</p>
		<div class="img-block">
			{% thumbnail item.image "192" as im %}
				<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
			{% endthumbnail %}
		</div>
		<div class="feed-actions">
			<a href="{% url rss-item item.feed.id item.id%}"><i class="icon-flag"></i></a>
				
				<div class="a2a_kit a2a_default_style">
					<a class="a2a_dd" href="http://www.addtoany.com/share_save">Share</a>
					<span class="a2a_divider"></span>
					<a class="a2a_button_facebook"></a>
					<a class="a2a_button_twitter"></a>
					<a class="a2a_button_email"></a>
				</div>
							
		</div>
		<span data-next="{{item.timestamp}}" ></span>
		

	</div>

{% if request.is_ajax %}
	<script type="text/javascript">
		a2a_config.linkname = '{{item.title}}';
		a2a_config.linkurl = '{{item.url}}';
		a2a.init('page');
	</script>
{%endif%}
{% if not request.is_ajax %}
	{% if forloop.first%}
		<script type="text/javascript">
		a2a_config = {
		    linkname: '{{item.title}}',
		    linkurl: '{{item.url}}',
		    static_server: "{{MEDIA_URL}}sharing/",
		};
		</script>
		
		<script type="text/javascript" src="{{MEDIA_URL}}sharing/page.js"></script>
	{%else%}
		<script type="text/javascript">
			a2a_config.linkname = '{{item.title}}';
			a2a_config.linkurl = '{{item.url}}';
			a2a.init('page');
		</script>
	{%endif%}
{%endif%}



{%endfor%}