
<script type="text/javascript">
var feedobj = $('#feed-ul');
var loadingobj ;

feedobj.imagesLoaded( function(){
  feedobj.masonry({
    itemSelector : '.feed-item',
    isRTL: true,
    isAnimated: false,
  });
});

$('.feed-item').live({
    mouseenter:
       function()
       {
    	$(".feed-actions", this).stop().animate({bottom:'5px'},{queue:false,duration:160});
       },
    mouseleave:
       function()
       {
    	$(".feed-actions", this).removeAttr('style');
		$(".feed-actions", this).stop().animate({},{queue:false,duration:160});
       }
   }
);

function load_posts(page) {
    var url = "{{current_url}}";
    if (page) {
        url += '?older=' + page;
    }
    $.get(
        url,
        function(response) {
        	
        	var $boxes = $(response);

			$boxes.imagesLoaded( function(){
			  	feedobj.append( $boxes ).masonry( 'appended', $boxes );
				feedobj.masonry('reload');
				loadingobj.hide();
				start_loading=0;
			});
        }
    );
}
$(document).ready(function() {
	loadingobj = $(".loading");
    $(window).scroll(function() {
        var break_point = $(document).height() - ($(window).height() * 2.02);
        if ($(window).scrollTop() >= break_point) {
            var next_page = $('#feed-ul span:last').attr('data-next');
            if (next_page && start_loading==0) {
            	start_loading=1;
            	loadingobj.show();
                load_posts(next_page);
            }
        }
    });
});

</script>
{% if user.is_authenticated%}
<script type="text/javascript">
	$(".btn_like").live('click',function(){
		var obj = $(this);
		obj.addClass('disabled');
		var like_url=obj.attr('href');
		$.ajax({
            url: like_url,
            success: function(html) {
            	ret = html;
            	
            	var o = jQuery.parseJSON(ret);
            	
            	obj.html('<i class="icon-heart"></i>'+o[0].likes);
            	obj.removeClass('disabled');
            	
            	if (o[0].user_act == 1){
            		obj.addClass('btn-danger');
            	}else{
            		obj.removeClass('btn-danger');
            	}
            }
        });
        return false;
	});
</script>
{%else%}

<script type="text/javascript">
	$(".btn_like").live('click',function(){
		alert('ابتدا وارد سایت شوید');
        return false;
	});
</script>
{%endif%}
