{% extends "base/main.html"%}

{% load rss_tags %}
{%load cache %}

{% block title %} - {{feed.title}} {% endblock title %}

{% block extra_js %}
<script src="{{MEDIA_URL}}js/jquery.masonry.min.js"></script>
{% endblock extra_js %}


{% block content %}

<script type="text/javascript">
var start_loading=0
</script>

<div class="row row-fluid">

	<div class="span12">
	<div id="feed-ul">
		{% include "rss/_items.html"%}
	</div>
	</div>
</div>

<script type="text/javascript">

var $container = $('#feed-ul');

$container.imagesLoaded( function(){
  $container.masonry({
    itemSelector : '.feed-item',
    isRTL: true,
    isAnimated: true,
  });
});

$('.feed-item').hover(function(){
	$(".feed-actions", this).stop().animate({bottom:'5px'},{queue:false,duration:160});
		}, function() {
			$(".feed-actions", this).removeAttr('style');
			$(".feed-actions", this).stop().animate({},{queue:false,duration:160});
}); 
</script>
{% include "rss/paging_items.html" %}

{% endblock content %}