{% extends "base/main.html"%}

{% load rss_tags %}
{%load cache %}

{% block title %} - {{feed.title}} {% endblock title %}

{% block extra_js %}
<script src="{{MEDIA_URL}}js/jquery.masonry.min.js"></script>
{% endblock extra_js %}


{% block content %}

<script type="text/javascript">
var start_loading=0
</script>

<div class="row row-fluid">

	<div class="span12">
	<div id="feed-ul">
		{% include "rss/_items.html"%}
	</div>
	</div>
</div>

{% include "rss/feed_scripts.html" %}

{% endblock content %}