
<script type="text/javascript">
var feedobj = $('#feed-ul');
var loadingobj = $(".loading");

feedobj.imagesLoaded( function(){
  feedobj.masonry({
    itemSelector : '.feed-item',
    isRTL: true,
    isAnimated: true,
  });
});

$('.feed-item').live({
    mouseenter:
       function()
       {
    	$(".feed-actions", this).stop().animate({bottom:'5px'},{queue:false,duration:160});
       },
    mouseleave:
       function()
       {
    	$(".feed-actions", this).removeAttr('style');
		$(".feed-actions", this).stop().animate({},{queue:false,duration:160});
       }
   }
);
</script>

<script type="text/javascript">

function load_posts(page) {
    var url = "{{current_url}}";
    if (page) {
        url += '?older=' + page;
    }
    $.get(
        url,
        function(response) {
        	
        	var $boxes = $(response);

			$boxes.imagesLoaded( function(){
			  	feedobj.append( $boxes ).masonry( 'appended', $boxes );
				feedobj.masonry('reload');
				loadingobj.hide();
				start_loading=0;
			});
        }
    );
}
$(document).ready(function() {
    $(window).scroll(function() {
        var break_point = $(document).height() - ($(window).height() * 2.02);
        if ($(window).scrollTop() >= break_point) {
            var next_page = $('#feed-ul span:last').attr('data-next');
            if (next_page && start_loading==0) {
            	start_loading=1;
            	loadingobj.show();
                load_posts(next_page);
            }
        }
    });
});

</script>