{% extends "base/main.html"%}

{% load rss_tags %}
{%load cache %}

{% block extra_js %}
<script src="{{MEDIA_URL}}js/jquery.masonry.min.js"></script>
{% endblock extra_js %}


{% block content %}

<script type="text/javascript">
var start_loading=0
</script>

<div class="row row-fluid">

	<div class="span12">
	<div id="feed-ul">
		{% include "rss/_items.html"%}
	</div>
	</div>
</div>

<script type="text/javascript">
$('#feed-ul').masonry({
    // options
    itemSelector : '.feed-item',
    isRTL: true,
    isAnimated: true,
});
</script>
{% include "rss/paging_items.html" %}

{% endblock content %}