{% extends "base/main.html"%}
{% block title%}{{item.title}}{% endblock title%}
{% load rss_tags %}
{%load cache %}
{% block content %}

<script type="text/javascript">
var start_loading=0
</script>

<div class="row row-fluid">
	<div class="span12">
	<ul id="feed-ul">
		<li data-next="{{item.timestamp}}">
		<div class="feed-card" id="">
			<div class="feed-inner">
				<a class="feed-item-title" target="_blank" href="{{item.url}}">{{item.title}}</a>
				<div class="feed-item-desc">{{item.description|safe|linebreaksbr}}</div>		
			</div>
			<div class="feed-item-bottom">
				<div class="feed-item-actions">
		            <div class="feed-item-date">{{item.timestamp|date_from_timestamp}}</div>
		            <div>{{item.url|get_host}}</div>
				</div>
			</div>
		</div>
	</li>
	</ul>
	</div>
</div>


{% endblock content %}