<script type="text/javascript">
function load_posts(page) {
    var url = "{{current_url}}";
    if (page) {
        url += '?older=' + page;
    }
    $.get(
        url,
        function(response) {
        	$(".loading").hide();
        	var $boxes = $(response);

			$boxes.imagesLoaded( function(){
			  	$('#feed-ul').append( $boxes ).masonry( 'appended', $boxes );
				$("#feed-ul").masonry('reload');
				start_loading=0;
			});
        }
    );
}
$(document).ready(function() {
    $(window).scroll(function() {
        var break_point = $(document).height() - ($(window).height() * 2.02);
        if ($(window).scrollTop() >= break_point) {
            var next_page = $('#feed-ul span:last').attr('data-next');
            if (next_page && start_loading==0) {
            	start_loading=1;
            	$(".loading").show();
                load_posts(next_page);
            }
        }
    });
});

</script>