{% extends "base/main.html"%}

{% block extra_js %}
<script src="{{MEDIA_URL}}js/jquery.masonry.min.js"></script>
{% endblock extra_js %}

{% block title%} - {{q}}{% endblock title%}
{% block content%}

<script type="text/javascript">
var start_loading=0;
</script>

<div class="row row-fluid">

	<div class="span12">
		{% include 'rss/feed_subscribe.html'%}
		
	<div id="feed-ul">
		{% include "rss/_items.html"%}
	</div>
	</div>
</div>

<script type="text/javascript">
var a_url = 'search';
var extend_query='q={{q|safe}}'
</script>


{% include "rss/feed_scripts.html" %}

{% endblock content%}
