{% extends "base/main.html"%}

{% block extra_js %}
<script src="{{MEDIA_URL}}js/jquery.masonry.min.js"></script>
<script src="{{MEDIA_URL}}js/jquery.tagcloud.js"></script>
{% endblock extra_js %}

{% block content%}

<script type="text/javascript">
var start_loading=0;
</script>

<div class="row row-fluid">

	<div class="span12">
		{% include 'rss/feed_subscribe.html'%}
		
	<div class="well">
		<div id="tagcloud">
		{% for tags in sobj%}
		<a href="/tag/{{tags.slug}}" rel="{{tags.count}}">{{tags.keyword}}</a>
		{%endfor%}
		</div>
		
		<script type="text/javascript">
	$.fn.tagcloud.defaults = {
      size: {start: 14, end: 18, unit: 'pt'},
      color: {start: '#cde', end: '#f52'}
    };

    $(function () {
      $('#tagcloud a').tagcloud();
    });
		</script>
		
	</div>
	</div>
</div>

<script type="text/javascript">
var a_url = 'search';
var extend_query='q={{q|safe}}'
</script>


{% include "rss/feed_scripts.html" %}

{% endblock content%}
