
/***********log in ******/
.login {
    margin-top: 100px;
    position: relative;
}
.dashed-border{
    border-bottom: 1px dashed #dddfe2;
    margin-bottom: 50px;
}
.login .username{
    height: 45px;
    width: 90%;
    border-radius: 20px 20px 0 20px ;
    background-color: #feffff;
    margin: 15px 0;
    box-shadow: 0 1px #e2e4e7;
    font-size: 10px;
    color: #cfd4db;
}
.login .username input{
    background-color: transparent;
    border: medium none;
    height: 50px;
    padding-right: 40px !important;
    width: 90%;
}
.login .password{
    height: 45px;
    width: 90%;
    border-radius: 20px 20px 0 20px;
    background-color: #feffff;
    margin: 15px 0;
    box-shadow: 0 1px #e2e4e7;
    font-size: 10px;
    color: #cfd4db;
}
.login .password input{
    background-color: transparent;
    border: medium none;
    height: 50px;
    padding-right: 40px;
    width: 90%;
}
.login .login-button {
    bottom: -15px;
    position: relative;
    padding: 0px;
}
.login .login-button button{
    background: #ff8201;
    padding: 12px 30px;
    box-shadow: 0 1px #979ca3;
    border:none;
    border-radius: 40px 40px 0 40px;
    color: #fff;
    right: 20px;
    font-size: 12px;
    float: left;
}

.upload-photo{

}
.upload-photo .photo-info .info-box {
    background-color: #f9fbfe;
    border-radius: 30px 30px 30px 0;
    text-align:right;
    padding: 15px;
    font-size: 11px;
    box-shadow: 0 2px #e2e4e7;
    margin-bottom: 20px;
    position: relative;
}
.upload-photo .photo-info .info-box span{
    float: left;
    position: relative;
    top: 5px;
}
.upload-photo .photo-info .info-title {
    padding-right: 15px; 
}
.upload-photo .photo-info .info-title span{
    color: #a3a4a8;
}
.upload-photo .photo-info {
    padding: 20px;
}
.upload-photo .photo-info .subject{
    margin: 20px 0;
}
.upload-photo .photo-info .photo-description .info-box {

    background-color: #fff;
}
.upload-photo .photo-info .photo-description textarea{
    border: none;
    background: transparent;
    width: 100%;
}
.upload-photo .photo-info input {
    border:none;
    background: transparent;
    width: 100%;
}
.upload-photo .photo-info .URL input {
    text-align: left;
}
.upload-photo .photo-info .subject a{
    color: #a3a4a8;
    padding-right: 30px;
}
.upload-photo .photo-info .subject-dropdown {
    color: #a3a4a8;
    font-size: 11px;
    padding-right: 15px;
    top: 30px;
    position: absolute;

}
.upload-photo .photo-info .dropdown-menu{
    background-color: #f9fbfe;
    box-shadow: none;
    border: none;
}
.upload-photo .set-photo a{
    color: #000;
}
.upload-photo .set-photo {
    background-color: #fff;
    border-radius: 30px 30px 0 30px;
    width: 100%;
    text-align: center;
    margin: 20px 0;
    font-size: 11px;
    
}
.upload-photo  .set-photo .photo img {
    padding: 40px;
    padding-top: 30px !important;
    width: 100%;
    border-radius: 20px;
}
.upload-photo  .set-photo .edit img{
    padding: 40px;
    padding-bottom: 10px;
}
.friends ul li{
    padding: 10px 0;
    display: table;
    color: #4c535c;
}
.friends li{
    border-bottom: 1px solid #e2e4e7;
}
.friends-dropdown {
    background-color: #f0f2f5;
    border-radius: 0px;
    box-shadow: none;
    border: none;
    font-size: 13px;
    position: absolute;
    padding: 0px;
    
}


.dropdown-menu-large {
    padding: 20px 0px;
    left: 0;
}
.dropdown-menu-large > li > ul {
    padding: 0;
    margin: 0;
}
.dropdown-menu-large > li > ul > li {
    list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
    color: #428bca;
    font-size: 18px;
}
.dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
}
.dropdown-menu-large > li {
    margin-bottom: 30px;
}
.dropdown-menu-large > li:last-child {
    margin-bottom: 0;
}
.dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
}

.follow_box .flw_posts {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
.follow_box .flw_posts > a{
    display: block;
    height: 67px;
    overflow: hidden;
    float: right;
    margin-left: 1px;
    width: 24.7%;
}
.follow_box .flw_posts a.empty{
    background: #f9f9f9;
    border: 1px dashed #ddd;
}

.follow_box .flw_posts > a:last-child{
    margin: 0;
}
.follow_box .flw_posts > a img{
    width: 100%;
}
.follow_box .flw_posts > a.l img{
    height: 67px;
    width: auto;
}