{% extends "base/main.html"%}
{% load rss_tags %}
{%load cache %}

{% block content %}

<div class="row row-fluid">
	<div class="span12">
		<div id="feed-ul-v2">
            {% for cat in cats %}
            {% if cat.items %}
			<div class="box" style="">
                <div class="box-title">
                    {{cat.name}}
                </div>
                <div class="box-content">
                <ul>
                    {% for item in cat.items %}
                    <li>
                    <a href="{{item.get_absolute_url}}"><img class="favicon" alt="{{item.feed.url}}" src="{{MEDIA_URL}}favicon/{{item.feed.url|get_favicon}}" />{{item}}</a>
                    </li>
                    {% endfor %}
                </ul>
                </div>
            </div>
            {% endif %}
            {% endfor %}
		</div>
	</div>
</div>


{% endblock content %}
