{% extends "base/main.html"%}

{% load rss_tags %}
{%load cache %}

{% block title %} - {{feed}} {% endblock title %}
{%block description%}{{feed}}{%endblock%}

{% block current_feed %}
<li class="nav-right active">
	<a href="#"><h1 style="display: inline">{{feed|truncatewords:10}}</h1>
	{%if user.is_authenticated%}
		{% user_feed_subs feed.id %}
		{% if user_feed_subs_status == 0 %}
		<span rel="{% url "rss-feed-sub" feed.id%}" class="feed-sub label label-success">اشتراک</span>
		{%else%}
		<span rel="{% url "rss-feed-sub" feed.id%}" class="feed-sub label label-inverse">لغو اشتراک</span>
		{%endif%}		
	{%endif%}
	</a>
</li>

{% endblock current_feed %}

{% block content %}

<script type="text/javascript">
var start_loading=0
</script>

<div class="row row-fluid">
	<div class="">
		
		<div class="clearfix"></div>
{%if dates %}
        <div class="box">
            <div class="box-title">نمودار</div>
<div class="box-content">

            <script src="{{MEDIA_URL}}js/hc/highcharts.js"></script>
            <script src="{{MEDIA_URL}}js/hc/modules/exporting.js"></script>
            
            <div id="feed-statics" style="min-width: 400px; height: 200px; margin: 0 auto;direction:ltr"></div>
<script type="text/javascript">
$(function () {
        $('#feed-statics').highcharts({
            chart: {
                type: 'spline'
            },
            credits:{
                enabled: false
            },
            title: {
                text: 'آمار روزانه فید'
            },
            xAxis: {
                categories: [{%for d in dates %}"{{d}}", {%endfor%} ]
            },
            yAxis: {
                title: {
                    text: 'تعداد مطالب'
                },
                min:0,
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                },

            },
            series: [{
                name: '',
                marker: {
                    symbol: 'square'
                },
                data: [{{counts|join:','}}]
    
            }]
        });
    });
</script>
</div>
        </div>
{%endif%}
		<div id="feed-ul-v2">
			{% include "rss/_items.html"%}
		{% if older_url %}
		<div id="older_url">
			<a style="color: #CDCDCD" href="{{older_url}}">next</a>
		</div>
		{% endif%}
		</div>
	</div>

</div>

{% include "rss/feed_scripts_v3.html" %}

{% endblock content %}
