<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{item.title}}</title>
<link rel="canonical" href="http://www.wisgoon.com{{item.get_absolute_url}}" />
<style type="text/css">
.ads{
	width: 100%;
	top:0 ;
	border-bottom: 1px solid #e1e1e1;
	height: 90px;
	text-align: center;
	position: fixed;
	background: #FFF;
}
#content-show{
	margin-top: 90px;
	padding:0 ;
}
</style>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35424332-1']);
  _gaq.push(['_setDomainName', 'wisgoon.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

function ana_ajax(url){
	_gaq.push(['_trackPageview', url]);
}

</script>
</head>
<body>
	<div class="ads">
		<script type="text/javascript"> 
 var anetwork_pram = anetwork_pram || []; 
 anetwork_pram['aduser'] = '1377550367'; 
 anetwork_pram['adheight'] = '90'; 
 anetwork_pram['adwidth'] = '728'; 
 </script> 
 <script type="text/javascript" src="http://static-cdn.anetwork.ir/showad/pub.js"></script>
<a href="{{item.get_absolute_url}}">بازگشت</a>
	</div>
	<div id="content-show">
	<iframe class="resize-to-window" scrolling="auto" frameborder="0" id="iframe" src="{{item.url|safe}}" allowtransparency="true" style="width: 100%; height: 100%;"></iframe>
	</div>
</body>
</html>