{% extends "base/main.html"%}

{% block title%} - {{item}}{% endblock title%}
{%block description%}{{item}} - {{item.description|striptags|truncatewords:25}}{%endblock%}

{% load rss_tags %}
{% load daddy_avatar %}
{%load comments%}

{% block current_feed %}
<li class="nav-right">
	<a href="{{feed.get_absolute_url}}"><h2>{{feed}}</h2></a>
</li>
{% endblock current_feed %}

{% block content %}

<script type="text/javascript">
var start_loading=0
</script>

<div class="row row-fluid">
	<div class="span12">
	<div id="feed-ul-v2">
	<ul id="feed-ul-item-v2" style="margin: 0;padding: 0;list-style: none">
		<li data-next="{{item.timestamp}}">
		<div class="feed-card" id="">
			<div class="feed-inner">
				<a class="feed-item-title" style="display:inline" target="_blank" rel="nofollow" href="{{item.url}}"><i class="icon-globe"></i></a>
                <h1 style="display:inline">{{item}}</h1>
				<div class="feed-item-desc">{{item.description|safe|linebreaksbr}}</div>		
			</div>
			<div class="feed-item-bottom">
				<div class="feed-item-actions">
                <div style="float:left;">
                <!-- start ersalb.ir -->
                <div class="mainErBe">
                <div class="be"></div>
                <script type="text/javascript">if (typeof jQuery == 'undefined') {
                    var script = document.createElement('script');
                    script.type = "text/javascript";
                    script.src = "http://ersalb.ir/media/js/jquery-1.9.1.min.js";
                    document.getElementsByTagName('head')[0].appendChild(script);
                }</script>
                <script type="text/javascript" src="http://ersalb.ir/media/userScripts/78d61117541f0512bd171341ff17467c.js"></script>
                </div>
                <!-- end of ersalb.ir -->
                </div>
		            <div class="feed-item-date">{{item.timestamp|date_from_timestamp}}</div>
		            <div>{{item.url|get_host}}</div>
		            <div>
		            	<ul class="tags">
							{% for tag in item.tags %}
								<li><a class="label label-info" href="{% url tag tag%}">{{tag}}</a></li> 
							{% endfor %}
						</ul>
		            </div>
				</div>
			</div>
			<div class="comments">
				{% get_comment_count for rss.item 14 as comment_count %}
				{% get_comment_form for item as form %}
<legend>ارسال نظر</legend>
  <form action="{% comment_form_target %}" method="post" class="form-inline">

    {% csrf_token %}
    
    <textarea id="id_comment" rows="3" cols="40" name="comment" placeholder="نظر خود را وارد کنید" ></textarea>
	
	
        <input type="submit" class="btn btn-primary" name="submit" value="ارسال">
    
    {{form.content_type}}
    {{form.object_pk}}
    {{form.timestamp}}
    {{form.security_hash}}
  </form>

<ul id="comments">
{% get_comment_list for item as comment_list %}
{% for comment in comment_list %}
<li class="comment_box">
	<div class="comment">
        <div class="arrow reply_arrow icon_link"></div>
    	<div class="comment_side">
        	<div class="avatar">
            	
            		<img src="{{comment.email|daddy_avatar:36}}" alt="">
            	
            </div>
        </div>
        <div class="comment_main">
        	<div class="comment_header">
           		<div class="author">
					{{comment.user_name}}
				</div>
            </div>
            <div class="comment_content"> {{comment.comment}}</div>
        </div>
    </div>
</li>
{% endfor %}
</ul>
			</div>
		</div>
	</li>
	</ul>
	
		{% include "rss/_items.html"%}
		{% if older_url %}
		<div id="older_url">
			<a style="color: #CDCDCD" href="{{older_url}}">next</a>
		</div>
		{% endif %}
	</div>
	</div>
	
	
</div>
<script type="text/javascript">
var a_url = '../../../feed/{{feed.id}}';
</script>
{% include "rss/feed_scripts_v3.html" %}

{% endblock content %}
