{% extends "base/main.html"%}

{% block title%} - {{q}}{% endblock title%}
{%block description%}{{q}}{%endblock%}

{% block current_feed %}
<li class="nav-right active">
	<a href="#"><h1 style="display: inline">{{q}}</h1></a>
</li>
{% endblock current_feed %}

{% block content%}

<script type="text/javascript">
var start_loading=0;
</script>

<div class="row row-fluid">

	<div class="span12">
		{% include 'rss/feed_subscribe.html'%}
		
	<div id="feed-ul-v2">
		{% include "rss/search_tools.html"%}
		{% include "rss/_items.html"%}
	</div>
	</div>
</div>

<script type="text/javascript">
var a_url = 'search';
var extend_query='q={{q|safe}}&sort={{sort}}'
</script>


{% include "rss/feed_scripts_v2.html" %}

{% endblock content%}
