{% extends "base/main.html"%}

{% block extra_js %}
<script src="{{MEDIA_URL}}js/jquery.tagcloud.js"></script>
{% endblock extra_js %}

{% block title  %} - جستجو {%endblock title%}

{% block content%}

<script type="text/javascript">
var start_loading=0;
</script>

<div class="row row-fluid">

	<div class="span12">
		{% include 'rss/feed_subscribe.html'%}
		
	<div class="well">
		<form class="form-search" method="get" action="{% url rss-search %}">
			    <input type="text" name="q" class="">
			    <button type="submit" class="btn">جستجو</button>
		</form>
		<div id="tagcloud">
		{% for tags in sobj%}
		<a href="{% url tag tags.slug %}" rel="{{tags.count}}" style="padding-right: 10px">{{tags.keyword}}</a>
		{%endfor%}
		</div>
		
		<script type="text/javascript">
	$.fn.tagcloud.defaults = {
      size: {start: 11, end: 22, unit: 'pt'},
      //color: {start: '#000', end: '#AAA'}
    };

    $(function () {
      $('#tagcloud a').tagcloud();
    });
		</script>
		
	</div>
	</div>
</div>

<script type="text/javascript">
var a_url = 'search';
var extend_query='q={{q|safe}}'
</script>


{% include "rss/feed_scripts.html" %}

{% endblock content%}
