{% extends "pin2/flat.base.box.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %} {% trans "Log in" %} {% endblock%}

{% block content %}

<div class="login wis_form box ofh mato50">
	<div class="logo_box">
		<div class="wis_new_logo w100">
			<img src="{{MEDIA_URL}}v2/images/new_logo.png" alt="">

			<div class="download_app mato20 mabo50">
				<p>{%trans "Android software download"%}</p>
				<a class="wis_btn green" href="http://cafebazaar.ir/app/ir.mohsennavabi.wisgoon/?l=fa">{%trans "Download from bazzar"%}</a>
				<a class="wis_btn orange" href="http://static.wisgoon.com/media/app/latest.apk">{%trans "Direct download"%}</a>

			</div>
		</div>
	</div>
	<div class="form_box">
		<form method="post" class="form" >
			{% csrf_token %}
			<div class="form-group with_icon">
				<label>{{form.username.label}}</label>
				{% trans "username" as username %}
				{% render_field form.username class+="form-control ltr wis_input" placeholder='username' %}
				<span class="icon username"></span>
			</div>
			<div class="form-group with_icon">
				<label>{{form.password.label}}</label>
				{% trans "password" as password %}
				{% render_field form.password class+="form-control ltr wis_input" placeholder='password' %}
				<span class="icon password"></span>
			</div>
			<p>
				<a href="/accounts/password/reset/">{%trans "Forgot your password?"%}</a>
			</p>
			<p>
				<a href="/accounts/register/">{%trans "If you have not registered ,click here"%}</a>
			</p>
			
			<div class="tace">
				<input type="submit" value='{%trans "log in"%}' class="wis_btn orange mato50 mabo50 w50">
			</div>
		</form>
	</div>
	<div class="clear"></div>

</div>

{% endblock %}