{% extends "pin2/flat.base.box.html" %}

{% load widget_tweaks %}

{% block title %}ریست کردن رمز عبور{% endblock %}

{% block content %}

<div class="panel panel-default">
	<div class="panel-heading">ورود
	</div>
	<div class="panel-body">

	<span id="helpBlock" class="help-block">اگر رمز عبور خود را فراموش کرده اید ایمیل خود را وارد کنید تا برای شما پسوردی جدید بفرستیم</span>

<form method='post' action='' class ="form-inline">
	{% csrf_token %}
	<div class="form-group">
		{% render_field form.email class+="form-control ltr" placeholder="E-mail" %}
		<span id="helpBlock" class="help-block">{{form.errors.email.0}}</span>
	</div>
    <!-- {{ form }} -->
    <br>
    
	<input class="btn btn-primary form-control" type='submit' value="دریافت رمز عبور جدید" />


</form>
</div>
</div>

{% endblock %}